@include animFadeIn;

.PromoBox {
	@include fadeInOnce(1s);
	align-self: stretch;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-size: calc(min(10px, 5vw));
	min-height: 300px;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition: box-shadow 0.3s;
	width: 100%;

	&:before {
		@include bg;
		background-color: rgba($blue, 0.5);
		content: "";
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		transition: opacity 0.3s;
		z-index: 1;
	}

	&:hover {
		box-shadow: 6px 6px 20px rgba(#000, 0.3);

		&:before {
			opacity: 1;
		}

		.CTA {
			$colors: ("red": $red, "teal": $teal);

			@each $name,
			$color in $colors {
				&.#{$name} {
					border: 1px solid $color;
					color: $color;
				}
			}

			background-color: #FFF;
		}
	}

	.wrap {
		@include flexCenter;
		background-color: rgba($blue, 0);
		border-radius: 4rem;
		height: 100%;
		margin: 0;
		overflow: hidden;
		padding: 6em 20px;
		width: 100%;
		z-index: 10;
	}

	.img {
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
		transition: opacity 0.3s;
		width: 100%;
		z-index: 10;
	}

	.tagline {
		color: #FFF;
		font-size: 2.6em;
		line-height: 120%;
		max-width: 100%;
		text-align: center;
		z-index: 10;
	}

	.CTA {
		flex: 0 0 auto;
		font-size: 1.8em;
		height: auto;
		margin: 1.6em auto 0;
		max-height: none;
		min-height: 2.2em;
		padding: 0.65em 1.8em 0.6em;
		pointer-events: none;
		white-space: normal;
		width: auto;
		z-index: 10;
	}
}

.pb_set_demo_trial {
	background-color: #F2F5FF;
	display: grid;
	height: auto;
	padding: 0;
	place-items: center;

	&:before {
		display: none;
	}

	.wrap {
		padding-bottom: 3em;
		padding-top: 3em;
	}

	.icon {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 10em;
		margin: 0 auto;
		width: 10em;
	}

	.text {
		align-items: center;
		display: flex;
		flex-flow: column nowrap;
		margin-top: 2em;
	}

	.tagline {
		@include fontReg;
		color: $blue;
		font-size: 2em;
		line-height: 125%;
		margin: 0 auto;
		text-align: center;
		text-transform: none;

		em {
			font-style: normal;
			font-weight: inherit;
			white-space: nowrap;
		}
	}

	.CTA {
		border: 0 none;
		color: #FFF;
		margin-bottom: 0.8em;
		pointer-events: all;

		&:hover {
			color: #FFF;
			opacity: 0.6;
		}
	}

	.learn_more {
		display: block;
		font-size: 1.8em;
		line-height: 100%;
	}

	&:hover {
		box-shadow: none;
	}
}

#pb_demo {
	.icon {
		background-image: url("../../img/icons/demo.svg");
	}

	.tagline {
		max-width: 28ch;
	}

	.CTA {
		background: linear-gradient(180deg, #0ED1CE 0%, #00C8FF 28.65%, #035ED2 100%);
		padding: .65em 1.8em .6em;

		&:hover {
			.inner {
				background-color: #FFF;
				color: #00C8FF;
			}
		}
	}
}

#pb_free_trial {
	.icon {
		background-image: url("../../img/icons/free_trial.svg");
	}

	.tagline {
		max-width: 20ch;
	}

	.CTA {
		background: linear-gradient(359.55deg, #FF0000 0.36%, #FF6A00 98.71%);
		padding: .65em 1.8em .6em;

		&:hover {
			.inner {
				background-color: #FFF;
				color: #FF6A00;
			}
		}
	}
}

#pb_ebook_7_habits {
	background-image: url("../../img/resources/promobox_bg_ebook_7_habits.jpg");

	.tagline {
		@include fontAltBold;
		font-size: 3em;
		font-weight: normal;
		line-height: 150%;
		max-width: 25ch;
		text-shadow: 2px 2px 1rem $blue, 2px 2px 1rem $blue, 2px 2px 1rem $blue, 4px 4px 2rem $blue;
	}
}

#pb_ebook_adding_digital_to_your_ooh_network {
	background-image: url("../../img/resources/promobox_ebook_adding_digital_to_your_ooh_network.jpg");
	padding-bottom: 4em;
	padding-top: 4em;

	.tagline {
		@include fontBolder;
		margin-bottom: 0;
		max-width: 14em;
		text-shadow: 2px 2px 4px $blue, 2px 2px 4px $blue, 2px 2px 2px $blue;
	}
}

#pb_ebook_campsite_add_real_world_kick {
	align-items: center;
	background: linear-gradient(to right bottom, #18D7AA 0%, #001464 100%);
	display: flex;
	font-size: calc(min(5vw, 24px));

	&:before {
		display: none;
	}

	.wrap {
		justify-content: center;
		padding: 1.5em 1em;
	}

	.img {
		background-image: url("../../img/promoboxes/broadsign_ads_logo.svg");
		background-size: contain;
		flex: 0 0 5em;
		height: auto;
		margin: 0 auto 1em;
		max-width: 100%;
		width: 260px;
	}

	.inner {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		text-align: left;
		width: 100%;
	}

	.tagline {
		@include fontBold;
		font-size: 1em;
		margin: auto auto 1em;
	}

	.CTA {
		align-items: center;
		border: 1px solid #FFF;
		border-radius: 100px;
		color: #FFF;
		display: flex;
		font-size: 0.6em;
		height: 3.2em;
		justify-content: center;
		margin: auto auto 0;
		max-height: none;
		transition: background-color 0.3s, color 0.3s;

		span {
			@include fontLight;
			transform: none;
			white-space: nowrap;

			&.hover {
				display: none;
			}
		}
	}

	&:hover {
		.CTA {
			.normal {
				color: $reflex;
			}
		}
	}
}

#pb_ebook_increase_revenue_in_store_media {
	background-image: url("../../img/promoboxes/ebook_increase_revenue_in_store_media_bg.jpg");
	font-size: calc(min(10px, 2.2vw));

	.wrap {
		height: auto;
		justify-content: flex-end;
		min-height: 100%;
		padding: 3em 4em 0;
	}

	.tagline {
		@include fontBold;
		align-items: flex-end;
		display: inline-flex;
		flex: 1 1 30%;
		font-size: 3em;
		max-width: 24ch;
	}

	.img {
		background-image: url("../../img/promoboxes/ebook_increase_revenue_in_store_media.png");
		background-position: bottom center;
		flex: 1 1 40%;
		height: 40%;
		margin-top: 1em;
		min-height: 15em;
	}

	.CTA {
		background-color: $pink;
		border: 0 none;
	}

	&:hover .CTA {
		background-color: $teal;
		color: #FFF;
	}
}

#pb_ebook_interactive_content {
	background-image: linear-gradient(358deg, #F4F4F4 0%, #F4F4F4 60%, #9FD7EF 100%);

	.img {
		background-image: url("../../img/resources/promobox_ebook_interactive_content.png");
		flex: 0 0 75%;
		height: 75%;
		margin-top: -4em;
		min-height: 16em;
	}

	.tagline {
		@include fontBolder;
		color: $blue;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}
}

#pb_ebook_media_buyers_pdooh {
	$purple: #2E2576;
	$magenta: #971949;
	background-color: $purple;
	height: auto;
	padding: 0;
	transition: background-color 0.6s;

	&:before {
		display: none;
	}

	.wrap {
		border-radius: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
		padding: 4.2em 0 2.4em;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}

	.blob1 {
		background: linear-gradient(to bottom right, #971949 20%, #2E2576 40%, #2E2576 50%, #971949 80%);
		border-radius: 100%;
		filter: blur(20px);
		height: 70vw;
		left: -40%;
		max-height: 400px;
		max-width: 1000px;
		position: absolute;
		top: -15%;
		width: 130vw;
	}

	.blob2 {
		background-color: $magenta;
		border-radius: 100%;
		bottom: 0;
		filter: blur(30px);
		height: 20vw;
		left: 50%;
		max-height: 400px;
		max-width: 600px;
		position: absolute;
		transform: translate(-30%, 50%);
		width: 90vw;
	}

	.blob3 {
		background-color: $magenta;
		border-radius: 100%;
		filter: blur(80px);
		height: 20vw;
		left: 60%;
		max-height: 320px;
		max-width: 360px;
		position: absolute;
		top: 0;
		transform: translate(50%, -10%);
		width: 30vw;
	}

	.text {
		width: 100%;
	}

	.tagline {
		@include fontReg;
		margin-bottom: 1em;
		max-width: 19ch;
		text-align: left;
	}

	.CTA {
		background-color: rgba(#FFF, 0);
		border: 2px solid #FFF;
		border-radius: 100px;
		color: #FFF;
		font-size: 1.6em;
		letter-spacing: 3px;
		margin: 0 0 2em;
		padding: 0 2em;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.booklet {
		background: transparent url("../../img/billboards/ebook_media_buyers_pdooh.png") no-repeat;
		background-size: contain;
		height: 100%;
		margin: 0;
		max-height: 170px;
		max-width: 350px;
		min-height: 14em;
		transform: none;
		width: 100%;
	}

	&:hover {
		background-color: darken($purple, 10);

		.CTA {
			background-color: rgba(#FFF, 0.4);
		}
	}
}

#pb_ebook_modernize_ooh_business {
	$qBlue: #0033A1;
	background-image: url("../../img/resources/promobox_ebook_modernize_ooh_business.jpg");
	height: 22rem;

	&:before {
		background-color: rgba($qBlue, 0.5);
	}

	.wrap {
		font-size: 1.1em;
		justify-content: flex-end;
		padding-bottom: 4em;
	}

	.CTA {
		background-color: $qBlue;
		border-color: $qBlue;
		box-shadow: 4px 4px 8px rgba(#000, 0.6);
		color: #FFF;
	}

	&:hover {
		.CTA {
			background-color: #FFF;
			color: $qBlue;
		}
	}
}

/* Remove #ebook_dooh_playbook when we get rid of WP */
#pb_ebook_dooh_playbook,
#pb_ebook_playbook_programmatic_buyers {
	background-image: linear-gradient(358deg, #F4F4F4 0%, #F4F4F4 60%, #9FD7EF 100%);

	.img {
		background-image: url("../../img/resources/promobox_ebook_playbook_programmatic_buyers.png");
		flex: 0 0 75%;
		height: 75%;
		margin-top: -4em;
		min-height: 16em;
	}

	.tagline {
		@include fontBolder;
		color: $blue;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}
}

#pb_ebook_optimize_ooh_sales {
	background: linear-gradient(to right, $blue 10%, $teal 90%);

	&:before {
		background: linear-gradient(104.98deg, #FFB077 6.46%, #F5532F 18.88%, #0505A9 50.46%, #0539C0 57.4%, #0585E2 67.44%, #05B6F7 75.15%, #05C8FF 79.01%);
		border-radius: 100rem;
		content: "";
		filter: blur(20px);
		height: 120%;
		left: 0%;
		opacity: 1;
		pointer-events: none;
		position: absolute;
		top: -5%;
		width: 94%;
		z-index: 1;
	}

	&:after {
		background: linear-gradient(0deg, #FF0000 3.3%, #0505A9 60.14%, #0539C0 69.11%, #0585E2 82.08%, #05B6F7 92.05%, #05C8FF 97.03%);
		border-radius: 100rem;
		content: "";
		filter: blur(20px);
		height: 120%;
		left: 40%;
		pointer-events: none;
		position: absolute;
		top: -25%;
		width: 94%;
		z-index: 2;
	}

	.wrap {
		align-items: center;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		padding-bottom: 20em;
		padding-top: 6em;
		z-index: 10;

		&:after {
			background: transparent url("../../img/resources/ebook_optimize_ooh_sale.png") center center no-repeat;
			background-size: contain;
			bottom: -14em;
			content: "";
			display: block;
			height: 38em;
			max-height: 30em;
			max-width: 100%;
			pointer-events: none;
			position: absolute;
			right: 50%;
			top: auto;
			transform: translateX(50%);
			width: calc(100% - 80px);
		}
	}

	h3 {
		@include fontBold;
		color: #FFF;
		font-size: 3.4em;
		margin-bottom: 0.8em;
		max-width: 20ch;
		text-align: center;
		text-transform: none;
	}

	.tagline {
		@include fontLight;
		color: #FFF;
		font-size: 2.2em;
		margin: 0 auto 0.6em;
		text-align: center;
		width: 100%;
	}

	.CTA {
		@include fontLight;
		font-size: 1.8em;
		margin-top: 1em;
		text-transform: none;
	}

	&:hover {
		.wrap {
			background-color: rgba($blue, 0.6);
		}

		.CTA {
			color: $blue;
		}
	}
}

/* Remove #whitepaper_successful_network when we get rid of WP */
#pb_whitepaper_successful_network,
#pb_ebook_successful_network {
	background-image: linear-gradient(358deg, #F4F4F4 0%, #F4F4F4 60%, #9FD7EF 100%);

	.img {
		background-image: url("../../img/resources/promobox_ebook_successful_network.png");
		flex: 0 0 60%;
		height: 60%;
		min-height: 16em;
	}

	.tagline {
		@include fontAltBolder;
		color: $blue;
		font-size: 2.2em;
		margin: 0.8em auto 0;
		max-width: 20ch;
		text-transform: none;
	}
}

/* Remove #health_media_kit when we get rid of WP */
#pb_health_media_kit,
#pb_media_kit_amplify {
	background: #043DC2 url("../../img/resources/promobox_bg_media_kit_amplify.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;

	.wrap {
		justify-content: flex-start;
		padding-bottom: 12em;
	}

	.tagline {
		@include fontBolder;
		font-size: 2.4em;
		text-transform: uppercase;
	}
}

#pb_programmatic_u {
	background: linear-gradient(to bottom, #56ABD5 0%, #4FD0E3 25%, #47CFE1 50%, #6780C8 100%);
	overflow: hidden;

	.wrap {
		justify-content: space-between;
	}

	.person {
		background-image: url("../../img/resources/programmatic_u_banner.png");
		background-position: left bottom;
		bottom: 0;
		height: 70%;
		left: 0;
		max-height: 15em;
		max-width: 16em;
		position: absolute;
		width: 70%;
		z-index: 1;
	}

	.badge {
		background-image: url("../../img/broadsign/programmatic_u_badge.svg");
		bottom: 2em;
		height: 10em;
		max-width: 10em;
		position: absolute;
		right: 2em;
		width: 25%;
		z-index: 1;
	}

	.tagline {
		@include fontAltBolder;
		font-size: 2.2em;
		line-height: 150%;
		max-width: 18ch;
	}

	.CTA {
		flex: 0 0 3em;
		height: 3em;
	}
}

#pb_report_iab_audience_research {
	background-image: url("../../img/resources/promobox_bg_report_iab_audience_research.jpg");

	.tagline {
		@include fontAltBold;
		font-size: 3em;
		font-weight: normal;
		max-width: 22ch;
		text-shadow: 2px 2px 2px $blue, 2px 2px 2px #000;
		text-transform: none;

		em {
			white-space: normal;
		}
	}
}

.Row {
	@for $i from 1 through 12 {
		&.cols-#{$i}>.PromoBox {
			$width: #{math.div(100%, $i)};
			$gutter: #{math.div(30*($i - 1), $i)}+"px";
			flex: 0 0 calc(#{$width} - #{$gutter});
			max-width: calc(#{$width} - #{$gutter});
		}
	}
}

.PromoBox .theme_campsite {
	&:hover {
		.CTA span {
			transform: translateY(-100%);
		}
	}
}