html[lang="fr"] {}

html[lang="es"] {}

html[lang="de"] {}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	/* html[lang="de"] #broadsign_reach {
		.Hero .Tank .tagline {
			flex-flow: row nowrap;
			font-size: calc(min(3.4vw, 3rem));

			em {
				font-size: 100%;
			}
		}
	} */
}

@media (max-width: $xs_max_width) and (orientation:portrait) {

	 html[lang="de"] {
		.PromoBox .CTA {
			flex: 1 0 auto;
			max-height: 4em;
			max-width: calc(100vw - 40px);
			white-space: normal;
		}
	}
}