@media (min-width:$sm) {
	.footer_nav {
		.wrapper {
			min-height: 0 !important;
		}

		.Grid.Row {
			align-items: flex-start;
			flex-flow: row wrap;
			justify-content: flex-start;

			.Column {
				flex-basis: calc(27% - 22.5px);
				max-width: calc(27% - 22.5px);
				flex-flow: column nowrap;

				&.products,
				&.verticals {
					@include col(2);

					.links {
						column-count: 2;
					}
				}
			}
		}

		h3 {
			flex: 1 1 auto;
		}

		.links {
			flex: 1 1 auto;
			left: 0;
			margin-left: 0;
			max-height: none;
			opacity: 1;
			overflow: visible;
			position: relative;
			width: 100%;
		}

		a {
			max-width: 18ch;
		}
	}
}


@media (min-width:$md) {
	.footer_nav {
		.Grid.Row {
			align-items: flex-start;
			flex-flow: row nowrap;

			.Column {

				&,
				&.products,
				&.verticals {
					@include col(5, true);
				}


				&.products,
				&.verticals {
					.links {
						column-count: 1;
					}
				}

				&.portal {
					flex-basis: 12%;
				}
			}
		}
	}
}

@media (min-width:$lg) {
	.footer_nav {
		a {
			max-width: 100%;
			white-space: nowrap;
		}
	}
}
