@import "../base/dependencies";

#home .HSHB {
	margin: 60px auto;

	&.Tank {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 9rem;
		margin-top: 9rem;
		gap: 6rem;
	}

	img,
	picture {
		height: 260px;
		max-height: 50vw;
		object-fit: contain;
		transform-origin: center bottom;
		transition: transform 0.3s ease-out;
		width: 100%;
		z-index: 10;
	}

	img.main {
		flex: 0 0 100%;
		height: auto;
		max-height: none;
		width: 100%;
	}

	.inner {
		flex: 0 0 100%;
		font-size: calc(min(10px, 1.8vw));
		margin: auto;
		position: relative;
		text-align: left;
		transition: opacity 0.3s;
		width: 100%;
		z-index: 10;
	}

	.title {
		@include fontBolder;
		color: $reflex;
		font-family: "Roboto Light";
		font-size: 3.4em;
		font-weight: 300;
		margin-bottom: 1em;
		max-width: 26ch;
	}

	p {
		color: #617584;
		font-size: 2.2em;
		margin-bottom: 1em;
		text-align: left;
		width: 100%;
	}

	.description {
		color: $reflex;
		font-size: 1.6em;
		letter-spacing: 0.05em;
		margin-bottom: 2em;
	}

	.CTA {
		border-radius: 4px;
		font-size: 1.4em;
		letter-spacing: 0.1em;
	}

	.new {
		align-items: center;
		background-color: #1056FB;
		border-radius: 50%;
		color: #FFF;
		display: none;
		font-size: 14px;
		font-weight: 900;
		height: 4em;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		transform: translate(-120%, -50%);
		transition: transform 0.6s ease;
		width: 4em;
	}

	&:hover {
		img.main {
			transform: scale(1.1);
		}

		.inner {
			opacity: 1;
		}

		.new {
			transform: translate(-120%, -50%) rotateY(360deg);
		}

		.CTA {
			background-color: #FFF;
			color: $reflex;
		}
	}
}

[lang="de"] {
	#home .HSHB.Tank {
		margin-top: 9rem;
	}
}

@media (min-width: $mobile_min_width) and (orientation:landscape),
(min-width: $tablet_min_width) {
	#home .HSHB {
		align-items: center;
		margin: 30px auto 90px;

		&.Tank {
			grid-template-columns: 1fr 1fr;
			margin-bottom: 6rem;
			margin-top: 3rem;
		}

		img.main {
			height: 100%;
			margin: 0;
			order: 2;
		}

		.inner {
			font-size: calc(min(12px, 1vw));
			order: 1;
		}

		.title {
			font-size: calc(min(3vw, 34px));
			margin-top: 0.2em;
		}
	}
}

@media (min-width: $tablet_min_width) {}

@media (min-width: $tablet_min_width) and (orientation:landscape),
(min-width: $desktop_min_width) {}

@media (min-width: 1200px) {
	#home {}
}