@import "../base/dependencies";

@keyframes pulse {
	0% {
		opacity: 1;
		transform: translate(-50%, 2px) scale(0);
	}

	60% {
		transform: translate(-50%, 2px) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, 2px) scale(1);
	}
}

@mixin activeDropPin {
	opacity: 1;
	pointer-events: all;
}

@mixin pin($left, $top, $z:1) {
	left: $left;
	top: $top;
	z-index: $z;
}

.Map {
	min-width: calc(min(533px, 44vw));
}

.Map_wrapper {}

.OfficesMap {
	background-color: rgba($reflex, 0.07);
	border-radius: 8px;
	opacity: 1;
	overflow: hidden;

	.map_placeholder {
		height: auto;
		width: 100%;
	}

	.map_ratio {
		height: 0;
		padding-top: 49%;
		position: relative;
	}

	.zoom_control {
		height: 400%;
		left: 50%;
		max-width: 400%;
		position: absolute;
		top: 50%;
		transform: translate(-51%, -50%) scale(0.28);
		transition: transform 1s ease-in-out 0.3s;
		width: 400%;
	}

	.map_img {
		@include bg;
	}

	.pins {
		@include bg;
		opacity: 1;
		pointer-events: none;
		z-index: 1000;
	}

	.pin {
		font-size: 10px;
		height: 10em;
		left: 20%;
		opacity: 0;
		pointer-events: all;
		position: absolute;
		top: 20%;
		transform: translate(-50%, -100%);
		transition: opacity 0.3s ease 0s, font-size 1s ease-in-out 0.3s;
		width: 8.2em;

		&>img {
			@include bg;
			object-fit: contain;
			object-position: center bottom;
			z-index: 10;
		}

		&:before,
		&:after {
			background-color: $reflex;
			border-radius: 100%;
			content: "";
			font-size: 3em;
			left: 50%;
			position: absolute;
			transition: opacity 1s ease 0.3s, transform 1s ease 0.3s;
		}

		&:before {
			bottom: -0.5em;
			height: 1em;
			opacity: 0;
			transform: translate(-50%, 0.2em) scale(0);
			width: 1em;
			z-index: 2;
		}

		&:after {
			bottom: -1.1em;
			height: 2em;
			opacity: 0;
			width: 2em;
			z-index: 1;
		}

		&.active {
			z-index: 1000;

			&:before {
				opacity: 1;
				transform: translate(-50%, 0.2em) scale(1);
			}

			&:after {
				animation: pulse 1s linear 0s infinite;
			}

			.tooltip {
				transform: translate(-50%, -100%) translateY(-1.5em) scaleX(1);
			}
		}

		&.clickable {
			&:before {
				opacity: 1;
				transform: translate(-50%, 0.2em) scale(1);
			}

			&:after {
				animation: pulse 1s linear 0s infinite;
			}
		}
	}

	.tooltip {
		@include fontBold;
		background-color: #FFF;
		border-radius: 0.3em;
		color: $ash;
		display: flex;
		filter: drop-shadow(0px 0.2em 0.6em rgba(#000, 0.4));
		font-size: 3em;
		justify-content: center;
		left: 50%;
		letter-spacing: 0.1em;
		max-width: none;
		padding: 0.5em 0.8em 0.3em;
		position: absolute;
		top: 0;
		transform: translate(-50%, -100%) translateY(-1.5em) scaleX(0);
		transition: transform 0.3s ease, font-size 0.3s ease;
		white-space: nowrap;
		width: auto;
		z-index: 100;

		&:after {
			background-color: #FFF;
			bottom: 1px;
			clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
			content: "";
			display: block;
			height: 1em;
			left: 50%;
			position: absolute;
			transform: translate(-50%, 100%);
			width: 1.2em;
		}
	}

	.pin_ca {
		@include pin(30.3%, 31.8%, 10);
	}

	.pin_us {
		@include pin(29.3%, 33%, 20);
	}

	.pin_be {
		@include pin(49.4%, 30.2%, 30);
	}

	.pin_de {
		@include pin(50.9%, 30.3%, 30);
	}

	.pin_es {
		@include pin(47.75%, 36.1%, 50);
	}

	.pin_fr {
		@include pin(49.2%, 32.9%, 40);
	}

	.pin_ir {
		@include pin(46.6%, 28.6%, 10);
	}

	.pin_nl {
		@include pin(49.9%, 29.2%, 20);
	}

	.pin_uk {
		@include pin(48.5%, 28.7%, 10);
	}

	.pin_au {
		@include pin(88.4%, 81.8%);
	}

	.pin_cn {
		@include pin(80.6%, 42.6%);
	}

	&.zoom_world {
		.pin {
			@include activeDropPin;
		}

		.tooltip {
			font-size: 0px;
		}

		.on_map_regions {
			opacity: 0.01;
			pointer-events: all;
		}
	}

	&.zoom_na {
		.zoom_control {
			transform: translate(-10%, -14%) scale(1.8);
		}

		.pin {
			font-size: 2.2px;
		}

		.pin_ca,
		.pin_us {
			@include activeDropPin;
		}
	}

	&.zoom_eu {
		.zoom_control {
			transform: translate(-44%, -24%) scale(1.1);
		}

		.pin {
			font-size: 3.6px;
		}

		.pin_be,
		.pin_de,
		.pin_es,
		.pin_fr,
		.pin_ir,
		.pin_nl,
		.pin_uk {
			@include activeDropPin;
		}
	}

	&.zoom_apac {
		.zoom_control {
			transform: translate(-54%, -50%) scale(0.34);
		}

		.pin {
			font-size: 11.75px;
		}

		.pin_au,
		.pin_cn {
			@include activeDropPin;
		}
	}

	.on_map_regions {
		@include bg;
		opacity: 0;
		pointer-events: none;
		z-index: 10000;
	}

	.on_map_region_choice {
		background-color: rgba($reflex, 0.01);
		cursor: pointer;
		position: absolute;

		&.na {
			height: 39%;
			left: 20%;
			top: 16%;
			width: 17%;
		}

		&.eu {
			height: 21%;
			left: 44%;
			top: 20%;
			width: 13%;
		}

		&.apac {
			height: 62%;
			left: 74%;
			top: 28%;
			width: 19%;
		}
	}

	.popup {
		@include flexCenter;
		background-color: #FFF;
		border-radius: 8px;
		box-shadow: 2px 2px 6px rgba(#000, 0.4);
		font-size: calc(min(18px, 3.6vw));
		height: calc(100% - 20px);
		left: 10px;
		max-height: 0%;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: max-height 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
		width: 40%;
		z-index: 1000;

		&.active {
			cursor: pointer;
			max-height: 100%;
			opacity: 1;
			pointer-events: all;
		}

		&:hover {
			box-shadow: 4px 4px 12px rgba(#000, 0.6);
			transform: translateY(-50%) scale(1.05);
		}

		.content {
			display: block;
			left: 50%;
			line-height: 140%;
			opacity: 0;
			padding: 18px calc(min(3vw, 24px)) 12px;
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease;

			&.active {
				opacity: 1;
				pointer-events: all;
			}
		}

		.close_btn {
			align-items: center;
			border: 1px solid $cerulean;
			border-radius: 0.25em;
			color: $cerulean;
			cursor: pointer;
			display: flex;
			font-size: calc(min(6vw, 30px));
			height: 1em;
			justify-content: center;
			line-height: 70%;
			pointer-events: all;
			position: absolute;
			right: 8px;
			top: 8px;
			width: 1em;
		}
	}
}

@media (max-width:$xsMax) {
	.OfficesMap {
		.pin_cn {
			.tooltip {
				bottom: 0;
				top: auto;
				transform: translate(-50%, 100%) translateY(1.5em) scaleX(0);

				&:after {
					bottom: auto;
					top: 1px;
					transform: translate(-50%, -100%) rotate(180deg);
				}
			}

			&.active {
				.tooltip {
					transform: translate(-50%, 100%) translateY(1.5em) scaleX(1);
				}
			}
		}
	}
}

@media (max-width:$smMax) {}


@media (min-width:$sm) {
	.OfficesMap {
		.zoom_control {
			transform: translate(-52.3%, -51%) scale(0.34);
		}

		&.zoom_na {
			.zoom_control {
				transform: translate(-30%, -35%) scale(0.8);
			}

			.pin {
				font-size: 5.25px;
			}
		}

		&.zoom_eu {
			.zoom_control {
				transform: translate(-45%, -30%) scale(1);
			}

			.pin {
				font-size: 4.2px;
			}
		}

		&.zoom_apac {
			.zoom_control {
				transform: translate(-57%, -52%) scale(0.4);
			}

			.pin {
				font-size: 10.5px;
			}
		}

		.popup {
			height: calc(100% - 36px);
			left: 18px;
			top: calc(30% + 18px);

			&.active {
				max-height: 60%;
			}

			.content {
				padding: 24px;
			}

			.close_btn {
				right: 12px;
				top: 12px;
			}
		}
	}
}

@media (min-width:$md) {
	.OfficesMap {
		.popup {
			top: calc(20% + 18px);

			&.active {
				max-height: 40%;
			}
		}
	}
}

@media (min-width:$tablet_min_width) {
	.OfficesMap {}
}