@use "sass:math";

@import "../base/dependencies";

@include animThisWayRight;

.RelatedBlogs {

	.Row.cols-1>div {
		flex-basis: calc(50% - 1.5rem);
		max-width: calc(50% - 1.5rem);
	}

	.Row.cols-3 {
		.post .title {
			font-size: 2rem;
		}
	}

	&.theme_aurora {
		.Row.cols-2 {
			.post .inner .thumb {
				width: 50%;
			}
		}

		.post {
			border-radius: 1rem;
			box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
			margin-top: 3rem;
			padding: 0 1.6rem;
			position: relative;
			transition: box-shadow 0.3s;

			&:nth-child(1) {
				background: linear-gradient(112.22deg, $teal -84.8%, $midnightBlue 18.97%, $red 107.48%);

				&:after {
					background: linear-gradient(292.22deg, $teal -84.8%, $midnightBlue 18.97%, $red 107.48%);
				}
			}

			&:nth-child(2) {
				background: linear-gradient(24.26deg, $teal 0.97%, $midnightBlue 76.09%, $red 142.67%);

				&:after {
					background: linear-gradient(204.26deg, $teal 0.97%, $midnightBlue 76.09%, $red 142.67%);
				}
			}

			&:nth-child(3) {
				background: linear-gradient(112.21deg, $teal -12.85%, $midnightBlue 52.69%, $red 108.6%);

				&:after {
					background: linear-gradient(292.21deg, $teal -12.85%, $midnightBlue 52.69%, $red 108.6%);
				}
			}

			&:after {
				@include bg;
				background-color: $blue;
				border-radius: 1rem;
				content: "";
				opacity: 0;
				transition: opacity 0.3s;
				z-index: 1;
			}

			&:hover {
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

				.thumb {
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
				}

				&:after {
					opacity: 1;
				}
			}
		}

		.inner {
			background: transparent;
			display: flex;
			flex-flow: column nowrap;
			height: 100%;
			padding: 0;
			position: relative;
			z-index: 10;
		}

		.thumb {
			border-radius: 1rem;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0);
			height: 12rem;
			margin: -3rem 0 2.4rem;
			position: absolute;
			transition: box-shadow 0.3s;
			width: 13rem;
		}

		.title {
			color: #FFF;
			font-size: 2.6rem;
			font-variant: normal;
			line-height: 120%;
			margin-bottom: 9rem;
			text-transform: none;
		}

		.read_more {
			@include fontReg;
			border-top: 1px solid rgba(#FFF, 0.3);
			bottom: 2.4rem;
			color: #FFF;
			display: inline-block;
			font-size: 1.4rem;
			justify-self: flex-end;
			margin-top: 2rem;
			padding-top: 2rem;
			position: absolute;
			width: 100%;
		}
	}

	&.theme_neon {
		$thumbnailHeight: 20rem;

		.post {
			background: linear-gradient(to right, #35C29A 0%, #0B78D2 58.15%, #923EC6 91.3%);
			border-radius: 1rem;
			display: grid;
			margin-top: #{math.div($thumbnailHeight, 2)};
			place-items: center;
			transition: filter 0.3s;

			&:before {
				@include bg;
				background: linear-gradient(to left, #35C29A 0%, #0B78D2 58.15%, #923EC6 91.3%);
				border-radius: 1rem;
				content: "";
				opacity: 0;
				transition: opacity 0.3s;
			}

			&:hover {
				filter: drop-shadow(8px 8px 16px #AAA);

				&:before {
					opacity: 1;
				}

				.thumb {
					filter: brightness(1.4);
				}

				.read_more {
					color: $blue;
				}
			}
		}

		.inner {
			background-color: #FFF;
			border-radius: 0.6rem;
			display: flex;
			flex-flow: column nowrap;
			height: calc(100% - 6px);
			padding: 0 3rem 2rem;
			width: calc(100% - 6px);
		}

		.thumb {
			border-radius: 1rem;
			height: 20rem;
			margin: -#{math.div($thumbnailHeight, 2)} 0 2.4rem;
			transition: filter 0.3s;
			width: 100%;
		}

		.title {
			@include fontReg;
			border-bottom: 1px solid rgba(125, 125, 125, 0.3);
			color: $grey;
			font-size: 2.6rem;
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			text-transform: none;
		}

		.read_more {
			@include fontBold;
			color: #00B486;
			font-size: 1.4rem;
			transition: color 0.3s;
		}
	}

	&.theme_carolina_campsite {
		.thumb {
			height: 150px;
			object-fit: cover;
			width: 100%;
		}

		.date {
			font-size: 12px;
		}

		.read_more {
			@include fontBold;
			align-items: center;
			color: $cerulean;
			display: flex;
			flex-flow: row nowrap;
			font-size: 13px;
			letter-spacing: 0.1em;
			transition: opacity 0.3s ease;

			&:after {
				background: transparent url("../../img/ui/arrow_right_slim_cerulean.svg") center center no-repeat;
				background-size: contain;
				content: "";
				display: inline-block;
				height: 1em;
				margin-left: 0.6em;
				position: relative;
				top: -0.1em;
				width: 1em;
			}
		}
	}
}

@media (max-width:$xsMax) {
	.RelatedBlogs.theme_carolina {
		.grid {
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;

			.col {
				scroll-snap-align: start;
				scroll-snap-stop: always;
			}
		}
	}
}

@media (max-width: 599px) and (orientation:portrait),
(max-width: $xs_max_width) {
	.RelatedBlogs {
		.Row.cols-3 .post {
			flex-basis: 100%;
			flex-flow: column;
			max-width: 100%;

			.title {
				font-size: 2.6rem;
			}
		}

		.Row.cols-1>div {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.theme_aurora {
			.post {
				flex-basis: 100%;
				margin-bottom: 9rem;
				max-width: 100%;
			}

			.thumb {
				height: 20rem;
				margin: -6rem 0 3rem;
				min-height: 40vw;
				width: 60%;
			}

			.read_more {
				font-size: 2.2rem;
			}
		}

		&.theme_neon {
			.post {
				flex-basis: auto;
				margin-bottom: 6rem;
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	.RelatedBlogs {
		&.theme_neon {
			.post {}

			.inner {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			.thumb {
				height: 24rem;
			}

			.title {
				font-size: 2.4rem;
			}

			.read_more {
				font-size: 2rem;
			}
		}
	}
}

@media(min-width:$sm) {
	.RelatedBlogs.theme_carolina_campsite .post {}
}
