@import "../../partials/video_cards";

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#programmatic_u {
	padding-bottom: 12rem;

	hr {
		margin: 9rem 0;
		width: 100%;
	}

	h1 {
		margin: auto;
		text-align: center;
		width: 100%;
	}

	h2 {
		@include fontBold;
		color: #3c4555;
		font-size: calc(min(42px, 5.2rem));
		font-variant: normal;
		line-height: 120%;
		margin-bottom: 1.4em;
		text-align: center;
		text-transform: none;
	}

	h3 {
		@include fontBold;
		color: #3c4555;
		font-size: calc(min(42px, 5.2rem));
		font-variant: normal;
		line-height: 120%;
		margin-bottom: 3rem;
		text-align: center;
		text-transform: none;
	}

	.section_title {
		font-size: calc(min(36px, 4.6rem));
		margin-bottom: 1.2em;
	}

	.Hero {
		height: 30rem;

		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			width: 100%;
		}

		br {
			display: none;
		}
	}

	.neck {
		.Row {
			flex-flow: column nowrap;
		}

		.Column {
			align-content: flex-start;
			border: 1px solid #e6e6e6;
			border-radius: 1rem;
			flex: 0 0 auto;
			margin-bottom: 2rem;
			max-width: 100%;
			padding: 3rem;
			width: 100%;
		}

		img {
			height: 40px;
			left: 3rem;
			position: absolute;
			top: 3rem;
			width: 40px;
		}

		h3 {
			@include fontBold;
			color: #363636;
			font-size: 21px;
			font-variant: normal;
			line-height: 2em;
			margin: 0;
			padding-left: 50px;
			text-align: left;
			text-transform: none;
			width: 100%;
		}

		p {
			color: #363636;
			font-size: 16px;
			padding-left: 50px;
			width: 100%;
		}
	}

	.new {
		font-size: 46px;
		margin-top: 10rem;

		em {
			color: $subNavBlue;
		}
	}

	.night_sky {
		margin-bottom: 120px;
		flex-wrap: wrap;

		.doohx {
			flex: 0 0 100%;
			max-width: 100%;
			padding-top: 50px;

			p {
				color: #FFF;
				font-size: 20px;
				margin-bottom: 1em;
			}

			li {
				color: #FFF;
				font-size: 18px;
				margin: 0 0 1em 1.2em;
			}
		}

		.courses {
			background-color: #F6F6F6;
			flex: 0 0 100%;
			margin-top: 40px;
			max-width: 100%;

			.inner {
				padding: 20px 10%;
			}

			.brooke {
				cursor: pointer;
				height: auto;
				position: relative;
				transition: opacity 0.3s;
				width: 100%;

				&:hover {
					opacity: 0.6;
				}

				.play_btn {
					background-color: rgba(#FFF, 0.4);
					border-radius: 100%;
					bottom: 20px;
					height: 60px;
					max-height: 10vw;
					max-width: 10vw;
					position: absolute;
					right: 20px;
					width: 60px;
					z-index: 10;
				}
			}

			.meet_trainer {
				color: #1056FB;
				cursor: pointer;
				font-size: 18px;
				margin-bottom: 2em;
				transition: color 0.3s;

				&:hover {
					color: $teal;
				}
			}

			h4 {
				color: $darkGrey;
				font-size: 24px;
				margin-bottom: 1em;
			}

			h5 {
				color: $darkGrey;
				font-size: 16px;
				margin-bottom: 0.4em;

				a {
					color: $darkGrey;

					&:hover {
						color: $teal;
					}
				}
			}

			p {
				color: $darkGrey;
				font-size: 16px;
				margin-bottom: 1em;
			}
		}

		.panel {
			background-color: #1056FB;
			box-shadow: 4px 4px 16px rgba(#000, 0.4);
			margin: 50px 0 -60px;
			padding: 4rem 15%;
			text-align: center;
			width: 100%;

			&.mobile {
				display: block;
			}

			&.desktop {
				display: none;
				margin: 30px 0 -90px;
			}

			p {
				color: #FFF;
				font-size: 2.8rem;
				margin: 0 auto 1em;
				max-width: 26ch;
			}

			.CTA {
				&:hover {
					border-color: #FFF;
				}
			}
		}

		h2 {
			margin-bottom: 30px;
		}
	}

	.video_card {
		&:hover {
			.CTA {
				background-color: #FFF;
				color: $subNavBlue;
			}

			.play_btn {
				background-color: rgba(#FFF, 0.6);
			}
		}
	}

	#videos_buyers {
		.section_title {
			color: #1056FB;
		}

		.video_card,
		.certificate_banner {
			.CTA {
				@include ctaStyling(#1056FB, "full", false);
			}

		}

		.video_card:hover .CTA,
		.certificate_banner .CTA:hover {
			@include ctaStyling(#1056FB, "full", true);
			border-color: #1056FB;
		}
	}

	#videos_publishers {
		&>h2 {
			line-height: 140%;
			margin-left: auto;
			margin-right: auto;
			max-width: 30ch;
		}

		.section_title {
			color: #710360;
		}

		.video_card,
		.certificate_banner {
			.CTA {
				@include ctaStyling(#710360, "full", false);
			}
		}

		.video_card:hover .CTA,
		.certificate_banner .CTA:hover {
			@include ctaStyling(#710360, "full", true);
			border-color: #710360;
		}
	}

	#videos_case_studies {
		.video_cards_list {
			grid-template-columns: repeat(2, 1fr);
		}

		.video_card:first-child {
			grid-column: 1 / span 2;
		}
	}

	.ready {
		@include fontReg;
		font-size: calc(min(28px, 3.4rem));
		margin-bottom: 1em;
	}

	.take_quiz {
		padding: 1.3em 4em 1.2em;
	}

	.certificate_banner {
		margin: 6rem 0 8rem;
		text-align: center;
	}
}


.programmatic_u_certificate {
	background: radial-gradient(203.29% 79.62% at 58.06% 108.97%, #7BF2F7 0%, #7855BA 100%);
	z-index: 0;

	.illustration {
		bottom: 0;
		height: 60rem;
		max-height: 60%;
		overflow: hidden;
		position: absolute;
		right: -8%;
	}

	.Tank {
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height: 70vh;

		h1 {
			@include fontLighter;
			color: #FFF;
			font-size: 4.9rem;
			line-height: 117%;
			margin: 0 0 4rem;
			text-align: center;
			text-transform: none;
			width: 75%;

			strong {
				@include fontBold;
			}
		}

		.form_container {
			background-color: #4CD9ED;
			padding: 4rem 0;
			width: 75%;
		}
	}

	.user_type_badge {
		@include fontLighter;
		border: 1px solid #FFF;
		border-radius: 10rem;
		color: #FFF;
		cursor: default;
		font-size: 2rem;
		margin: 7rem auto 3rem;
		padding: 0.6rem 4.6rem 0.4rem;
		text-transform: uppercase;
	}

	.programmatic_u_badge {
		margin: 5rem 0 8rem 0;
		width: 16%;
		z-index: 20;
	}

	&.media_buyers {
		.illustration {
			height: 60rem;
			max-height: 60vw;
		}
	}

	&.media_owners {
		background: linear-gradient(0deg, #A6023D 0%, #32058A 100%);

		.illustration {
			height: 60rem;
			max-height: 60vw;
		}
	}
}

#programmatic_u_view_certificate {

	.certificate_zone {
		padding-bottom: 12rem;
	}

	.the_certificate {
		animation: 1s ease-out 0s 1 normal forwards running fadeIn;
		display: grid;
		min-height: 70vmin;
		opacity: 0;
		place-items: center;
		position: relative;
		perspective: 800px;

		&>img {
			border-radius: 4px;
			filter: drop-shadow(12px 12px 30px rgba(#000, 0.4));
			height: 80vmin;
			margin: 0;
			max-height: 80vmin;
			object-fit: contain;
			object-position: center center;
			transform: rotate3d(0, 1, -0.2, 4deg);
			transform-style: preserve-3d;
			transition: filter 0.3s, transform 0.6s;
			width: auto;
			z-index: 1;
		}

		.share {
			align-items: center;
			display: flex;
			filter: drop-shadow(2px 2px 2px $blue) drop-shadow(1px 1px 2px $blue) drop-shadow(0 0 20px $blue);
			flex-flow: row nowrap;
			justify-content: center;
			left: 50%;
			margin-top: 3rem;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.6s;
			width: 100%;
			z-index: 100;

			&>img {
				height: 4rem;
				margin: 0;
				object-position: center center;
				width: 4rem;
			}

			&>span {
				@include fontBolder;
				color: #FFF;
				font-size: 4rem;
				padding-left: 3rem;
			}
		}

		&:hover {
			&>img {
				filter: drop-shadow(12px 12px 40px rgba(#000, 0.8));
				transform: rotate3d(0, 1, -0.2, -4deg);
			}

			.share {
				opacity: 1;
			}
		}
	}

	.certificate_wrapper {}

	&.media_buyers {
		.user_type_badge.media_owners {
			display: none;
		}
	}

	&.media_owners {
		.user_type_badge.media_buyers {
			display: none;
		}
	}
}

@media (hover:none) and (pointer:coarse) {
	#page_programmatic_u_lite_certificate {
		&.view_certificate .the_certificate {
			text-align: center;

			&>img {
				transform: none;
				transition: none;
			}

			.share {
				filter: drop-shadow(2px 2px 2px $blue);
				left: auto;
				opacity: 1;
				position: relative;
				top: auto;
				transform: none;
			}

			&:hover {
				&>img {
					transform: none;
				}
			}
		}
	}
}