html[lang="fr"] {
	#ooh_media_software_page {
		.sell_programmatically .wrapper .content_wrapper {
			.ctas a img {
				width: 70%;
			}

			.content {
				width: 80%;
			}
		}

		.Hero {
			.content {
				width: 55%;
			}
		}

		.manage_all_things_container .title_wrapper h2 {
			width: 45%;
		}
	}
}

html[lang="es"] {}


@media (max-width: $tablet_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#ooh_media_software_page {
			.Hero {
				.content {
					width: 60%;
				}

				.title {
					font-size: 19rem;
				}
			}

			.sell_programmatically .wrapper .content_wrapper .content {
				width: 100%;
			}

			.manage_all_things_container .title_wrapper h2 {
				width: 70%;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#ooh_media_software_page {
			.Hero {
				.content {
					width: 100%;
				}
			}

			.manage_all_things_container .title_wrapper h2 {
				width: 90%;
			}
		}
	}
}