@media (max-width: $tablet_max_width) {
    #dsp-buy-home-media {
        .video {
            .Row {}
        }
    }
}
@media (max-width: $mobile_max_width) and (orientation:portrait) {
			#dsp-buy-home-media {
				.price-section {
					.price {
						.image-wrapper {
							padding-right: 0;
						}
					}
				}

			}
		}
@media (max-width: $xs_max_width) and (orientation:portrait) {
    #dsp-buy-home-media {
        .Hero {
            background: linear-gradient(to right, #0509DE 0%, #061ADB 25%, #042ED8 50%, #0626D9 75%, #0414DB 100%);

            .Tank {
                .text {
                    text-shadow: 1px 1px 2px $dspBlueShadow, 2px 2px 2px $dspBlueShadow;
                    width: 100%;
                }
            }
		}
	}
}