@import "../../base/dependencies";

$heroFormInputHeight: 45px;

@keyframes testimonialFlipEnterMobile {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
		transform: rotateY(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@keyframes testimonialFlipExitMobile {
	0% {
		opacity: 1;
		transform: rotateY(0deg);
	}

	99% {
		opacity: 1;
		transform: rotateY(90deg);
	}

	100% {
		opacity: 0;
	}
}

@keyframes testimonialFlipEnterDesktop {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
		transform: rotateX(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}

@keyframes testimonialFlipExitDesktop {
	0% {
		opacity: 1;
		transform: rotateX(0deg);
	}

	99% {
		opacity: 1;
		transform: rotateX(90deg);
	}

	100% {
		opacity: 0;
	}
}

#vertical_ev {
	.hero {
		h1 {
			font-size: calc(min(7vw, 48px));
			margin: 0.1em 0 1em;
		}

		.email_only_form form {
			input[type="email"] {
				border: 1px solid $soft;
			}
		}
	}

	.email_only_form {
		min-height: 0;

		form {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
			overflow: visible;
			position: relative;

			fieldset {
				height: $heroFormInputHeight;
				margin: 0 0 15px;
			}

			.field,
			.field>label {
				margin: 0;
			}
		}

		input {
			border: 0 none;
			border-radius: 100px;
			font-size: 14px;
			height: $heroFormInputHeight;
			margin: 0;

			&[type="email"] {
				background-color: #FFF;
				order: 0;
				padding-left: 20px;
				padding-right: 20px;
			}

			&.error {
				border: 2px solid $red !important;
			}
		}

		.hs_submit,
		.actions {
			height: $heroFormInputHeight;
			width: 100%;
		}

		input[type=submit].hs-button {
			background-color: $reflex;
			border: 2px solid #FFF;
			border-radius: 100px;
			letter-spacing: 0.1em;
			top: 0;
			width: 100%;

			&:hover {
				background-color: $cerulean;
				color: #FFF !important;
			}
		}

		.hs-error-msgs {
			left: 0;
			position: absolute;
			top: -10px;
			transform: translateY(-100%);
		}

		.hs_error_rollup {
			display: none;
		}
	}

	.section_video {
		margin: calc(min(5vw, 100px)) auto;
	}

	.Video {
		margin: calc(max(-5vw, -100px)) auto;
		max-width: 800px;
	}

	.clients {
		.logos {
			margin: 0 -22px;
			max-width: calc(100% + 44px);
			width: calc(100% + 44px);
		}

		.logo {
			height: 80px;
			margin: 15px calc(min(22px, 5%));
			max-width: 240px;
			width: 40%;
		}
	}

	.sell_grow {
		.box {

			&,
			.icon {
				cursor: default;
				transition: transform 0.3s ease, box-shadow 0.3s ease;
			}

			&:hover {
				box-shadow: 0px 14px 24px rgb(158 158 158 / 40%) !important;
				transform: scale(1.2);

				.icon {
					transform: scale(1.5);
				}
			}
		}
	}

	.do_more {
		.boxes_wrapper {
			max-width: 720px;
		}
	}

	.testimonials {
		&_wrapper {
			height: 360px;
			max-width: 720px;
		}

		.portrait {
			animation: 0.3s ease 0s 1 normal forwards running testimonialFlipExitMobile;
			border-radius: 10px 10px 0 0;
			height: 330px;
			max-height: 40vw;
			opacity: 0;
		}

		blockquote {
			animation: 0.3s ease 0s 1 normal forwards running testimonialFlipExitMobile;
			border-radius: 0 0 10px 10px;
			min-height: 360px;
			opacity: 0;
		}

		cite {
			font-style: normal;
		}

		.testimonial {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transform-style: preserve-3d;
			width: 100%;
			perspective: 600px;

			&.active {
				.portrait {
					animation: 0.3s ease 0.3s 1 normal forwards running testimonialFlipEnterMobile;
				}

				blockquote {
					animation: 0.3s ease 0.3s 1 normal forwards running testimonialFlipEnterMobile;
				}
			}
		}

		.loop_btn_wrapper {
			@include flexCenter;
			min-height: 100px;
		}

		.loop_btn {
			@include flexCenter;
			background: $alice;
			border: 2px solid $cerulean;
			border-radius: 50%;
			cursor: pointer;
			font-size: calc(min(2.2vw, 10px));
			height: 5em;
			max-width: 5em;
			transition: transform 0.3s ease;
			width: 5em;

			img {
				height: 2em;
				object-fit: contain;
				width: 2em;
			}

			&.prev {
				left: 0;
				right: auto;

				img {
					transform: rotate(180deg);
				}
			}

			&.next {
				left: auto;
				right: 0;
			}

			&:hover {
				&.prev {
					transform: scale(1.2);
				}

				&.next {
					transform: scale(1.2);
				}
			}
		}
	}

	.shin {
		.email_only_form form input[type=submit].hs-button {
			border: 2px solid #FFF;
		}
	}
}

@media (min-width:$sm) {
	#vertical_ev {
		.hero {
			h1 {
				font-size: calc(min(5.4vw, 48px));
			}
		}


		.clients {
			.logo {
				max-width: 180px;
				width: 30%;
			}
		}
	}
}

@media (min-width:$md) {
	#vertical_ev {
		.hero {
			.email_only_form form {
				border: 1px solid $soft;

				input[type="email"] {
					border: 0 none;
				}
			}
		}

		.email_only_form {

			form {
				border: 2px solid #FFF;
				border-radius: 100px;
				flex-flow: row nowrap;

				fieldset {
					margin: 0;
				}

				.field>label {
					/* margin: 0; */
				}
			}

			.input {
				height: $heroFormInputHeight;
			}

			.hs_submit,
			.actions {
				height: $heroFormInputHeight;
				position: absolute;
				right: 0;
				width: auto;
			}

			input[type="email"] {
				padding-right: 20ch;
			}

			input[type=submit].hs-button {
				border: 2px solid $reflex;
				position: absolute;
				right: -1px;
				top: 0;
				width: auto;
			}
		}

		.testimonials {
			&_wrapper {
				height: 360px;
				max-width: 720px;
			}

			.portrait {
				animation: 0.3s ease 0s 1 normal forwards running testimonialFlipExitDesktop;
				border-radius: 10px 0 0 10px;
			}

			blockquote {
				animation: 0.3s ease 0.3s 1 normal forwards running testimonialFlipExitDesktop;
				border-radius: 10px;
				opacity: 1;

			}

			.quote {
				&:before {
					content: open-quote;
					font-family: 'Times New Roman', Times, serif;
					font-size: 2em;
					margin-right: 0.2em;
					position: relative;
					top: 0.2em;
				}

				&:after {
					content: close-quote;
					font-family: 'Times New Roman', Times, serif;
					font-size: 2em;
					margin-left: 0.2em;
					position: relative;
					top: 0.2em;
				}
			}

			.testimonial {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				transform-style: preserve-3d;
				width: 100%;
				perspective: 1000px;

				&.active {
					.portrait {
						animation: 0.3s ease 0.9s 1 normal forwards running testimonialFlipEnterDesktop;
					}

					blockquote {
						animation: 0.3s ease 0.6s 1 normal forwards running testimonialFlipEnterDesktop;
						opacity: 0;
					}
				}
			}
		}

		.shin {
			.email_only_form form input[type=submit].hs-button {
				border: 0 none;
			}
		}
	}
}