@media (max-width: $tablet_max_width) {
	#page_aws_faq {
		.Hero {
			background-position-x: 75%;

			.title {
				font-size: 10vw;

				em {
					margin-bottom: 1%;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#page_aws_faq {
		.Hero {

			img,
			picture {
				object-position: 85% bottom !important;
			}

			.title {
				font-size: 15vw;
				text-shadow: 2px 2px 6px $blue, 2px 2px 6px $blue;
			}

			&>.Tank {
				justify-content: flex-end;
				padding-bottom: 8vw;
			}
		}

		#hull {
			.Row {
				flex-flow: column nowrap;
			}

			.column {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}
}