@media (max-width: $tank_max_width) {}

@media (hover: none) {
	#contact .location {

		&.active,
		&:hover {
			.info {
				background-color: rgba(255, 255, 255, 0.4);
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	#contact {
		.Hero {
			h1 {
				font-size: 4rem;
			}
		}

		.phones {
			padding: 0 6rem;
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	#contact {
		.Hero {
			box-shadow: 0 0 2rem #000;

			.Tank {
				padding-bottom: 9rem;
				padding-top: 9rem;
			}

			.column:nth-of-type(1) {
				flex: 0 0 100%;
				max-width: 100%;
				order: 1;
				width: 100%;
			}

			.column:nth-of-type(2) {
				align-items: stretch;
				flex: 0 0 100%;
				flex-flow: row nowrap;
				justify-content: space-between;
				margin-top: 6rem;
				max-width: 100%;
				order: 3;
				width: 100%;
			}

			.Form form {
				.field {
					margin-bottom: 3rem;

					label,
					&.field_not_empty label,
					&.error label {
						font-size: 2.2rem;
					}

					&,
					&.field_focused {
						label {
							@include fontReg;
							font-size: 2.2rem;
						}
					}

					.input {

						input,
						textarea {
							@include fontReg;
							font-size: 2.2rem;
						}
					}

					&.hs-fieldtype-select {
						label {
							font-size: 2.2rem;
							transform: none;
						}
					}
				}

				.actions {
					margin: 4rem auto 2rem;
					padding: 0;
					text-align: center;
				}
			}

			.ctaBox {
				flex: 0 0 calc(33% - 1rem);

				img {
					flex-basis: 4rem;
					max-width: 4rem;
				}

				h3 {
					flex-basis: calc(100% - 4rem);
					font-size: 1.8rem;
					max-width: calc(100% - 4rem);
					padding-right: 0;
				}

				p {
					letter-spacing: 0;
					padding-left: 5rem;
				}
			}
		}

		.locations {
			height: auto;
		}

		.location {
			height: 40rem !important;
			margin-bottom: 3rem;
			position: relative;
			width: 100% !important;

			.info {
				background-color: rgba(#FFF, 0.6);
				max-width: 80%;
				width: auto;
			}

			h2 {
				font-size: 4rem;
			}

			p {
				font-size: 2rem;
			}
		}

		.phones {
			flex: 0 0 100%;
			max-width: 100%;
			order: 2;
			padding: 0 3rem 0 9rem;
			width: 100%;

			.phone {
				flex: 1 1 auto;
				font-size: 1.6rem;

				.number {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#contact {
		.Hero {
			.ctaBox {
				padding-top: 3rem;
			}

			.column:nth-of-type(2) {
				flex-flow: column nowrap;

				img {
					flex-basis: 6rem;
					max-width: 6rem;
				}

				h3 {
					flex-basis: calc(100% - 6rem);
					font-size: 2.6rem;
					max-width: calc(100% - 6rem);
					padding-left: 2rem;
					padding-right: 30%;
				}

				p {
					font-size: 2rem;
					padding-left: 8rem;
				}
			}
		}

		.phones {
			flex-flow: row wrap;
			height: auto;
			padding: 2rem 3rem;

			.bg {
				height: calc(100% - 4rem);
				top: 2rem;
			}

			.phone {
				flex-basis: 100%;
				margin: 1rem 0;
				max-width: 100%;
				width: 100%;

				.place {
					text-align: right;
					width: 60%;
				}

				.number {
					text-align: left;
					width: 40%;
				}
			}
		}
	}
}
