@include animFadeOutNoBlur;
@include animSlideInFromRight;

#broadsign_direct {
	$grey: #617584;

	.Tank>.Row.cols-2>div {
		flex-basis: calc(50% - 3rem);
		max-width: calc(50% - 3rem);
	}

	h2 {
		@include fontReg;
		color: $midnightBlue;
		font-size: 3.4rem;
		font-variant: normal;
		line-height: 120%;
		margin-bottom: 3rem;
		text-transform: none;
		width: 100%;
	}

	h3 {
		color: #062B75;
		font-variant: normal;
		text-transform: none;
	}

	p,
	li {
		color: $grey;
		line-height: 150%;
	}

	.Hero {
		height: 52rem;
		margin-bottom: 12rem;

		.bg {
			&.mobile {
				display: none;
			}
		}

		.Row {
			height: 100%;
			padding-top: 8rem;
			width: 100%;
		}

		#hero_img {
			flex-basis: calc(55% - 2rem);
			max-width: calc(55% - 2rem);

			img {
				left: 1rem;
			}
		}

		#hero_text {
			align-items: flex-start;
			flex-basis: calc(45% - 2rem);
			max-width: calc(45% - 2rem);
		}

		.title {
			@include fontSuperBold;
			color: #FFF;
			display: inline-block;
			font-size: 7.2rem;
			line-height: 80%;
			margin-bottom: 2rem;

			em {
				bottom: 0;
				color: #4CD9ED;
				display: inline;
				left: 0;
			}
		}

		.tagline {
			@include fontLighter;
			color: #FFF;
			font-size: 3.2rem;
			line-height: 120%;
			margin-bottom: 4rem;
			text-transform: none;
		}

		.ctas {
			align-items: stretch;
			width: 100%;
		}

		.CTA {
			margin-right: 1.5rem;
			padding: 2.2rem 2.6rem 1.8rem;

			&.blue {
				border-color: $directBlue;
				color: $directBlue;

				&:hover {
					background-color: $directBlue;
					color: #FFF;
				}
			}
		}
	}

	.intro {
		.column {
			justify-content: center;
		}

		h2 {
			align-self: flex-start;
			margin-bottom: 2rem;
			max-width: 54rem;
			user-select: none;
		}

		p {
			font-size: 2.8rem;
		}

		aside {
			align-items: flex-start;
		}

		.screenshots {
			height: 100%;
			left: 2rem;
			max-width: 135%;
			width: 135%;
		}
	}

	.loop_container {
		display: inline;

		.text_loop_element {
			@include fontBolder;
			display: inline;
			margin: 0;

			.color {
				color: $midnightBlue;
				margin: 0;
				transition: color 0.6s;
			}

			&.active {
				.color {
					color: $teal;
				}
			}
		}
	}


	.algorithms {
		margin-bottom: 7rem;
		margin-top: 5rem;

		.Row {
			align-items: center;
		}

		aside {
			align-items: flex-end;
		}

		.text {
			margin-top: -3rem;
			padding-left: 2rem;
		}

		.radial {
			width: 156%;
		}

		h2 {
			margin-bottom: 2rem;
		}

		p {
			font-size: 1.6rem;
			margin-bottom: 3rem;
		}

		ul {
			width: 100%;
		}

		li {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			font-size: 1.6rem;
			list-style-type: none;
			margin-bottom: 3.4rem;
		}

		img {
			margin-right: 2rem;
		}
	}

	.informations {
		h2 {
			margin-bottom: 6rem;
		}
	}

	.Lattice {
		row-gap: 8rem;

		.ImgHat {
			img {
				height: 8rem;
			}
		}

		.Row {
			margin-bottom: 3rem;
		}

		h3 {
			font-size: 2.6rem;
			font-variant: normal;
			margin-bottom: 3rem;
			text-transform: none;
			width: 100%;
		}

		p {
			font-size: 1.6rem;
		}
	}

	.QuoteBlock {
		margin: 7rem 0 12rem;

		blockquote {
			background-color: #00F0C8;
			border-radius: 100rem 0 0 100rem;
			left: -10rem;
			margin: 0;
			max-width: calc(100% + 110rem);
			padding: 8rem 100rem 8rem 10rem;
			position: relative;
			width: calc(100% + 110rem);

			.wrap {
				@include fontAlt;
				color: #292929;
				font-size: 2.4rem;
				line-height: 160%;
				max-width: 80rem;
				text-align: center;

				&:before {
					background: transparent url("../../../img/ui/quote_round_white.svg") center center no-repeat;
					background-size: contain;
					content: "";
					display: inline-block;
					height: 3rem;
					margin-bottom: 3rem;
					width: 100%;
				}

				&:after {
					font-size: 80%;
					margin: 0;
					top: -0.4rem;
				}
			}

			.signature {
				color: #292929;
				font-size: 2.4rem;
				font-style: normal;
				font-variant: normal;
				font-weight: 900;
				text-align: center;
				text-transform: none;

				&:before,
				&:after {
					display: none;
				}
			}
		}
	}

	.demo {
		padding: 6rem 0 15rem;
		text-align: center;

		.Tank {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
		}

		.tagline {
			@include fontLighter;
			display: inline-block;
			font-size: 3.2rem;
			margin: 0 auto 3rem;
			max-width: 76rem;
		}

		a {
			color: $directBlue;
			font-weight: 900;
			margin-left: 0.6ch;

			&:hover {
				color: $teal;
			}
		}

		.CTA {
			background-color: $directBlue;
			border-color: $directBlue;
			color: #FFF;
			display: inline-block;
			font-size: 1.6rem;
			padding: 2.2rem 3.6rem 1.8rem;
			width: auto;

			&:hover {
				background-color: #FFF;
				color: $directBlue;
			}
		}
	}

	.direct_sf_logos {
		left: 4%;
		margin-bottom: 5rem;
		max-width: 58rem;
	}

	.related_blog_posts {
		padding-bottom: 10rem;
		padding-top: 10rem;

		h2 {
			@include fontBold;
			color: $grey;
		}

		.CTA {
			display: inline-block;
			font-size: 1.6rem;
			margin-top: 6rem;
			padding: 2rem 6rem 1.8rem;
		}
	}

	.RelatedBlogs {
		.title {
			@include fontBold;
			color: $grey;
		}

		.read_more {
			color: #00B486;
		}

		.post:hover {
			.read_more {
				color: $blue;
			}
		}
	}
}