@media (max-width: $tablet_max_width) {
	#broadsign_direct {
		.Hero {
			.Row {
				padding-top: 6rem;
			}

			.title {
				font-size: 6.4rem;
				margin-top: 0;
			}

			.tagline {
				font-size: 2.8rem;
			}

			.CTA {
				font-size: 2rem;
				max-width: 32rem;
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#broadsign_direct .Hero {
		.CTA {
			max-width: 50%;
		}
	}
}

@media (max-width: 599px) and (orientation:portrait),
(max-width: $xs_max_width) {
	#broadsign_direct {
		.Row {
			align-items: center;
			flex-flow: column nowrap;

			.column {
				flex-basis: auto;
				max-width: 100%;
				width: 100%;
			}
		}

		.Tank>.Row.cols-2>div {
			flex-basis: auto;
			max-width: 100%;
			width: 100%;
		}

		.Hero {
			height: auto;
			justify-content: flex-start;
			margin-bottom: 3rem;
			max-height: none;

			.bg {
				&.desktop {
					display: none;
				}

				&.mobile {
					display: block;
					height: 70%;
				}
			}

			#hero_img {
				flex-basis: auto;
				height: 57rem;
				margin-top: 4rem;
				max-height: 90vw;
				max-width: 100vw;
				order: 2;
				width: 68rem;

				img {
					left: 0;
				}
			}

			#hero_text {
				align-items: center;
				flex-basis: auto;
				max-width: 60rem;
				order: 1;
				text-align: center;
			}

			.title {
				font-size: 7.6rem;
				margin-bottom: 2.4rem;
			}

			.tagline {
				font-size: 3.4rem;
				margin-bottom: 5rem;
			}

			.ctas {
				flex-flow: row nowrap;
				justify-content: center;
			}

			.CTA {
				font-size: 1.6rem;
				padding-left: 5rem;
				padding-right: 5rem;
			}
		}

		.intro {
			h2 {
				font-size: 4.6rem;
				margin-bottom: 3rem;
				max-width: 100%;
			}

			p {
				font-size: 3.5rem;
			}

			aside {
				margin-top: 4rem;
				top: 0;
			}

			.screenshots {
				left: -1rem;
				max-width: 120%;
				width: 120%;
			}
		}

		.algorithms {
			margin-bottom: 17rem;
			margin-top: 16rem;

			.text {
				order: 1;
			}

			aside {
				order: 2;
			}

			h2 {
				font-size: 4.2rem;
				margin-bottom: 3rem;
			}

			p {
				font-size: 2.8rem;
				margin-bottom: 2rem;
			}

			ul {
				li {
					align-items: center;
					font-size: 1.8rem;
				}

				img {
					width: 6rem;
				}
			}

			.radial {
				margin: 0 auto;
				max-width: 60rem;
				width: 100%;
			}
		}

		.informations {
			h2 {
				font-size: 4rem;
				margin-bottom: 8rem;
			}
		}

		.Lattice {
			row-gap: 7rem;

			.Row {
				margin-bottom: 5rem;
			}

			.ImgHat img {
				height: 9rem;
			}

			h3 {
				font-size: 2.8rem;
			}

			p {
				font-size: 2.8rem;
			}
		}

		.QuoteBlock {
			display: grid;
			left: -$tankPadding;
			margin-bottom: 14rem;
			max-width: 100vw;
			place-items: center;
			width: 100vw;

			blockquote {
				border-radius: 0;
				left: 0;
				padding: 6rem $tankPadding 9rem;
				width: 100%;

				.wrap {
					font-size: 2.5rem;
					max-width: 86rem;

					&:before {
						height: 4rem;
						margin-bottom: 2.6rem;
					}
				}

				.signature {
					font-size: 2.8rem;
					letter-spacing: 0;
					margin-top: 1rem;
				}
			}
		}

		.direct_sf_logos {
			left: 4%;
			margin-bottom: 4rem;
			max-width: 58rem;
		}

		.demo {
			.tagline {
				font-size: 3.4rem;
				line-height: 150%;
				margin-bottom: 4rem;
			}
		}

		.related_blog_posts {
			h2 {
				margin-bottom: 5rem;
			}

			.CTA {
				margin-top: 0rem;
				padding: 1.8rem 10rem 1.6rem;
			}
		}

		.RelatedBlogs {
			.thumb {
				margin-bottom: 4.4rem;
			}

			.title {
				@include fontReg;
			}

			.read_more {
				font-size: 1.7rem;
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#broadsign_direct {
		.Hero {
			.bg.mobile {
				height: 80%;
			}

			.Row {
				padding-top: 9rem;
			}

			.title {
				margin-bottom: 3rem;
			}

			.tagline {
				font-size: 3.2rem;
				max-width: 90%;
			}

			.ctas {
				align-items: center;
				flex-direction: column;
			}

			.CTA {
				margin: 0 auto 3rem;
				padding-bottom: 2.4rem;
				padding-top: 2.6rem;
				width: 70%;
			}
		}

		.intro {
			h2 {
				font-size: 3.8rem;
			}

			p {
				font-size: 2.8rem;
			}

			aside {
				margin-top: 7rem;
			}

			.screenshots {
				max-width: 125%;
				width: 125%;
			}
		}

		.algorithms {
			margin-bottom: 9rem;
			margin-top: 12rem;

			h2 {
				font-size: 3rem;
			}

			p {
				font-size: 2.4rem;
				margin-bottom: 5rem;
			}

			ul img {
				width: 7rem;
			}
		}

		.informations {
			h2 {
				font-size: 3rem;
				margin-bottom: 5rem;
			}
		}

		.Lattice {
			row-gap: 6rem;

			.Row {
				margin-bottom: 4rem;
			}

			.ImgHat img {
				height: 10rem;
			}

			h3 {
				font-size: 2.6rem;
				margin-bottom: 2rem;
			}

			p {
				font-size: 2.7rem;
				line-height: 140%;
			}
		}

		.direct_sf_logos {
			left: 2%;
			margin: 0 auto 4rem;
			max-width: 37rem;
		}

		.demo {
			padding: 0 0 12rem;

			.tagline {
				font-size: 3.2rem;
				margin-bottom: 5rem;
				max-width: 90%;
			}

			.CTA {
				padding: 2.6rem 6rem 2.4rem;
			}
		}

		.related_blog_posts {
			padding-top: 9rem;

			h2 {
				font-size: 3rem;
				margin-bottom: 4rem;
			}

			.CTA {
				margin-top: 3rem;
				padding: 2rem 6rem 1.8rem;
			}
		}
	}
}

@media (max-width: $super_xs_max_width) and (orientation:portrait) {
	#broadsign_direct {
		.QuoteBlock {
			left: -$tankPaddingXS;

			blockquote {
				padding: $tankPaddingXS;
			}
		}
	}
}