html[lang="fr"] {
	#broadsign_direct {
		.Hero .CTA {
			padding: 1.2rem 2.6rem 1rem;
			white-space: normal;
		}

		.intro {

			h2,
			.loop_container .text_loop_element {
				font-size: 3.4rem;
			}

			p {
				font-size: 2.8rem;
			}
		}
	}
}

html[lang="es"] {
	#broadsign_direct {
		.Hero .CTA {
			padding: 1.2rem 2.6rem 1rem;
			white-space: normal;
		}
	}
}

html[lang="de"] {
	#broadsign_direct {
		.Hero .tagline {
			font-size: 3rem;
		}
	}
}

@media (max-width: 900px) {
	#broadsign_direct {
		.Hero .CTA {}
	}
}

@media (max-width: 599px) and (orientation:portrait),
(max-width: $xs_max_width) {
	html[lang="fr"] {
		#broadsign_direct {
			.intro {

				h2,
				.loop_container .text_loop_element {
					font-size: 4rem;
				}

				p {
					font-size: 3rem;
				}
			}
		}
	}
}