@keyframes slide-left {
	from {
		right: 190%;
	}

	to {
		right: 25%;
	}
}

@keyframes slide-right {
	from {
		left: 190%;
	}

	to {
		left: -25%;
	}
}

#partners_microsoft {
	.Hero {
		height: 60rem;
		overflow: hidden;
		position: relative;

		.broadsignLogo {
			position: absolute;
			right: 81rem;
			width: 50%;
		}

		.content {
			width: 55%;

			.title {
				font-size: 6rem;
				line-height: 90%;
			}
		}
	}

	.Form {
		&.fields_lines form {
			fieldset {
				margin: 0;
			}

			.field {
				padding-bottom: 1.8rem;

				&.hs-fieldtype-text,
				&.hs-fieldtype-textarea {
					label {
						transform: none;
					}
				}
			}
		}
	}

	.free_trial_form {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-bottom: 5rem;
		padding-top: 5rem;

		.Form {
			flex: 1 1 78rem;
			max-width: 78rem;
		}

		.tagline {
			flex: 1 1 calc(100% - 78rem);
			margin-top: 5rem;
			max-width: 30ch;
			padding-left: 4ch;
		}

		.hs_submit {
			bottom: 7rem;
			display: flex;
			justify-content: center;
			left: 112%;
			max-width: 30rem;
			position: absolute;
			width: 50%;
		}

		.hs-button {
			border-color: #FFF;
			border-radius: 5rem;
			color: #FFF;
			display: inline-block;
			max-width: 100%;
			padding-bottom: 0.75em;
			padding-top: 0.8em;
			white-space: normal;

			&:hover {
				background-color: #FFF;
				border-color: $red;
				color: $red;
			}
		}
	}

	.form_2 {
		.tagline {
			color: #FFF;
		}

		.Form {
			label {
				span {
					color: #FFF;
				}
			}

			input {
				border-color: #FFF;
				color: #FFF;
			}

			select {
				border-color: #FFF;
				color: #FFF;
			}

			.hs_submit {
				.hs-button {
					background-color: #FFF;
					border-color: #FFF;
					color: $dodger;

					&:hover {
						background-color: $teal;
						border-color: #FFF;
						color: #FFF;
					}
				}
			}
		}
	}

	.bg_teal {
		background-color: #2a9cfd;
	}

	.counters {
		align-items: center;
		background-image: url("../../img//bg/partners_microsoft_stats.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		height: auto;
		justify-content: center;
		min-height: 30rem;

		.counter {
			@include fontReg;
			align-items: center;
			color: #FFF;
			display: flex;
			flex-flow: column;
			font-size: 11rem;
			margin-left: 7.5rem;
			margin-right: 7.5rem;

			.number {
				font-weight: bold;
				line-height: 105%;
				white-space: nowrap;
			}

			p {
				color: #FFF;
				font-size: 3.6rem;
			}
		}
	}

	.LogosList {
		padding-bottom: 9rem;
		padding-top: 9rem;

		.logos {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	.laptop_section {
		align-items: center;
		display: flex;
		flex-flow: column;

		&>img {
			max-width: 46rem;
		}

		.gradient_line {
			background: linear-gradient(to right, #19CDFF 10%, #1E1BB2 40%, #FF1919 100%);
			display: block;
			height: 2.5rem;
			margin-bottom: 1rem;
			position: relative;
			top: 20rem;
			width: 100%;
		}
	}

	.quote_container {
		align-items: center;
		background-image: url("../../img/heroes/Testimonial-Background-1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 2rem;
		display: flex;
		flex-flow: column;
		height: 39rem;
		justify-content: center;
		position: relative;

		.quote {
			padding-top: 5rem;
			width: 70%;

			.text {
				@include fontAlt;
				font-size: 3rem;
				text-align: center;
			}

			.signature {
				font-size: 3rem;
				font-weight: bold;
				margin-top: 4rem;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.anchors {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			margin-bottom: 6rem;
			margin-top: 4rem;
			width: 60%;

			.CTA {
				border-radius: 2.6rem;
			}
		}
	}

	.facts {
		padding-bottom: 12rem;
		padding-top: 12rem;

		.bg {
			@include bg;
		}

		h3 {
			color: #FFF;
			font-size: 2rem;
		}

		.animate_left,
		.animate_right {
			transition: transform 3s ease-out;

		}

		.animate_left {
			transform: translateX(500%);

			&.active {
				transform: translateX(-80%);
			}
		}

		.animate_right {
			transform: translateX(-500%);

			&.active {
				transform: translateX(140%);
			}
		}

		.Tank {
			display: flex;
			flex-flow: column;
			height: auto;
			justify-content: center;

			.ImgFlank {
				justify-content: initial;
				margin: 2rem;
				padding-left: 14rem;

				aside {
					flex-basis: 23%;
					max-width: 23%;
					width: 23%;
				}

				.lead {
					flex-basis: 60%;
					max-width: 60%;
					width: 60%;
				}

				p {
					bottom: 11rem;
					color: #FFF;
					font-size: 10rem;
					height: 0;
					opacity: 0.1;
					position: relative;
				}
			}
		}
	}
}

@media (max-width: 599px) and (orientation:portrait),
(max-width: $xs_max_width) {
	#partners_microsoft .laptop_section {
		height: auto;

		.quote_container {
			bottom: 0;
			height: auto;

			.quote {
				padding-top: 6rem;
				width: calc(100% - 40px);
			}

			.anchors {
				flex-flow: column;
				padding-bottom: 2rem;
				width: calc(100% - 40px);

				.CTA {
					margin: 1rem auto;
				}
			}
		}
	}
}