@media (max-width: $tablet_max_width) {

	main.page_dsp {
		.Hero {
			.Tank {
				.text {
					.title {
						font-size: 6.2rem;
					}
				}
			}
		}

		.side_padding {
			padding-bottom: 35px;
			padding-right: 150px;
			padding-top: 35px;
		}

		section {
			padding: 0 $tankPadding;
		}

		.main_container {
			.SideBar_container {
				width: 147px;
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	main.page_dsp {
		.Hero {
			.Tank {
				.text {
					.title {
						font-size: 5rem;
					}

					.tagline {
						font-size: 2.2rem;
						width: 75%;
					}
				}
			}
		}

		h3 {
			font-size: 3.6rem;
			margin-bottom: 1.5rem;
			margin-bottom: 1.5rem;
		}

		p {
			margin-bottom: 3rem;
		}

		span {
			font-weight: bold;
		}

		section {
			padding: 0 20px;
		}

		.side_padding {
			padding: 3rem 20px;
		}

	}
}

@media (max-width: $mobile_max_width) and (orientation: portrait) {

	main.page_dsp {
		.Hero {
			padding-bottom: 6rem;

			.Tank {
				justify-content: flex-end;
			}
		}

		.Row {
			flex-flow: column wrap;
		}

		.main_container {
			.Row.cols-2 {

				.column,
				&>div,
				&>aside {
					max-width: 100%;
					flex-basis: 100%;
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation: portrait) {
	main.page_dsp {
		.Hero {
			height: 70rem;
			max-height: 70rem;

			.bgFluid {
				bottom: 0;
				height: 60% !important;
				top: auto;

				img,
				picture {
					object-fit: contain !important;
					object-position: right bottom !important;
				}
			}

			.Tank {
				.text {
					width: 100%;

					.title {
						font-size: 4.2rem;
					}

					.tagline {
						font-size: 2rem;
						width: 70%;
					}
				}
			}
		}
	}
}