.privacy_policy {
	padding-bottom: 12rem;

	h1 {
		color: $blizzard;
		font-size: 6.2rem;
		line-height: 120%;
		margin-bottom: 3rem;
		margin-top: 6rem;

		em {
			white-space: nowrap;
		}
	}

	h3 {
		font-size: 3rem;
		margin: 4rem 0 3rem;
	}

	h5 {
		margin-top: 3rem;
	}

	p {
		font-size: 2rem;
		margin-top: 2rem;
	}

	span,
	a {
		display: inline;
	}

	ul li {
		margin-top: 0.6rem;
	}

	button {
		appearance: none;
		background: transparent none;
		border: 0 none;
		padding: 0;

		h3 {
			margin: 0;
		}
	}

	.Tank:first-of-type {
		margin-bottom: 6rem;
	}

	.collapse {
		border-top: 2px solid $lightGrey;
		padding: 3rem 0;

		.content {
			.Form {
				margin-bottom: 3rem;
				margin-top: 3rem;
			}

			h5 {
				font-size: 2rem;
				font-weight: bold;
				line-height: 120%;
				text-transform: uppercase;
			}

			li {
				font-size: 2rem;
				padding-left: 1rem;
			}

			ul {
				padding-left: 4rem;
			}
		}

		.title_container {
			border-left: 0 none;
			border-right: 0 none;
			transition: margin 0.6s;

			button {
				width: 100%;
			}

			.title {
				color: $teal;
				font-size: 2.8rem;
				text-align: left;
				text-transform: uppercase;
				transition: color 0.3s ease-in-out;
				width: 100%;

				&:after {
					border-color: $teal transparent transparent;
					border-style: solid;
					border-width: 1.4rem 0.8rem 0;
					content: " ";
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%) rotate(0deg);
					transition: border-color 0.3s, transform 0.6s;
				}
			}

			.title:hover {
				color: $blue;

				&:after {
					border-color: $blue transparent transparent;
				}
			}
		}

		&.open {
			.title_container {
				margin-bottom: 1rem;

				.title {
					&:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
		}
	}

	.Panel {
		margin: 6rem 0;
	}
}