@import "../../../base/dependencies";

#ebook_increase_revenue_in_store_media {
	$purple: #5E3D75;
	$lightBlue: $blizzard;

	/* .Grid reset to overwrite styles from the .ebook class */
	.Grid.Row {
		flex-flow: row wrap;
	}

	.Hero {
		height: auto;
		max-height: initial;

		h1 {
			@include fontAlt;
			color: #FFF;
			font-size: 5.6rem;
			font-variant: normal;
			line-height: 140%;
			margin: calc(min(40rem, 70vw)) 0 6rem;
			text-shadow: 1px 1px 6px darken($purple, 20), 1px 1px 6px darken($purple, 20), 2px 2px 4px darken($purple, 20), 2px 2px 4px darken($purple, 20);
			text-transform: none;
		}

		img,
		picture {
			object-position: 20% center !important;
		}
	}

	.Column {
		align-content: flex-start;
	}


	.intro {
		@include fontBolder;
		color: $purple;
		font-size: 4.6rem;
		margin: 0 0 1em;
		text-transform: none;
	}

	.text_zone {
		p {
			color: $purple;
			margin: 0 0 1em;
		}

		ul {
			margin-left: 2em;

			li {
				color: $purple;
				font-size: 2rem;
				line-height: 140%;
				margin-bottom: 1em;
			}
		}
	}

	.form_zone {
		flex: 0 0 100%;
	}

	.Panel {
		background: linear-gradient(to bottom, lighten($lightBlue, 20) 40%, $lightBlue 100%);
		border-radius: 1rem;
		box-shadow: 2px 2px 12px rgba($purple, 0.2);
		flex: 100%;
		margin: 0;
		max-width: 100%;
		padding: 6rem;

		.input {
			input {
				border: none;
				border-bottom: 2px solid $purple;
			}

			select {
				border-color: $purple;
				color: $purple;
			}
		}


		form {
			label {
				color: $purple;
			}

			.field.error .input input,
			.field.error .input select,
			.field.error .input textarea {
				border-color: #F00;
			}

			.hs-error-msgs li,
			.hs_error_rollup {
				label {
					color: #F00;
				}
			}
		}

		.actions {
			margin: 0;
			padding-top: 2rem;
			text-align: center;

			input {
				background-color: $purple;
				border-color: $purple;

				&:hover {
					background-color: #FFF;
					color: $purple;
				}
			}
		}
	}

	.hull {
		margin: 6rem auto 9rem;
	}

	&.thank_you {
		.Hero {
			padding-bottom: 6rem;
			padding-top: 12rem;

			.Tank {
				align-items: center;
			}

			.Panel {
				background: linear-gradient(to bottom, rgba(lighten($lightBlue, 20), 0.7) 40%, rgba($lightBlue, 0.9) 100%);
				flex: 0 0 100%;
				max-width: 100%;
				text-align: center;
			}

			h1 {
				margin: 0 auto 6rem;
				max-width: 24ch;
				text-align: center;
				width: 100%;
			}

			.CTA {
				background-color: $purple;
				border-color: $purple;
				color: #FFF;
				margin: 3rem auto;

				&:hover {
					background-color: #FFF;
					color: $purple;
				}
			}
		}

		h3 {
			font-size: 3rem;
			margin-bottom: 1em;
		}
	}
}


@media (min-width: $mobile_min_width) and (orientation:landscape),
(min-width: $tablet_min_width) {
	#ebook_increase_revenue_in_store_media {
		.Hero {
			h1 {
				line-height: 120%;
				margin: 12rem 0;
				max-width: 14ch;
				text-shadow: 1px 1px 4px $purple, 1px 1px 4px $purple;
			}

			img,
			picture {}
		}

		.form_zone {
			padding-left: 3rem;
		}

		.Panel {
			flex: 1 1 calc(50% - 6rem);
			max-width: 55rem;
			padding: 6rem;
		}
	}
}

@media (min-width: $desktop_min_width) {}