@include animFadeInNoBlur;
#demo {
	.skew {
		background-color: #FFF;
		clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
		height: 20rem;
		left: 50%;
		max-width: 1600px;
		position: absolute;
		top: 1px;
		transform: translate(-50%, -100%);
		width: calc(100vw + 4px);
	}

	.Hero {
		background-color: $blue;
		height: auto;
		max-height: none;
		overflow: hidden;
		padding-bottom: calc(24rem + 30px);
		z-index: 1;

		.blob_1 {
			background: linear-gradient(113.23deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			border-radius: 360.5px;
			filter: blur(7rem);
			height: 878px;
			left: 400px;
			position: absolute;
			transform: rotate(-180deg);
			width: 910px;
			z-index: 2;
		}

		.blob_2 {
			background: linear-gradient(115.31deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			border-radius: 360.5px;
			filter: blur(7rem);
			height: 1180px;
			left: 150px;
			position: absolute;
			top: 160px;
			width: 1333px;
			z-index: 2;
		}

		.person {
			animation: 2s ease 0s 1 normal forwards running personZoomIn;
			bottom: 0;
			display: none;
			height: 100%;
			left: -20%;
			overflow: hidden;
			position: absolute;
			transform-origin: center bottom;
			width: 50%;
			z-index: 3;

			img {
				transform: scaleX(-1);
			}
		}

		&>.Tank {
			max-width: calc(78rem + 40px);
			z-index: 10;
		}

		h1 {
			color: #FFF;
			font-size: calc(clamp(26px, 6vw, 32px));
			line-height: 120%;
			margin: 9rem 0 3rem;
			max-width: 30ch;
			text-transform: uppercase;
			width: 100%;
			animation: 0.6s ease-out 1s 1 normal forwards running fadeInNoBlur;
			opacity: 0;

			em {
				color: $picton;
			}
		}

		p {
			color: #FFF;
			font-size: calc(clamp(20px, 4vw, 24px));
			margin-bottom: 3rem;
		}
	}

	.intro {
		display: inline-block;
		padding-bottom: calc(24rem + 30px);
		width: 100%;
		z-index: 10;

		.Video {
			background-color: $blue;
			border-radius: 2rem;
			box-shadow: 0 0 50px #000;
			margin-top: -10rem;
			max-width: 340px;
			transform: translateY(-50%);
			width: 100%;
		}

		.bg {
			opacity: 0.4;
			transition: opacity 0.3s;
		}

		&:hover {
			.bg {
				opacity: 1;
			}
		}

		.descriptions {
			margin: -3rem 0 6rem;
		}

		p {
			font-size: calc(clamp(18px, 3.6vw, 24px));
			margin: 0 auto 1.6em;
			max-width: 78rem;

			em {
				font-weight: bold;
			}
		}
	}

	.shin {
		background-color: $picton;
		display: inline-block;
		padding-bottom: 9rem;
		width: 100%;
		z-index: 20;

		.skew {
			background-color: $picton;
			transform: translate(-50%, -100%) translate(-2px, 0rem);
		}

		.screen {
			height: auto;
			left: 45%;
			margin-top: -10rem;
			max-width: 340px;
			transform: translate(-50%, -60%);
			width: 100%;
		}

		h3 {
			@include fontBold;
			font-size: calc(clamp(20px, 4vw, 24px));
			margin: -6rem auto 6rem;
			max-width: 78rem;
			text-transform: none;
		}

		.list {
			column-gap: 2rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 0 auto 6rem;
			max-width: 78rem;
		}

		.ImgHat {
			margin-bottom: 3rem;

			p {
				@include fontBold;
				font-size: calc(clamp(14px, 3vw, 16px));
				margin-top: 1rem;
				max-width: 16ch;
				text-align: center;
			}

			img {
				height: 85px;
				max-width: 85px;
				object-fit: contain;
				width: 40vw;
			}
		}

		.CTA {
			display: none;
			margin: 0 auto;
		}
	}

	.Form {
		width: 100%;

		.form-columns-2 {
			margin-bottom: 1.5rem;

			.field {
				max-width: calc(50% - 1.5rem);

				&:first-of-type {
					margin: 0 1.5rem 0 0;
				}

				&:last-of-type {
					margin: 0 0 0 1.5rem;
				}
			}
		}

		label {
			display: none;
		}

		input:not(.hs-button),
		select {
			@include fontReg;
			border: 1px solid #D0D0D0;
			border-radius: 0.6rem;
			color: #808080;
			font-size: 1.6rem;
			height: 4rem;
			line-height: 100%;
			padding-left: 1rem;
			padding-right: 1rem;
			width: 100%;

			&.error {
				border: 2px solid $red;
			}
		}

		.hs-consent_to_privacy_policy {
			label {
				display: flex;

				&>span {
					display: inline-block;
					padding: 0.4rem 0 0 1rem;
				}
			}
		}

		.actions {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		.hs-button {
			border-radius: 8px;
			padding: 1.2em 5em 1.1em;

			&:hover {
				color: $red;
			}
		}

		.hs_error_rollup {
			color: $red;
			margin-top: 1rem;

			label {
				display: block;
			}
		}
	}

	.submitted-message {
		font-size: 2rem;
		padding: 6rem 0 0;
		text-align: center;

		p {}

		strong {
			@include fontBolder;
			color: $teal;
			font-size: 3rem;
		}

		em {
			font-size: 2.4rem;
		}

		span {
			border-bottom: 2px solid rgba(#FFF, 0.4);
			display: inline-block;
			padding-bottom: 3rem;
			text-decoration: none !important;
		}

		a {
			@include fontBold;
			align-items: center;
			background-color: $cerulean;
			border-radius: 0.6rem;
			border-style: 1px solid $cerulean;
			color: #FFF;
			cursor: pointer;
			display: inline-flex;
			flex-flow: row nowrap;
			font-size: 1.8rem;
			justify-content: center;
			line-height: 120%;
			padding: 1.2rem 3rem 1rem;
			text-transform: uppercase;
			transition: background-color, border-color, border-width, color, opacity, width;
			transition-duration: 0.3s;
			z-index: 10;

			&:hover {
				background-color: #FFF;
				color: $cerulean;
			}
		}
	}
}

/*
#demo {

	.d {
		display: none;
	}

	.hs_error_rollup {
		margin-top: -1rem;
	}

	.hero {
		background-color: $blue;
		height: 100rem;
		max-height: 100rem;
		overflow: hidden;
		z-index: 1;

		.blob_1 {
			background: linear-gradient(113.23deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			border-radius: 360.5px;
			filter: blur(7rem);
			height: 878px;
			left: 400px;
			position: absolute;
			transform: rotate(-180deg);
			width: 910px;
			z-index: 2;
		}

		.blob_2 {
			background: linear-gradient(115.31deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			border-radius: 360.5px;
			filter: blur(7rem);
			height: 1180px;
			left: 150px;
			position: absolute;
			top: 160px;
			width: 1333px;
			z-index: 2;
		}

		.person {
			animation: 2s ease 0s 1 normal forwards running personZoomIn;
			height: 115%;
			max-width: 75rem;
			overflow: hidden;
			position: absolute;
			right: calc(70% + 3.5rem);
			top: 5rem;
			transform-origin: center bottom;
			width: 46%;
			z-index: 3;

			img {
				transform: scaleX(-1);
			}
		}

		.Panel {
			align-items: flex-start;
			display: flex;
			flex-flow: column;
			margin: 6rem auto 0;
			max-width: 84rem;
			z-index: 4;

			.title {
				@include fontBolder;
				color: #FFF;
				font-size: 4.6rem;
				line-height: 130%;
				max-width: 30ch;
				text-transform: uppercase;
				width: 100%;

				em {
					color: $picton;
				}
			}

			.form_wrapper {
				margin-top: 4rem;

				p {
					color: white;
					margin-bottom: 2.5rem;
				}
			}

			.Form {
				width: 100%;
			}

			.submitted-message {
				font-size: 2rem;
				padding: 6rem 0 0;
				text-align: center;

				p {}

				strong {
					@include fontBolder;
					color: $teal;
					font-size: 3rem;
				}

				em {
					font-size: 2.4rem;
				}

				span {
					border-bottom: 2px solid rgba(#FFF, 0.4);
					display: inline-block;
					padding-bottom: 3rem;
					text-decoration: none !important;
				}

				a {
					@include fontBold;
					align-items: center;
					background-color: $cerulean;
					border-radius: 0.6rem;
					border-style: 1px solid $cerulean;
					color: #FFF;
					cursor: pointer;
					display: inline-flex;
					flex-flow: row nowrap;
					font-size: 1.8rem;
					justify-content: center;
					line-height: 120%;
					padding: 1.2rem 3rem 1rem;
					text-transform: uppercase;
					transition: background-color, border-color, border-width, color, opacity, width;
					transition-duration: 0.3s;
					z-index: 10;

					&:hover {
						background-color: #FFF;
						color: $cerulean;
					}
				}
			}
		}

		form {
			fieldset {
				&.form-columns-2 {
					&>div {

						&,
						&.error {
							margin-bottom: 0;
							margin-left: 1.5rem;
							margin-right: 1.5rem;
							max-width: calc(50% - 1.5rem);
							width: calc(50% - 1.5rem);

							&:first-of-type {
								margin-left: 0;
							}

							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
			}

			.field {
				margin: 0;
				width: 100%;

				label {
					display: none;
					margin-bottom: 0.4rem;

					&>span {
						@include fontReg;
						color: #000;
						font-size: 1.6rem;
						font-weight: normal;

						&.hs-form-required {
							color: $red;
						}
					}
				}

				input,
				select {
					@include fontReg;
					border: 1px solid #D0D0D0;
					border-radius: 0.6rem;
					color: #808080;
					font-size: 1.6rem;
					height: 4rem;
					line-height: 100%;
					padding-left: 1rem;
					padding-right: 1rem;
					width: 100%;
				}

				&.hs_consent_to_privacy_policy {
					label {
						display: flex;

						&>span {
							color: #FFF;
							font-size: 1.3rem;
						}

						input:before {
							border-width: 1px;
							height: 1.6rem;
							width: 1.6rem;
						}
					}
				}
			}

			.actions {
				display: flex;
				justify-content: center;
				margin-left: 0px;
				padding-left: 0px;

				input.hs-button {
					@include fontReg;
					border-radius: 0.6rem;
					font-size: 1.6rem;
					max-width: 80%;
					padding: 1.8rem 3rem 1.6rem;

					&:hover {
						background-color: $pink;
						border-color: $pink;
						color: #FFF;
					}
				}
			}
		}
	}

	.feature_video {
		display: flex;
		justify-content: center;
		margin-bottom: 54rem;
		margin-top: 12rem;
		z-index: 10;

		&:before {
			background: #FFF;
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
			content: '';
			display: block;
			height: 38rem;
			left: 50%;
			max-width: 1600px;
			position: absolute;
			top: 0;
			transform: translateX(-50%) translateY(-12rem) translateY(-100%);
			width: 100vw;
			z-index: -1;
		}

		p {
			font-size: 2.4rem;
			line-height: 150%;
			margin-bottom: 2rem;
			max-width: 78rem;
			width: 100%;

			em {
				@include fontBold;
			}
		}

		.Video {
			border-radius: 20px;
			bottom: 26rem;
			box-shadow: 0px 0px 50px #000;
			max-width: 52rem;
			position: absolute;
			z-index: 100;

			.poster {
				&:after {
					@include bg;
					background-color: rgba($blue, 0.8);
					content: "";
					opacity: 1;
					transition: opacity 0.3s;
					z-index: 1;
				}

				.PlayBtn {
					margin-bottom: 0;
					max-height: 10vw;
					max-width: 10vw;
					z-index: 10;

					div {
						border-width: calc(min(1vw, 1rem));
						max-height: 10vw;
						max-width: 10vw;
					}
				}
			}

			&:hover {
				.poster:after {
					opacity: 0.4;
				}
			}
		}
	}

	.tools {
		align-items: center;
		background-color: $picton;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding-bottom: 9rem;
		z-index: 11;

		&:before {
			background-color: $picton;
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
			content: '';
			display: block;
			height: 38rem;
			left: 50%;
			max-width: 1600px;
			position: absolute;
			top: 0;
			transform: translate(-50%, -100%);
			width: 100vw;
			z-index: -1;
		}

		h3 {
			@include fontBold;
			font-size: 2.4rem;
			margin: 3rem auto;
			max-width: 78rem;
			text-transform: none;
		}

		.CTA {
			border-radius: 0.6rem;
			font-size: 1.6rem;
			margin: 8rem auto 0;
			padding: 1.8rem 3rem 1.6rem;
		}

		.screen {
			position: absolute;
			right: 31%;
			top: -47rem;
			width: 46%;
		}

		.list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			margin: 0 auto;
			max-width: 78rem;
		}

		.ImgHat {
			p {
				@include fontBold;
				font-size: 1.4rem;
				margin-top: 1rem;
				max-width: 16ch;
				text-align: center;
			}

			img {
				height: 85px;
				max-width: 85px;
				object-fit: contain;
			}
		}

		.tools_wrapper {
			align-items: center;
			background-color: $picton;
			flex-flow: column;
			justify-content: flex-start;
			margin-bottom: 0;
			min-height: 47rem;
			z-index: 11;

			.CTA {
				border-radius: 0.6rem;
				font-family: "Roboto", "Arial", "Helvetica", sans-serif;
				font-size: 1.6rem;
				font-weight: 500;
				margin-top: 8rem;
				padding: 1.1em 2em 1em;

				&:hover {
					background-color: $pink;
					border-color: $pink;
					color: #FFF;
				}
			}

			.tools_list {
				display: flex;
				flex-flow: row;
				width: 100%;

				.tools_container {
					display: flex;
					flex-flow: row;
					justify-content: space-around;
					margin-top: 2rem;
					max-width: 100%;
					width: 50%;

					.ImgHat {
						width: 35%;

						.Row {
							height: 85px;
						}

						p {
							font-size: 1.4rem;
							margin-top: 1rem;
							text-align: center;
						}

						img {
							max-width: 65%;
						}
					}
				}
			}
		}
	}
} */