@media (min-width:$mobile_min_width) {
	#demo {
		.Hero {
			background-color: $blue;
			height: auto;
			max-height: none;
			overflow: hidden;
			padding-bottom: calc(24rem + 60px);
		}

		.intro {
			.Video {
				max-width: 400px;
			}

			.descriptions {
				margin: -6rem 0 9rem;
			}
		}
	}
}

@media (min-width:$tablet_min_width) {
	#demo {
		.skew {
			height: 30rem;
		}

		.Hero {
			padding-bottom: calc(30rem + 60px);

			.person {
				display: block;
			}

			h1 {
				font-size: 4.6rem;
			}
		}

		.intro {
			.Video {
				margin-top: -15rem;
			}

			.descriptions {
				margin: -6rem 0 12rem;
			}
		}

		.shin {
			.screen {
				max-width: 480px;
			}

			h3 {
				margin-top: -12rem;
			}

			.list {
				grid-template-columns: repeat(4, 1fr);
			}

			.CTA {
				display: flex;
			}
		}
	}
}

@media (min-width:$desktop_min_width) {
	#demo {
		.skew {
			height: 40rem;
		}

		.Hero {
			padding-bottom: calc(40rem + 40px);

			.person {
				bottom: -4rem;
				left: -18%;
				width: 46%;
			}
		}

		.Form {
			min-height: 36rem;
		}

		.intro {
			.Video {
				margin-top: -20rem;
				max-width: 500px;
			}

			.descriptions {
				margin: -6rem 0 24rem;
			}
		}

		.shin {
			.screen {
				max-width: 550px;
				transform: translate(-50%, -90%);
			}

			h3 {
				margin-top: -26rem;
			}
		}
	}
}