@media (max-width: $tablet_max_width) {
	#page_media_kit_amplify_your_next_campaign {
		.Hero {
			.text {
				flex: 0 0 60%;
				max-width: 60%;

				h1,
				h2,
				.tagline {
					max-width: 60rem;
				}
			}

			.screens {
				flex: 0 0 40%;
				max-width: 40%;
			}
		}

		section#global {

			h2,
			p {
				max-width: 60%;
			}
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation: portrait) {
	#page_media_kit_amplify_your_next_campaign {
		section#global {

			h2,
			p {
				max-width: 70%;
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#page_media_kit_amplify_your_next_campaign {
		.Hero {
			height: 70rem;

			.text {
				padding-right: 3rem;

				h1 {
					font-size: 8rem;
				}

				.tagline {
					margin: 3rem 0;
				}

				h1,
				h2,
				.tagline {}
			}
		}

		section#global {
			.bgFluid {
				opacity: 0.5;
			}

			h2,
			p {
				max-width: 70%;
			}
		}

		section#shin {
			p {
				margin-bottom: 0;
			}

			.Form form fieldset.form-columns-3>div.hs-form-field {
				margin: 2rem 0 0;
				max-width: 100%;
				width: 100%;
			}
		}

		&.thank_you {
			.Hero {
				.hero_title {
					width: 100%;
				}

				.screens {
					display: none;
				}
			}

			.hull {
				.panel_title {
					@include fontLighter;
					font-size: 2.8rem;
					margin: 4rem 0 3rem 0;
				}

				.Row {
					.Panel {
						flex-basis: calc(100% - 0.6rem);
						margin-bottom: 3rem;
						max-width: calc(100% - 0.6rem);
						width: 100%;
					}
				}
			}
		}
	}
}


@media (max-width: $mobile_max_width) and (orientation: portrait) {
	#page_media_kit_amplify_your_next_campaign {
		.Hero {
			height: 58rem;

			.text {
				h1 {
					font-size: 6rem;
				}
			}
		}

		section#global {

			h2,
			p {
				max-width: 62%;
			}
		}
	}
}

@media (max-width: $xs_max_width) {
	#page_media_kit_amplify_your_next_campaign {
		section#global {

			h2,
			p {
				max-width: 90%;
			}
		}

		section#verticals {
			.graph {
				p em {
					font-size: 1.8rem;
				}
			}

			.verticals {
				h2 {
					font-size: 2.4rem;
				}

				&>.Row {
					flex-flow: row wrap;
					justify-content: center;

					.ImgHat {
						flex-basis: calc(30% - 0.75rem);
						margin: 0 auto 3rem;
						max-width: calc(30% - 0.75rem);

						&:nth-child(1) {
							margin-left: 0;
						}

						&:nth-child(3) {
							margin-right: 0;
						}

						&:nth-child(4) {
							margin-right: 5%;
						}

						&:nth-child(5) {
							margin-left: 5%;
						}

						img {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}

		&.thank_you {
			.Hero {
				.hero_title {
					h1 {
						font-size: 6rem;
					}
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation: portrait) {
	#page_media_kit_amplify_your_next_campaign {
		.Hero {

			.Tank {
				justify-content: flex-start;
				padding-right: $tankPaddingPhone;
			}

			.text {
				flex-basis: 100%;
				margin-top: 2rem;
				max-width: 100%;
				padding-right: 0;

				h1 {
					font-size: 5.6rem;
					max-width: 100%;
				}

				h2 {
					font-size: 2.8rem;
					max-width: 100%;
				}

				.tagline {
					max-width: 100%;
				}

				.ctas {
					margin-bottom: 3rem;
				}

				.books {
					left: -$tankPaddingPhone;
					max-width: calc(100% + #{$tankPaddingPhone * 2});
					width: calc(100% + #{$tankPaddingPhone * 2});
				}
			}

			.screens {
				display: none;
			}
		}

		#features {
			&>.Row {
				flex-direction: column;
				margin-bottom: 0;

				.ImgHat {
					flex-basis: auto;
					margin-bottom: 4rem;
					max-width: 100%;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}

		section#verticals {
			padding-bottom: 0rem;
			padding-top: 9rem;

			&>.Tank {
				flex-flow: column nowrap;

				.graph {
					flex-basis: auto;
					max-width: 100%;
					padding-bottom: 3rem;
					padding-top: 3rem;

					p {
						font-size: 1.6rem;

						em {
							display: inline-block;
							font-size: 3rem;
							max-width: 42rem;
						}
					}
				}

				.verticals {
					flex-basis: auto;
					max-width: 100%;
					padding-left: 0;

					h2 {
						font-size: 3rem;
					}

					.ImgHat .column p {
						font-size: 2.4vw;
					}
				}
			}
		}

		section#global {

			h2,
			p {
				max-width: 100%;
			}
		}

		section#shin {
			.Form form fieldset .hs-dependent-field .field {
				max-width: 100%;
				width: 100%;

				&:nth-child(1),
				&:nth-child(2) {
					margin: 0 0 1.8rem;
				}
			}
		}
	}
}

@media (max-width: $super_xs_max_width) {
	#page_media_kit_amplify_your_next_campaign {
		.Hero {
			.Tank {
				padding-right: $tankPaddingXS;
			}

			.text {
				.books {
					left: -$tankPaddingXS;
					max-width: calc(100% + #{$tankPaddingXS * 2});
					width: calc(100% + #{$tankPaddingXS * 2});
				}
			}
		}
	}
}