@use "sass:math";

@include animFadeInNoBlur;

.video_cards_list {
	column-gap: 2rem;
	display: grid;
	row-gap: 3rem;
}

#programmatic_u {
	.video_cards_list {
		&.max_columns_2 {
			grid-template-columns: repeat(2, 1fr);

			.video_card {
				&:first-child {
					grid-column: 1 / span 2;
				}
			}
		}

		&.max_columns_3 {
			grid-template-columns: repeat(3, 1fr);

			.video_card {
				&:first-child {
					grid-column: 1 / span 3;
				}
			}
		}
	}

}

#page_ooh_from_home {
	.video_cards_list {
		grid-template-columns: repeat(2, 1fr);
	}

	.video_card {
		&:first-child {
			grid-column: 1 / span 2;
		}
	}
}

.video_cards_list {
	.video_card {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay:#{math.div(($i - 1), 4)}s;
			}
		}

		@include fadeInOnce(1s);
		appearance: none;
		border: 0 none;
		border-radius: 1.2rem 1.2rem 0 0;
		box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, .1);
		display: grid;
		font-size: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		opacity:0;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: left;
		transition: box-shadow 0.6s;

		.poster {
			height: 0;
			padding-top: 56.25%;
			transition: box-shadow 0.6s, filter 0.6s;
			width: 100%;
		}

		.details {
			align-items: flex-start;
			color: #5E5E5E;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			padding: 3em;
			position: relative;
		}

		.title {
			@include fontBold;
			color: #353535;
			font-size: 2.2em;
			line-height: 120%;
			margin-bottom: 0.8rem;

			i {
				font-size: 80%;
				font-style: normal;
			}
		}

		.catchphrase {
			@include fontBolder;
			color: #FFF;
			font-size: 4em;
			left: 3rem;
			position: absolute;
			top: 15%;
			z-index: 100;
		}

		.date_wrapper {
			margin-bottom: 2rem;

			.date {
				@include fontReg;
				color: #5E5E5E;
				font-size: 1.6em;
				margin-bottom: 0.5rem;
			}
		}

		.description {
			@include fontReg;
			color: #5E5E5E;
			font-size: 1.4em;
			line-height: 160%;
			margin-bottom: 3rem;
		}

		.teachers {
			color: #5E5E5E;
			font-size: 1.3em;
			margin-bottom: 1.6rem;
		}

		.series_label {
			max-width: 50%;
			position: absolute;
			right: -2px;
			top: 0;
			transform: translateY(-50%) translateY(-1px);
			width: 14rem;
		}

		.foot {
			margin-top: auto;
		}

		.CTA {
			font-size: 1.4em;
			padding: 0.6em 2.4em 0.5em;
		}

		.watched_tag {
			display: none;
		}

		&.watched {
			.watched_tag {
				@include fontSuperBold;
				background-color: rgba(#000, .7);
				color: #FFF;
				display: inline-block;
				font-size: 2rem;
				left: 0;
				line-height: 80%;
				margin-top: 56.25%;
				max-width: 100%;
				opacity: 1;
				padding: .6rem 1.6rem .8rem;
				pointer-events: none;
				position: absolute;
				text-align: center;
				transform: translateY(-100%);
				transition: opacity 0.6s;
				width: 100%;
				z-index: 100;
			}
		}

		.play_btn {
			border-radius: 50%;
			height: 4rem;
			left: 1rem;
			position: absolute;
			top: 1rem;
			transition: filter 0.6s, background-color 0.3s;
			width: 4rem;
			z-index: 10;
		}

		&.buyers {
			.details {
				border-top: 3px solid #00FF8A;
			}

			.catchphrase {
				em {
					color: #00FF8A;
				}
			}
		}

		&.products {
			.details {
				border-top: 3px solid #1C2BFF;
			}

			.catchphrase {
				em {
					color: #1C2BFF;
				}
			}
		}

		&.sellers {
			.details {
				border-top: 3px solid #FF8B00;
			}

			.catchphrase {
				em {
					color: #FF8B00;
				}
			}
		}

		&:hover {
			cursor: pointer;

			.poster {
				filter: brightness(1.2);
			}

			.CTA {
				background-color: #FFF;
				color: $blue;
			}

			&.watched {
				.watched_tag {
					opacity: 0;
				}
			}
		}

		&:first-child {
			background-color: transparent;
			box-shadow: none;
			column-gap: 3rem;
			display: grid;
			grid-template-columns: 10fr 21fr;
			margin-bottom: 3rem;
			overflow: visible;

			/* .video_container {
			border-radius: 1.2rem;
			flex-basis: calc(66% + 0.25rem);
			max-width: calc(66% + 0.25rem);
			order: 2;
			overflow: hidden;
			padding-top: 37.125%;


			.play_btn {
				left: 2rem;
				top: 2rem;
			}
		} */

			.poster {
				border-radius: 1.2rem;
				box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, .1);
				height: 100%;
				min-height: 44rem;
				order: 2;
				overflow: hidden;
				padding: 0;
			}

			.series_label {
				display: none;
			}

			.details {
				border: 0 none !important;
				order: 1;
				padding: 0;
			}

			.title {
				font-size: 3.2em;
				line-height: 120%;
				margin: 0 0 3rem;
			}

			.description {
				font-size: 1.6em;
			}

			.foot {}

			.play_btn {
				left: auto;
				right: 61%;
				top: 2rem;
			}

			&.watched {
				.watched_tag {
					bottom: 0;
					left: auto;
					margin: 0;
					max-width: calc(67.3% - 1.5rem);
					right: 0;
					top: auto;
					transform: none;
				}
			}

			&:hover .poster {
				box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, .4);
			}
		}
	}
}

@media screen and (max-width: $tablet_max_width) {
	.video_cards_list {
		.video_card {
			.description {
				line-height: 140%;
			}

			&:first-child {
				.poster {
					min-height: 36rem;
				}

				.description {
					font-size: 1.4em;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {

	#programmatic_u,
	#page_ooh_from_home {
		.video_cards_list {

			.video_cards_list,
			.video_card:first-child {
				grid-template-columns: 1fr;
			}
		}
	}

	.video_cards_list {
		column-gap: 0;
		display: block;

		.video_card {
			font-size: 1.4rem;
			margin-bottom: 4rem;

			.description {
				line-height: 140%;
			}

			.foot {
				margin-top: 3rem;
			}

			&:first-child {
				box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, 0.1);
				grid-template-columns: 1fr;

				.poster {
					border-radius: 1.2rem 1.2rem 0 0;
					box-shadow: none;
					height: 0;
					min-height: 0;
					order: 1;
					padding-top: 56.25%;
				}

				.details {
					order: 2;
					padding: 3rem;
				}

				.title {
					font-size: 2.2em;
				}

				.description {
					font-size: 1.4em;
				}

				.play_btn {
					left: 1rem;
					right: auto;
					top: 1rem;
				}

				&.watched {
					.watched_tag {
						bottom: auto;
						margin-top: 56.25%;
						max-width: 100%;
						top: 0;
						transform: translateY(-100%);
					}
				}
			}
		}
	}
}