#dsp-what-is-digital-out-of-home {

	.video {
		.Row {
			.column {
				justify-content: center;
			}
		}
	}

	.QuoteBlock {
		blockquote {
			@include fontAltBold;
			color: #16C4C9;
			font-size: 2.4rem;
			line-height: 200%;
		}
	}

	section.DefiningDOOH {
		.column {
			p.blue_font {
				color: #16C4C9;
			}

			img {
				width: 100%;
			}
		}
	}

	section.advantageDOOH {
		.Row {
			.quote_column {
				align-items: flex-start;
				background-color: #e3f6fa;
				padding: 2rem;

				.Video {
					margin-bottom: 2rem;
				}

				p {
					color: #16C4C9;
					font-family: "Merriweather Black", "Merriweather", serif;
					font-size: 2.2rem;
					font-style: normal;
					font-weight: bold;
					line-height: 160%;
					margin-bottom: 2rem;
				}

				.Video {
					.poster {
						.PlayBtn {
							display: none;
						}
					}
				}
			}
		}
	}

	section.DOOHInventory {
		img {
			object-fit: contain;
			width: 100%;
		}
	}

	section.bestDeal_wrapper {
		background-image: url("../../img/bg/dsp_bg_station.jpg");

		.bestDeal {
			p {
				color: white;
			}

			h3 {
				color: white;
			}

			.Row {
				.column {
					img {
						border-radius: 50%;
						width: 100%;
					}

				}
			}
		}
	}
}