@keyframes popFromBottomCentered {
	0% {
		opacity: 0;
		transform: translateY(-50%) translateY(10rem);
	}

	100% {
		opacity: 1;
		transform: translateY(-50%);
	}
}

@media (min-width: $sm) {
	#careers {
		.Hero {
			padding-bottom: 60px;

			h1 {
				max-width: 20ch;
			}
		}

		.locations {
			.region_choice {
				&.world {
					display: flex;
				}
			}

			.Map {
				margin-bottom: 15px;
			}

			.Quote {
				flex: 0 0 calc(60% - 8px);
				margin-bottom: 0;

				.Quote_mark {
					margin-bottom: 2rem;
					width: 3rem;
				}

				p {
					margin-bottom: 1em;
				}
			}

			.Panel {
				flex: 0 0 calc(40% - 8px);
				margin-bottom: 0;
			}
		}

		.values {
			&>.columns_wrapper {
				.right {
					margin: 16px 0 0 auto;
					max-width: calc(50% - 8px);
				}
			}

			.Row {
				transform: translateY(-50%);
			}

			.values_table {
				padding-left: 3rem;
				padding-right: 3rem;
				padding-top: 0;

				hr {
					display: block;
				}
			}

			.value_icon {
				&.active {
					transform: scale(1.2);
				}
			}

			.values_descriptions {
				margin-top: 0;

				span {
					display: block;
					margin: 0 auto;
					max-width: 26ch;
				}
			}

			.value_description {
				@include fontBolder;
				font-size: 24px;
			}

			.values_photo {
				flex: 0 0 calc(50% - 12px);
				height: 50vw;
				left: 0;
				margin: 16px 0 0;
				max-height: 200px;
				max-width: calc(50% - 8px);
				position: absolute !important;
				top: 100%;
			}
		}

		.glassdoor {
			font-size: calc(min(2vw, 24px));

			.Panel {
				flex-flow: row nowrap;
				padding: 32px 32px 32px 48px;
			}

			.logo_glassdoor {
				margin: 0;
				max-width: 14%;
			}

			.stars {
				flex: 1 1 20%;
				margin: 0 1em;

				img {
					width: 3em;
				}
			}

			.description {
				flex: 1 1 70%;
				margin: 0;
				max-width: calc(60% - 4em);
				text-align: center;
			}
		}

		.locations {
			.Quote {}
		}

		.awards {
			.award {
				font-size: calc(min(1.2vw, 10px));
			}
		}

		.benefits {
			p {
				max-width: 100%;
			}

			.Grid.Row {
				margin: 0 auto;
				pointer-events: none;
				position: relative;

				&.mobile {
					display: none;
				}

				&.desktop {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}
			}

			.box {
				font-size: calc(min(2.4vw, 20px));
				padding-top: 100%;

				.inner {
					@include bg;
					padding: 1.2em 1.2em calc(1em + 16px);
				}
			}

			.box_title {
				margin-bottom: 0.8em;
			}

			.box_description {
				margin-left: auto;
			}

			.box_icon {
				bottom: 1em;
				left: auto;
				right: 1em;
				top: auto;
			}
		}

		.benefits_photos_mobile {
			display: none;
		}

		.openings {
			.toolbar {
				display: grid;
				font-size: 16px;
				grid-template-columns: repeat(3, 1fr);
			}

			.toolbar_input {}

			.list_departments {}

			.list_locations {}

			.text_search {}

			.listing {
				align-content: center;
				align-items: center;
				color: $ash;
				column-gap: 15px;
				display: grid;
				grid-template-columns: 2fr 1fr 1fr 32px;
			}

			.Column {
				flex-basis: 100%;
				max-width: 100%;
			}

			.title {
				margin-bottom: 0;
			}

			.location {
				margin-bottom: 0px;
				padding-right: 3%;
			}

			.apply {
				justify-content: flex-end;
			}

			.share {
				flex-basis: 32px;
				max-width: 32px;
			}
		}

		.ats {
			margin: 60px 0;
		}

		.community {
			margin-bottom: calc(min(14vw, 160px));
			margin-top: calc(min(5vw, 50px));

			.Row {
				.Column {
					flex-basis: calc(50% - 1.5rem);
					max-width: calc(50% - 1.5rem);
				}
			}

			.right {
				padding-top: 150px;

				.gatsby-image-wrapper {
					height: calc(min(50vw, 345px));
				}
			}

			.Quote {
				p {
					font-size: 14px;
				}
			}
		}

		.right_place {
			overflow: visible;
			padding-top: 80px;

			video {
				margin-bottom: -90px;
			}
		}

		.faq {
			h2 {}

			.unfold {
				.line {
					transition: transform 0.5s ease-out;
				}
			}

			.qa {
				@for $i from 1 through 10 {
					&:nth-of-type(#{$i}) {
						animation-delay:#{math.div($i, 3)}s;
					}
				}

				@include fadeInOnce(1s);
				opacity:0;

				&.active {
					.unfold {
						.v {
							transition: transform 0.5s ease-in;
						}
					}
				}
			}

			.q {}

			.a {
				transition: max-height 0.3s ease, margin 0.3s ease;
			}
		}
	}
}


@media (min-width: $md) {
	#careers {
		.Hero {
			padding-bottom: 8rem;

			.container {
				flex-flow: row nowrap;
			}

			.text_zone {
				align-items: flex-start;
				flex: 0 0 45%;
				justify-content: center;
				margin-bottom: 0;
				max-width: 48rem;
				text-align: left;
			}

			.video_zone {
				flex: 0 0 50%;
				max-width: 50%;
			}

			h1 {
				max-width: 20ch;
			}

			.tagline {
				max-width: 50ch;
			}


			.Video {
				.PlayBtn {
					transform: translate(-50%, 80%) translateX(-1em) scale(0.2);
				}
			}
		}

		.mission_statement {
			justify-content: space-between;

			.left {
				max-width: 50%;
				order: 1;
			}

			.right {
				max-width: 40%;
				order: 2;
			}

			video {
				margin-top: 0;
			}
		}

		.locations {
			.w-full {
				align-items: stretch;
				width: 100%;
			}

			.Quote {
				flex-basis: calc(67% - 8px);
				margin: 0;
			}

			.Panel {
				flex-basis: calc(33% - 8px);
			}
		}

		.values {
			&>.columns_wrapper {
				display: flex;
				flex-flow: row nowrap;

				.left {
					align-items: flex-end;
					flex-basis: calc(58.33% - 8px);
					max-width: calc(58.33% - 8px);
				}

				.right {
					flex-basis: calc(41.66% - 8px);
					max-width: calc(41.66% - 8px);
				}
			}

			.Row {}

			.values_table {}

			.value_icon {
				&.active {}
			}

			.value_description {
				span {
					max-width: 100%;
				}
			}

			.values_photo {
				flex-basis: 100%;
				margin: 16px 0 0 auto;
				max-width: 360px;
				position: relative !important;
				top: 0;
			}

			&.scrolled .Quote {
				animation-name: popFromBottomCentered;
				top: 50%;
			}
		}

		.glassdoor {
			margin: 160px 0;
		}

		.benefits {
			.Grid.Row {
				margin: -4rem auto;
			}

			.box {
				padding-top: 90%;
			}
		}

		.openings {
			/* .ParallaxMosaic {
				padding-bottom: calc(min(28rem, 14vw));
				padding-top: min(6rem, 4vw);
			} */
		}

		.ats {
			align-content: center;
			align-items: center;
			display: none;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin: 90px 0 0;
			padding: 24px 36px;

			.icon {
				flex: 0 0 20px;
				margin: 0 20px 0 0;
			}

			p {
				flex: 1 1 auto;
				margin: 0;
				max-width: 100%;
				padding-right: 20px;
				text-align: left;
			}

			.cta {
				flex: 1 1 auto;
			}
		}

		/* .community {
			margin-bottom: calc(min(20vw, 220px));
			margin-top: calc(min(10vw, 100px));
		} */

		.faq {
			.qa.active {
				.a {
					max-height: 100px;
				}
			}
		}
	}
}

@media (min-width: $lg) {
	#careers {
		.benefits {
			.Grid.Row.desktop {
				grid-template-columns: repeat(4, 1fr);
				margin-bottom: 0;
				margin-top: 0;
			}
		}
	}
}

@media (max-width: $mdMax) {}

/* OLD BREAKPOINTS */

@media (min-width: 576px) and (orientation: landscape),
(min-width: 768px) {}