@media (max-width: $tablet_max_width) {
	#resources {
		.Hero {
			background-position: 30%;
			background-size: unset;
			margin-bottom: 0;

			.hero_container {
				.Tank {
					padding-bottom: 10rem;
				}
			}
		}

		.ebooks .resource,
		.webinars .ImgFlank .lead,
		.webinars .ImgFlank aside {
			flex-basis: calc(50% - 1.5rem);
			max-width: calc(50% - 1.5rem);
		}

		.webinars .upcoming_tag {
			left: calc(50% - 1.5rem);
		}
	}
}

@media (max-width: $mobile_max_width) {
	#resources {
		.Hero {
			background-size: unset;
			margin-bottom: 0;

			.hero_container {
				margin: 0;

				.title {
					font-size: $tankPadding;

					span {
						font-size: 100%;
					}
				}

				.tagline {
					width: 100%;
				}
			}
		}

		.ebooks {
			margin-top: 3rem;

			h3 {
				font-size: 5rem;
				text-align: center;
			}

			.ImgHat {
				flex: 0 0 100%;
			}
		}

		.webinars {
			display: flex;
			flex-flow: column;
			justify-content: center;

			h3 {
				font-size: 5rem;
				margin-top: 2rem;
				text-align: center;
			}

			.resource:nth-child(even),
			.resource:nth-child(odd) {
				.ImgFlank {
					flex-flow: column;

					aside {
						max-width: calc(100% - 15px);
					}

					.lead {
						align-items: flex-start;
						max-width: calc(100% - 15px);
					}

					h3,
					.description,
					.link {
						text-align: left;
					}
				}
			}

			.reverse {
				.lead {
					align-items: flex-start;

					p {
						text-align: start;
					}
				}
			}
		}

		.featured,
		.ebooks {
			.resource .ImgHat .Row {
				height: 30rem;
				max-height: 40vw;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	#resources {
		.webinars .upcoming {
			display: none;
		}

	}

	.Modal.modal_resources {
		.thumb {
			height: 35vw;
		}

		.Form {
			margin-bottom: 8rem;
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#resources {
		h2 {
			margin: 2rem 0 6rem;
		}

		.hull {
			.Tank {
				.resource {
					flex-basis: 100%;
					max-width: 100%;
				}
			}
		}

		.webinars .resource {
			.ImgFlank {
				aside {
					flex-basis: 100%;
					margin-bottom: 3rem;
					max-width: 100%;
				}

				.lead {
					flex-basis: 100%;
					max-width: 100%;
				}
			}

			&:nth-of-type(even) .ImgFlank {
				flex-flow: row wrap;

				.lead {
					align-items: flex-start;

					h3,
					p {
						text-align: left;
					}
				}
			}
		}
	}
}