html[lang="fr"] {}

html[lang="es"] {
	#resources {
		.Hero .hero_container .tagline {
			width: 70%;
		}

		.hull {
			display: flex;
			flex-flow: column nowrap;
		}

		.featured {
			order: 1;
		}

		.line1 {
			order: 1;
		}

		.ebooks {
			order: 5;
		}

		.line2 {
			order: 4;
		}

		.webinars {
			margin-bottom: 6rem;
			order: 3;
		}

		.webinars {}
	}
}

html[lang="de"] {
	#resources {


		.webinars,
		.line2 {
			display: none;
		}
	}
}