$grey:#535353;

@mixin fontAlt {
	font-family: "Playfair", serif;
	font-weight: 100;
}

#ayuda_platform {
	br {
		display: none;
	}

	.CTA.ayudaJuice {
		font-weight: normal;
	}

	em {
		color: $ayudaJuice;
	}

	h1,
	h2,
	h3 {
		@include fontMed;
		color: $grey;
		font-variant: normal;
		margin-bottom: 3rem;
		position: relative;
		text-transform: none;
	}

	.Hero {
		height: 56rem;
		margin-bottom: 10rem;

		.Tank {
			justify-content: flex-start;
			padding-top: 5rem;
		}

		.hero_content {
			width: 45%;

			img {
				width: 55%;
			}

		}

		.title {
			@include fontSuperBold;
			color: #FFF;
			font-size: 10rem;
			font-size: calc(min(80px, 16vw));
			margin-top: 0;
		}

		.description {
			@include fontLighter;
			color: #FFF;
			font-size: 20px;
			margin: 1em 0;
			max-width: 26ch;
		}

		.bus_stop {
			bottom: 0;
			left: 48%;
			max-width: 60%;
			position: absolute;
			width: 50vw;
		}

		.ctas {
			display: flex;
			justify-content: flex-start;
		}

		.CTA {
			background-color: #FFF;
			border: 1px solid $teal;
			color: $teal;
			width: auto;

			&:hover {
				background-color: $teal;
				color: #FFF;
			}
		}
	}

	.grey_wave {
		background-color: #eaf0fc;
		margin-top: 0;
		overflow: hidden;
		padding-bottom: 12rem;
		padding-top: 12rem;
		z-index: 1;

		.bg {
			@include bg;
			overflow: hidden;
			top: 12rem;

			img {
				left: 0;
				object-fit: cover;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}

		h3 {
			background: linear-gradient(to bottom left, #35c29a 0, #62b7ff 58.15%, #ff9951 91.3%);
			-webkit-background-clip: text;
			font-size: calc(min(88px, 16vw));
			font-variant: small-caps;
			line-height: 90%;
			margin-top: -0.1em;
			text-align: left;
			text-transform: lowercase;
			-webkit-text-fill-color: transparent;
		}

		p {
			@include fontLight;
			font-size: 20px;
			line-height: 160%;
		}

		em {
			@include fontLight;
			color: $blue;
			font-size: 1.8rem;
			font-style: italic;
			line-height: 150%;
			margin-bottom: 0;
		}

		ul li {
			@include fontLight;
			font-size: 16px;
			line-height: 160%;
			list-style-type: none;
			padding-left: 2em;
			position: relative;

			&:before {
				background-image: url("../../../img/ui/check_teal.svg");
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: inline-block;
				height: 1em;
				left: 0;
				position: absolute;
				top: 0.4em;
				width: 1em;
			}
		}

		.part_smarter {}

		.screenshot {
			border-radius: 1rem;
			height: auto;
			max-width: 55rem;
			width: 100%;
		}
	}

	.main_feature {
		margin-bottom: 6.5rem;

		.background {
			background-color: #F5F5F5;
			height: 100%;
			margin-left: 5%;
			position: absolute;
			width: 100%;
		}

		.tagline_wrapper {
			padding-left: 6%;

			p {
				background: linear-gradient(218.36deg, #35C29A 0%, #62B7FF 58.15%, #FF9951 91.3%);
				-webkit-background-clip: text;
				font-size: 38px;
				font-weight: 900;
				line-height: 125%;
				margin-bottom: 30px;
				width: 95%;
				-webkit-text-fill-color: transparent;
			}
		}

		.description_wrapper p {
			@include fontLighter;
			color: $smoke;
			font-size: 20px;
			line-height: 125%;
		}

		.Row {
			padding: 6rem 0;
		}

		.column {
			align-items: flex-start;
			display: flex;
			flex-basis: calc(45% - 1.5rem);
			max-width: calc(45% - 1.5rem);
		}

	}

	.manage_campaigns {
		margin-bottom: 12rem;
		margin-top: 11rem;

		.ctas {
			button {
				@include fontReg;
				background-color: #fff;
				border: 1px solid #e4e4e4;
				border-radius: 0.6rem;
				color: #888;
				cursor: pointer;
				font-size: 1.8rem;
				height: 8rem;
				transition: border-color 0.6s, color 0.6s;
				width: 100%;

				&.is_current {
					border-color: #8e44ad;
					color: $blue;
				}
			}
		}

		.carousel {
			overflow-x: hidden;

			&.position_0 .carousel_inner {
				transform: translateX(0%);
			}

			&.position_1 .carousel_inner {
				transform: translateX(-100%);
			}
		}

		.carousel_inner {
			flex: 0 0 100%;
			max-width: 100%;
			transition: transform 0.6s ease;
		}

		.carousel_item {
			flex: 0 0 100%;
			max-width: 100%;

			p {
				color: $reflex;
				font-size: 16px;
			}

			ul {
				font-size: 16px;
				margin-bottom: 1em;
				padding-left: 1em;
			}

			li {
				color: $reflex;
				font-size: 1em;
				margin: 0;
			}
		}

		img.feature {
			height: auto;
			max-height: 30vw;
		}

		.carousel_dots {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-top: 6rem;
			width: 100%;

			li {
				display: inline-grid;
				list-style-type: none;
				margin: 0 0.5rem;
				padding: 0;
				place-items: center;
			}

			.dot {
				appearance: none;
				background-color: #c4c4c4;
				border: 0 none;
				border-radius: 100%;
				cursor: pointer;
				height: 0.8rem;
				padding: 0;
				transition: height 0.6s, width 0.6s, background-color 0.6s;
				width: 0.8rem;

				&.is_current {
					background-color: #186aed;
					height: 1.2rem;
					width: 1.2rem;
				}
			}
		}
	}

	.features_list {
		margin-bottom: 120px;

		.features_img {
			display: block;
			max-width: 50vw;
		}

		.ImgFlank {
			aside {
				flex-basis: calc(10% - 0.5rem);
				justify-content: flex-start;
				max-width: calc(10% - 0.5rem);

				img {
					padding-top: 0.5rem;
				}
			}

			.lead {
				flex-basis: calc(90% - 1.5rem);
				margin-bottom: 6rem;
				max-width: calc(90% - 1.5rem);

				h2 {
					@include fontLight;
					font-size: 30px;
					line-height: 120%;
					margin-bottom: 2.8rem;
				}

				p {
					@include fontLight;
					color: $grey;
					font-size: 16px;
					line-height: 155%;
				}
			}
		}
	}

	.products {
		align-items: center;
		background-color: #1D1D1D;
		display: flex;

		.Tank {
			align-items: center;
			display: flex;
			flex-flow: column;
			padding: 8rem 0;

			h2 {
				@include fontLighter;
				color: #FFF;
				margin-bottom: 7rem;
				text-align: center;

				strong {
					@include fontBold;
				}
			}
		}

		.Row {
			margin-bottom: 3rem;
		}

		.column {
			align-items: center;

			.description {
				justify-content: flex-start;
				margin-bottom: 3.5rem;
				padding: 0 5rem;

				p {
					color: #FFF;
					margin-bottom: 2rem;
				}
			}

			.CTA {
				width: 45%;
			}
		}

		img {
			width: 60%;
		}
	}

	.QuoteBlock {
		blockquote {
			@include fontAlt;
			background-color: transparent;
			color: $grey;
			font-size: 2.4rem;
			margin: 12rem 8rem 7rem 8rem;
			padding: 0;

			.bg {
				@include bg;
				left: 4%;
				object-fit: contain;
				opacity: 0.15;
				top: -4%;
			}

			.wrap {
				align-items: center;
				display: flex;
				flex-flow: column nowrap;
				height: 45rem;
				justify-content: center;
				max-width: 70rem;

				.quotation_mark {
					margin-bottom: 1rem;
				}

				&:before {
					display: none;
				}

				&:after {
					display: none;
				}
			}

			p {
				@include fontAlt;
				color: #292929;
				display: block;
				font-size: 22px;
				line-height: 150%;
				margin: 0.5em auto;
				text-align: center;
			}

			.sign {
				@include fontLighter;
				color: #292929;
				font-size: 16px;
				letter-spacing: 0.8px;
				line-height: 160%;
				margin-bottom: 5rem;
			}

			strong {
				@include fontBold;
				display: block;
			}
		}
	}

	.demo {
		align-items: center;
		background-color: $breeze;
		display: flex;
		height: 58rem;

		.lead {
			padding-left: 5rem;

			p {
				@include fontLighter;
				color: $grey;
				font-size: 20px;
				margin-bottom: 3em;
			}

			em {
				@include fontBold;
				display: block;
			}
		}
	}

	.blog_recent_posts {
		margin-top: 10rem;

		.ctas {
			@include flexCenter;
			margin-bottom: 6rem;
			margin-top: 6rem;

			.CTA {
				@include fontMed;
				font-size: 1.6rem;
				padding: 1.8rem 6rem 1.6rem;
			}
		}
	}

	.Form {
		.CTA {
			border-radius: 6px;
			margin-top: 3rem;
		}

		form {
			.field {
				label>span {
					@include fontBolder;
					color: $grey;
					font-size: 1.4rem;
				}

				&.hs_consent_to_privacy_policy label>span {
					@include fontReg;
					font-size: 1.2rem;
				}

				.input input:not([type="checkbox"]),
				.input select,
				.input textarea {
					@include fontBold;
					border: 1px solid #E8E8E8;
					border-radius: 6px;
					color: #9A9A9A;
					font-size: 1.4rem;
					height: auto;
					min-height: 4.8rem;
					padding: 1.4rem;
				}
			}

			div.actions {
				display: flex;
				justify-content: center;

				input[type="submit"].hs-button {
					border-radius: 6px;
					font-size: 1.6rem;
					text-transform: none;
					width: 40%;
				}
			}
		}

		.submitted-message {
			border: 1px solid #E6E6E6;
			border-radius: 6px;
			padding: 7rem 2rem;

			p {
				@include fontReg;
				font-size: 1.4rem;
				margin-bottom: 2rem;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		&.hide_submitted_message {
			.submitted-message {
				visibility: hidden;
			}
		}
	}
}