html[lang="fr"] {
	#ayuda_platform {
		.grey_wave h3 {
			font-size: min(88px, 11vw);
		}

		.blog_recent_posts {
			display: none;
		}

		section.demo .Tank .ImgFlank .lead .CTA {
			width: 100%;
		}
	}
}

@media (min-width: $sm) {
	html[lang=fr] #ayuda_platform .grey_wave h3 {
		font-size: min(78px, 6vw);
	}
}