@import "../base/dependencies";

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap'); */

@mixin baseText {
	font-size: 15px;
	line-height: 160%;
}

body #wrapper {
	max-width: 980px;
	padding: 120px 40px 0;
}

body:after {
	background-image: url("https://f.hubspotusercontent10.net/hubfs/297064/images/BroadSign%20Logos/broadsign_logo_192x45.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 50px;
	left: 50%;
	max-width: 980px;
	position: absolute;
	top: 20px;
	transform: translateX(-50%);
	width: 100%;
}

.jfdhlfjkddflkjfkld {
	color: #000;
}

#wrapper {
	#app_body {
		margin: 0 auto !important;
		max-width: 100%;
		padding: 0 !important;

		img {
			height: 300px;
			left: 0;
			object-fit: cover;
			object-position: center center;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#logo {
			display: inline-block;
			object-fit: contain;
			object-position: left center;
		}

		#header {
			padding-right: 0;
			padding-top: 300px;

			&>a {
				color: $blue;

				&:hover {
					color: $teal;
				}
			}

			a#apply_button {
				background-color: $blue;
				border: 0 none;
				color: #FFF;
				padding: 12px 20px;
				top: 370px;
				transition: background-color 0.3s;

				&:hover {
					background-color: $teal;
					text-shadow: 0px 1px 1px rgba(#000, 0.4);
				}
			}
		}

		.app-title {
			@include fontSuperBold;
			color: $blue;
			font-size: 62px;
			margin-bottom: 20px;
			margin-top: 60px;
		}

		.company-name {
			color: $grey;
			font-size: 13px;
		}

		&>.location {
			color: $grey;
			font-size: 13px;
		}

		#content {
			@include fontLighter;
			color: $blue;
			line-height: 140%;

			p {
				@include baseText;
				margin-bottom: 20px;
				margin-top: 30px;
			}

			ul {
				padding-left: 20px;

				li {
					@include baseText;
					margin-bottom: 10px;
				}
			}
		}

		#application {
			background: linear-gradient(to bottom, $whisper 0%, $lightGrey 100%);
			border-radius: 10px;
			color: $blue;
			margin: 60px auto;
			padding: 40px 30px;

			.heading {
				@include fontSuperBold;
				color: $blue;
				font-size: 32px;
				margin-bottom: 40px;
			}

			.required-fields {
				color: $red;
			}

			#submit_buttons {
				text-align: center;

				input {
					background-color: $blue;
					border: 0 none;
					margin: 0 auto;
					padding: 12px 20px;
					transition: background-color 0.3s;

					&:hover {
						background-color: $teal;
					}
				}
			}
		}

	}
}

#footer {
	background-color: $footer;
	bottom: -30px;
	color: #99A1B5;
	height: 100px;

	a {
		@include fontBold;
		color: $teal;
		text-decoration: none !important;
		transition: color 0.3s;

		img {
			filter: saturate(0) brightness(100);
			opacity: 1;
			transition: opacity 0.3s;
		}

		&:hover {
			color: #FFF;

			img {
				opacity: 0.4;
			}
		}
	}
}

@media (max-width:800px) {
	#wrapper #app_body #application {
		max-width: 100%;

		form {
			margin: 0 auto;
			max-width: 550px;
		}
	}
}