@keyframes textPulseGlow {
	0% {
		color: $midnightBlue;
		text-shadow: 0 0 0 #FFF;
	}

	100% {
		color: lighten($midnightBlue, 20);
		text-shadow: 0 0 20px #FFF, 0 0 20px #FFF, 0 0 20px #FFF;
	}
}

#blog {
	#hull {
		padding-bottom: 9rem;
	}

	.remaining_posts {
		display: none;
	}

	.posts {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		&.featured {
			.post {
				flex-basis: 100%;
				height: 48rem;
				max-width: 100%;
				position: relative;

				.text {
					top: calc(50% + 2rem);
					transform: translateY(-50%);

					p {
						@include fontBolder;
						font-size: 6rem;
						padding: 1rem 4rem;
						text-transform: uppercase;
					}

					.date {
						@include fontReg;
						font-size: 2.5rem;
						text-transform: uppercase;
					}
				}

				.tags {
					display: none;
				}
			}
		}

		&.remain_2 {
			.post {
				&:nth-last-child(1) {
					margin-left: 0.4rem;
					margin-right: auto;
				}

				&:nth-last-child(2) {
					margin-left: auto;
					margin-right: 0.4rem;
				}
			}
		}
	}

	.post {
		background-color: #FFF;
		box-sizing: border-box;
		flex-basis: calc(33% - 0.4rem);
		height: 22rem;
		margin: 0 auto 4rem;
		max-width: calc(33% - 0.4rem);

		.bg {
			@include bg;
		}

		.overlay {
			@include blogGradient;
			opacity: 1;
			transition: opacity 0.3s;
			z-index: 2;
		}

		.text {
			display: flex;
			flex-flow: column;
			max-width: 100rem;
			position: absolute;
			top: 1.4rem;
			width: 100%;
			z-index: 10;

			.label {
				font-size: 3rem;
			}

			p {
				@include fontAltBolder;
				color: #FFF;
				display: inline-block;
				font-size: 2.2rem;
				line-height: 110%;
				padding: 1rem 2rem;
				text-align: left;
				transition: text-shadow 0.3s;
			}

			.date {
				@include fontReg;
				font-size: 1.5rem;
				font-weight: 100;
				text-transform: uppercase;

			}
		}

		.tags {
			bottom: -0.8em;
			display: flex;
			flex-flow: row-reverse wrap-reverse;
			font-size: 10px;
			justify-content: flex-start;
			padding-right: 4px;
			position: absolute;
			right: 0;
			z-index: 100;
		}

		.tag {
			@include fadeInOnce(0.6s);
			align-items: center;
			background-color: $blue;
			border-radius: 2px 4px 4px 2px;
			color: #FFF;
			display: inline-flex;
			filter: drop-shadow(1px 1px 2px #000);
			flex-flow: row nowrap;
			font-size: 1em;
			height: 2em;
			margin: 4px 0 0 2.2em;
			padding: 0 0.6em;
			position: relative;
			transform: rotate(3deg);
			transform-origin: left center;
			white-space: nowrap;

			&:before {
				background-color: $blue;
				border-right: 1px solid $blue;
				clip-path: polygon(0% 50%, 5% 40%, 99% 1%, 100% 0%, 100% 100%, 99% 99%, 5% 60%);
				content: "";
				height: 100%;
				left: 0;
				max-width: 100%;
				position: absolute;
				top: 0;
				transform: translateX(-100%) translateX(1px);
				width: 1.4em;
				z-index: 1;
			}

			&:after {
				background-color: #FFF;
				border-radius: 50%;
				content: "";
				height: 3px;
				left: 0;
				max-width: 100%;
				position: absolute;
				top: 50%;
				transform: translate(-6px, -60%);
				width: 3px;
				z-index: 10;
			}

			&.active {
				display: inline-flex;
			}
		}

		&:hover {
			.bg {
				opacity: 0.5;
			}

			.text p {
				text-shadow: 2px 2px 6px $blue;
			}
		}
	}

	.newsletter {
		border-radius: 2rem;
		transition: padding 0.6s ease-out;

		.cta_unfold {
			@include fontAltBolder;
			cursor: default;
			display: block;
			font-size: 2.2rem;
			margin: 0 auto;
			max-width: 90rem;
			text-align: center;
			text-transform: none;
			width: 100%;

			em {
				color: $teal;
				cursor: pointer;
				transition: color 0.3s;

				&:hover {
					color: $blue;
				}
			}

		}

		.Form {
			max-height: 0rem;
			min-height: 0rem;
			overflow: hidden;
			transition: max-height 0.6s ease-out;

			form {
				align-items: center;
				display: flex;
				flex-flow: column;
				margin: 4rem auto 0;
				max-width: 90rem;

				.field {
					max-width: 100%;
					width: 100%;
				}

				.hs_submit {
					margin-top: 3rem;
				}
			}
		}

		.submitted-message {
			@include fontAltBolder;
			animation: textPulseGlow 1s ease-in-out 0s infinite alternate;
			color: $midnightBlue;
			font-size: 4rem;
			line-height: 140%;
			margin: 3rem auto 0;
			text-align: center;

			p {
				color: inherit;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}

		&.open {
			.Form {
				max-height: 50rem;
			}
		}
	}

	.filters {
		align-items: center;
		-webkit-appearance: none;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 4rem;
		margin-top: 1rem;

		label {
			@include fontBolder;
			color: $grey;
			font-size: 1.6rem;
		}

		.filter {
			@include fontReg;
			background-color: #FFF;
			border: 1px solid #CCC;
			border-radius: 5px;
			box-sizing: border-box;
			color: $grey;
			cursor: pointer;
			font-size: 1.6rem;
			height: auto;
			line-height: 140%;
			margin: 1rem;
			max-width: 30rem;
			padding: 0.5rem 0.8rem 0.3rem;
			position: relative;
			transition-duration: 0.3s;
			width: 30%;

			&.text {
				cursor: text;
				margin-right: 0;
				padding-bottom: 0.2rem;
			}
		}
	}

	.empty_search_results {
		background-color: rgba($red, 0.08);
		border-radius: 2rem;
		display: inline-block;
		max-height: 0rem;
		opacity: 0;
		overflow: hidden;
		padding: 0rem;
		text-align: center;
		width: 100%;

		p {
			color: $red;
		}

		&.active {
			max-height: 20rem;
			opacity: 1;
			padding: 3rem;
			transition-duration: 0.6s;
			transition-property: max-height, opacity, padding;
			transition-timing-function: ease-out;
		}
	}

	.read_more {
		@include flexCenter;
		max-height: 10rem;
		opacity: 1;
		transition-duration: 0.6s;
		transition-property: max-height, opacity;
		transition-timing-function: ease-out;
		width: 100%;

		&.hide {
			max-height: 0rem;
			opacity: 0;
		}

		button {

			&:focus,
			&:active {
				background-color: #FFF;
				border-color: $teal;
				color: $teal;
			}

			&:hover {
				background-color: $teal;
				border-color: #FFF;
				color: #FFF;
			}
		}
	}
}