#dsp-mobile-digital-out-of-home {
	.MobileCampaign {
		img {
			width: 100%;
		}
	}

	.WhyOOH {
		background-color: #E3F6FA;

		.OOH {
			.Row {
				padding-bottom: 3rem;

				.column {
					align-items: flex-start;
				}
			}
		}
	}
}