@media (max-width: $tablet_max_width) {
	#dsp-mobile-digital-out-of-home {
		.Hero {
			.bgFluid {

				&,
				img,
				picture {
					object-position: 65% center !important;
				}
			}

			.Tank {
				.text {
					width: 70%;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#dsp-mobile-digital-out-of-home {
		.Hero {
			.Tank {}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#dsp-mobile-digital-out-of-home {
		.Hero {
			.Tank {}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#dsp-mobile-digital-out-of-home {
		.Hero {
			background: linear-gradient(to right, #D44206 0%, #D2420D 25%, #D0421C 50%, #D0421E 75%, #D44206 100%);

			.bgFluid {

				&,
				img,
				picture {
					object-position: bottom center !important;
				}
			}

			.Tank {
				.text {
					text-shadow: 1px 1px 2px $dspOrangeShadow, 2px 2px 3px $dspOrangeShadow;
					width:100%;
				}
			}
		}
	}
}