@import "../base/dependencies";

#product_summit_2022 {
	.hero {
		h1 {
			font-size: calc(min(14vw, 90px));
			max-width: 15ch;

			span {
				font-size: 0.9em;
				line-height: inherit;
			}
		}

		p {
			max-width: 58ch;
		}

		.icon_calendar {
			@include flexCenter;
			border: 2px solid #FFF;
			border-radius: 50%;
			filter: brightness(1000);
			font-size: 22px;
			height: 2em;
			width: 2em;

			img {
				height: 1em;
				object-fit: contain;
				width: 1em;
			}
		}

		hr {
			border-bottom: 2px solid #FFF;
			width: 150px;
		}
	}

	ul.checks_gradient li {
		background-position: 0 0.85em;
	}

	.Form {
		form .field .input {

			input,
			select {
				font-size: 16px;
				height: 3em;
				padding-left: 0.8em;
				padding-right: 0.8em;
			}
		}

		form div.actions {
			text-align: right;

			input.hs-button {
				background-color: $reflex;
				border-color: transparent;
				border-radius: 100px;
				font-size: 14px;

				&:hover {
					background-color: $cerulean;
					color: #FFF;
				}
			}
		}

		.submitted-message {
			padding: 0;

			p strong {
				background-position: center 0;
				background-size: 1.8em;
				display: inline-block;
				margin: 0 auto;
				padding: 2.8em 0 0;
				text-align: center;
				width: 100%;
			}
		}
	}
}

@media(min-width:460px) {
	#product_summit_2022 {
		.hero {
			h1 {
				font-size: calc(min(9vw, 90px));
			}
		}
	}
}

@media(min-width:$sm) {
	#product_summit_2022 {
		.hero {
			h1 {}
		}
	}
}

@media(min-width:$md) {}