@media (max-width: $tank_max_width) {
	#broadsign_publish {
		.QuoteBlock blockquote {
			padding-left: $tankPadding;
			padding-right: $tankPadding;
		}
	}
}

@media (max-width: $tablet_max_width) {
	#broadsign_publish {
		display: flex;
		flex-flow: column;

		.Sell_smarter {
			.laptop_demo {}

			.laptop_background {
				flex: 0 0 50%;
				width: 50%;
			}

			.text {
				flex: 0 0 50%;
				width: 50%;
			}

			h3 {
				margin-top: 6rem;
			}
		}

		.Training,
		.Schedule {
			.ImgFlank {

				aside,
				.lead {
					flex: 0 0 calc(50% - 3rem);
					max-width: calc(50% - 3rem);
				}
			}
		}

		.VideoPoster {
			order: 6;
		}

		.Schedule {
			order: 7;
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait) {
	#broadsign_publish .Sell_smarter {
		h3 {}
	}
}

@media (max-width: $mobile_max_width) {
	#broadsign_publish {
		.Sell_smarter {
			.text {
				padding-left: 3rem;
			}
		}

		.Training {
			height: auto;
			margin-bottom: 6rem;
			margin-top: 6rem;
		}

		.Schedule {
			height: auto;
			margin-top: 6rem;

			.ImgFlank aside img {
				object-position: center bottom;
			}
		}

		.Features .Row .ImgHat {
			h5 {
				margin-bottom: 1.5rem;
			}

			&>.column {
				bottom: 1.5rem;
			}
		}

		.QuoteBlock blockquote {
			padding-left: $tankPaddingPhone;
			padding-right: $tankPaddingPhone;
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	#broadsign_publish {
		.Sell_smarter {
			.laptop_demo {
				flex-flow: row-reverse wrap;
				margin: 0;
			}

			.laptop_background {
				flex: 0 0 100%;
				margin: 0 auto;
				max-width: 60rem;
				order: 1;
				width: 100%;
			}

			.text {
				flex: 0 0 100%;
				margin: 3rem 0;
				order: 2;
				padding: 0;
				width: 100%;
			}

			h3 {
				line-height: 120%;
				margin-top: 0;
			}
		}

		.Row {
			flex-flow: column;
		}

		.column {
			align-items: flex-start;
			flex-basis: calc(100% - 5px);
			flex-flow: column;
			max-width: calc(100% - 5px);
		}

		h3 {
			font-size: 3rem;
		}

		.icons_sell_smarter {
			align-items: center;
			flex-flow: row;

			.icons {
				margin: 1.5rem;
				width: 25%;
			}
		}

		.Features {
			padding-bottom: 0;

			.Tank {
				padding-bottom: 6rem;
				padding-top: 6rem;
			}

			.Row {
				align-items: center;
				flex-flow: column;
				position: relative;

				.ImgHat {
					align-items: flex-start;
					flex-basis: 100%;
					flex-flow: row nowrap;
					margin: 4rem 0;
					max-width: 100%;

					.Row {
						flex: 0 0 14rem;
						margin-right: 2rem;
						max-width: 20%;
					}

					.column {
						bottom: 0;
						flex: 0 0 100%;
						max-width: 80%;
					}

					img {
						transform: none;
					}
				}
			}
		}

		.QuoteBlock {
			margin-bottom: 3rem;

			blockquote p {
				padding: 0;
			}
		}

		.Training {
			height: auto;

			.ImgFlank {
				flex-flow: column-reverse;

				aside {
					flex: 1 1 auto;
					margin: 6rem 0 3rem;
					max-width: 100%;

					img {
						max-width: 100%;
						width: 100%;
					}
				}

				.lead {
					align-items: center;
					flex: 1 1 auto;
					max-width: 100%;
				}
			}
		}

		.Schedule {
			height: auto;
			margin-bottom: 0;
			margin-top: 0;
			order: 6;

			.ImgFlank {
				flex-flow: column-reverse;

				aside {
					flex: 1 1 auto;
					margin: 3rem 0 0;
					max-width: 100%;

					img {
						max-width: 60rem;
						width: 100%;
					}
				}

				.lead {
					align-items: center;
					flex: 1 1 auto;
					margin-bottom: 3rem;
					max-width: 100%;
					padding: 0;
				}
			}

			.ctas {
				margin: 3rem auto;
			}
		}

		.Sales {
			.ImgHat {
				flex-flow: column;
			}
		}

		.VideoPoster {
			order: 7;
		}
	}
}

@media (max-width: $xs_max_width) {
	#broadsign_publish {
		.Sell_smarter {
			.laptop_background {
				margin-top: 0;
				max-width: 100%;
				width: 100%;
			}

			.text {
				max-width: 100%;
				padding-left: 0;
				width: 100%;
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#broadsign_publish {
		.Features .Row .ImgHat h5 {
			margin-top: 1rem;
		}

		.Training {
			.ImgFlank {
				flex-flow: column-reverse;

				aside {
					margin: 0;
				}

				.lead {
					margin-bottom: 3rem;
				}
			}
		}

		.Schedule {
			.ImgFlank {
				aside {
					margin: 0;
				}
			}
		}

		.QuoteBlock cite {
			letter-spacing: 2px;
		}
	}
}

@media (max-width: $super_xs_max_width) {
	#broadsign_publish {
		.QuoteBlock blockquote {
			padding-left: $tankPaddingXS;
			padding-right: $tankPaddingXS;
		}
	}
}