@import "../../base/dependencies";

#broadsign_ads__audiences {
	h1 {
		font-size: calc(min(10vw, 48px));
	}

	.Hero {
		.hero_img {
			max-height: 400px;
			max-width: 400px;
		}
	}

	p {
		margin-bottom: 2em;
	}

	.deliver_img {
		max-width: 330px;
	}

	.hiw_01_img {
		max-width: 500px;
	}

	.hiw_02_img {
		max-width: 500px;
	}

	.hiw_04_img {
		max-width: 500px;
	}

	.targeting_groups_panel {
		margin-left: -32px;
		margin-right: -32px;
		max-width: calc(100% + 64px);
		width: calc(100% + 64px);
	}

	.targeting_groups_icon {
		height: 21px;
		object-fit: contain;
		width: 22px;
	}
}

@media (min-width:$sm) {
	#broadsign_ads__audiences {
		.targeting_groups_panel {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
			width: 100%;
		}
	}
}

@media (min-width:$md) {
	#broadsign_ads__audiences {
		.hiw {
			p {
				max-width: 500px;
			}
		}
	}
}