@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#broadsign_air {
	.mega_ui_img {
		pointer-events: none;
	}

	.Tank {
		display: flex;
	}

	.column {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.sm_down {
		display: none;
	}

	.ui_img_01 {
		animation: fadeIn 1s linear 0.6s forwards;
		max-width: 110vw;
		object-position: right top;
		opacity: 0;
		position: absolute;
		right: -8rem;
		top: 22rem;
		width: 160rem;
		z-index: 1;
	}

	.ui_img_02 {
		height: auto;
		max-width: 110vw;
		position: absolute;
		right: -8%;
		top: -36rem;
		width: 164rem;
		z-index: 1;
	}

	/*
	.ui_img_02 {
		height: auto;
		max-width: 110vw;
		position: absolute;
		right: -28%;
		top: -30rem;
		width: 170rem;
		z-index: 1;
	}
	 */

	h1 {
		@include fontSuperBold;
		@include textGradient("to bottom", #47CFE1, #16C4C9);
		display: inline-block;
		font-size: 6.4rem;
		margin: 7rem 0 3rem;
		width: 100%;

		strong {
			appearance: none;
		}

		em {
			color: $midnightBlue;
			white-space: nowrap;
			-webkit-text-fill-color: $midnightBlue;
		}
	}

	h2 {
		@include fontReg;
		color: $midnightBlue;
		font-size: 3.4rem;
		margin-bottom: 2rem;
		text-transform: none;

		em {
			font-weight: bold;
		}
	}

	p {
		color: #617584;
		font-size: 2.4rem;
		line-height: 150%;
		margin-bottom: 4rem;
	}

	.CTA {
		display: inline-flex;
		font-size: 1.6rem;
		line-height: 4rem;
		margin-right: 1.2rem;
		min-height: 5rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.Hero {
		background-image: url("../../../img/heroes/broadsign_air_bg.svg");
		background-size: cover;
		height: 74rem;
		max-height: 74rem;
		z-index: 1;

		.Tank,
		.column {
			align-items: flex-start;
			justify-content: flex-start;
		}

		.column {
			max-width: 56rem;
			width: 50%;
		}

		p {
			color: #062B75;
		}

		.CTA {
			&.cerulean {
				border-color: #FFF;
			}
		}
	}

	.optimize {
		padding-bottom: 25rem;
		padding-top: 18rem;
		z-index: 10;

		.Tank {
			justify-content: flex-end;
		}

		.column {
			max-width: 56rem;
			width: 50%;
		}

		p {
			filter: drop-shadow(0px 0px 8px #FFF) drop-shadow(0px 0px 8px #FFF);
			text-shadow: 0 0 4px #FFF, 0 0 4px #FFF;
		}

		a {
			color: $blue;
			font-weight: bold;

			&:hover {
				color: $teal;
			}
		}
	}

	.byop {
		padding-bottom: 15rem;
		z-index: 1;

		.laptop {
			bottom: -14rem;
			display: none;
			height: 55rem;
			left: 0;
			object-fit: contain;
			position: absolute;
			width: 52rem;
			z-index: 1;
		}

		.Tank {
			display: grid;
			grid-column-gap: 8rem;
			grid-template-columns: 1fr 1fr;
			z-index: 10;
		}

		.column {
			flex: 0 0 50%;
			justify-content: center;
		}

		h2 {
			@include fontBolder;
			font-size: 3rem;
			margin-top: 6rem;
		}

		p {
			color: $midnightBlue;
			font-size: 3rem;
		}

		.lattice {
			display: grid;
			grid-column-gap: 6rem;
			grid-template-columns: 1fr 1fr;

			.pane {
				align-items: center;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
			}

			img {
				max-width: 100%;
			}

			p {
				color: $blue;
				font-size: 1.6rem;
			}
		}
	}

	.tech_blog {
		background-color: $blue;
		z-index: 10;

		.bg {
			background: transparent url("../../../img/bg/broadsign_air_quoteblock.svg") center center no-repeat;
			background-size: cover;
			border-radius: 0;
			margin: 0;
			overflow: hidden;
			z-index: 1;
		}

		.inner {
			display: block;
			padding-bottom: 8rem;
			padding-top: 8rem;
			position: relative;
			transition: box-shadow 0.3s;
			z-index: 10;

			&:hover {
				box-shadow: 0 0 6rem inset #D3B9F5;
			}
		}

		.Tank {
			column-gap: 6rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.thumb {
			border-radius: 4rem;
			bottom: 8rem;
			box-shadow: 0rem 0rem 0rem #FFF;
			height: 46rem;
			margin: -8rem 0;
			transform-style: preserve-3d;
			width: 100%;
			perspective: 500px;
		}

		.desc {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-end;
			width: 100%;

			.from_our_blog {
				@include fontBolder;
				color: #FFF;
				font-size: 3.4rem;
			}

			.blog_title {
				@include fontBolder;
				color: #FFF;
				font-size: 3.6rem;
				margin: 0;
			}

			.read_more {
				@include fontLight;
				color: #FFF;
				font-size: 2.2rem;
			}

			.line {
				border-bottom: 1px solid #FFF;
				margin: 3rem 0;
				opacity: 0.3;
				width: 28rem;

				&.short {
					border-width: 2px;
					opacity: 1;
					width: 6rem;
				}
			}
		}

		.blog_thumb {
			height: 55rem;
			width: 100%;
		}

		/*
		.wrap,
		.signature {

			&:before,
			&:after {
				display: none;
			}
		}

		.quote {
			display: block;
			height: 4rem;
			object-fit: contain;
			object-position: center center;
			opacity: 0.7;
			width: 100%;
		}

		p {
			@include fontAlt;
			color: #FFF;
			display: inline-block;
			margin: 4rem auto 0;
			max-width: 900px;
			text-align: center;
		}

		.signature {
			@include fontBold;
			font-style: normal;
			font-variant: normal;
			text-transform: none;
		}
		 */
	}

	.not_running {
		padding-top: 14rem;
		z-index: 1;

		.Tank {
			display: flex;
			justify-content: space-between;
		}

		.text {
			flex: 0 0 54%;
		}

		p {
			font-size: 2.8rem;
		}

		.list {
			flex: 0 0 34%;
		}

		ul {
			list-style-type: none;
		}

		li {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			margin-bottom: 4rem;

			img {
				flex: 0 0 8rem;
				max-width: 8rem;
				top: 0.6rem;
			}

			span {
				color: #062B75;
				display: inline-block;
				flex: 0 0 calc(100% - 10rem);
				font-size: 2rem;
				font-weight: bold;
				line-height: 150%;
				max-width: calc(100% - 10rem);
				padding-top: 0.2rem;
			}
		}

		.CTA {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}

	.already_running {
		padding-top: 52rem;
		z-index: 10;

		.ui_img_02 {
			display: none;
		}

		.Tank {
			align-items: center;
			flex-flow: column nowrap;
		}

		h2 {
			font-size: 3.2rem;
		}

		p {
			font-size: 2.8rem;
		}

		.CTA {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}

	.contact {
		background-color: #F1F8FF;
		margin-bottom: 14rem;
		margin-top: 14rem;
		padding-bottom: 15rem;
		padding-top: 15rem;
		z-index: 1;

		.Tank {
			display: flex;
			flex-flow: column nowrap;
		}

		p {
			@include fontLighter;
			font-size: 3rem;
			margin: 0 auto;
			max-width: 70rem;
			text-align: center;
		}

		button {
			@include fontBolder;
			color: $cerulean;
			cursor: pointer;
			display: inline-block;
			margin-top: 4rem;
			transition: color 0.3s;

			&:hover {
				color: $teal;
			}
		}
	}

	.related_blog_posts {
		flex-flow: row wrap;
		padding-bottom: 12rem;
		z-index: 1;

		h2 {
			@include fontBold;
			color: $grey;
			flex: 0 0 100%;
			margin-bottom: 3rem;
		}

		.RelatedBlogs {
			margin-bottom: 7rem;
		}

		.read_more {
			color: #00B486;
			font-size: 1.4rem;
			margin-bottom: 0;
		}

		.CTA {
			@include cta($ayudaSplash, "clear");
			line-height: 120%;
			margin: 0 auto;
			padding: 1.2rem 3rem 1rem;
		}
	}
}
