@media (max-width: 1440px) {
	#broadsign_air {
		.byop {
			.lattice p {
				font-size: 1.8rem;
			}
		}
	}
}

@media (max-width: 1100px) {
	#broadsign_air {
		.ui_img_02 {
			top: -28rem;
		}
	}
}

@media (max-width: $tank_max_width) {
	#broadsign_air {

		.ui_img_02 {
			max-width: 120vw;
			right: -14%;
		}
	}
}

/* Exception/patch to help the image work on iPad */
@media (max-width: $tablet_max_width) and (min-width: $mobile_max_width) and (hover:none) {
	#broadsign_air {
		.ui_img_01 {
			animation: none;
			opacity: 1;
		}
	}
}

@media (max-width: $tablet_max_width) {
	#broadsign_air {
		.ui_img_01 {
			max-width: 115vw;
			top: 28rem;
			width: 130rem;
		}

		.ui_img_02 {
			max-width: 140vw;
			right: -26%;
			top: -34rem;
		}

		h1 {}

		.Hero {
			.column {
				max-width: 100%;
				width: 100%;
			}

			p {
				max-width: 50%;
			}
		}

		.optimize {
			padding-bottom: 12rem;
			padding-top: 12rem;
		}

		.not_running {

			.text,
			.list {
				flex: 0 0 calc(50% - 3rem);
			}

			li {
				align-items: center;
			}
		}

		.already_running {
			padding-top: 58rem;
		}
	}
}

@media (max-width: 900px) {
	#broadsign_air {
		.ui_img_02 {
			top: -16rem;
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait),
(max-width: $mobile_max_width) {
	#broadsign_air {
		.ui_img_01 {
			top: 34rem;
		}

		.ui_img_02 {
			max-width: 200vw;
			right: -55vw;
			top: -20rem;
			width: 200vw;
		}

		h1 {
			font-size: 7rem;
			max-width: 88rem;
		}

		.Hero {
			.column {
				max-width: 100%;
				width: 100%;
			}

			p {
				max-width: 50%;
			}
		}

		.optimize {
			.column {
				max-width: 56rem;
				width: 54%;
			}
		}

		.byop {
			padding-bottom: 9rem;

			h2 {
				margin-top: 4rem;
			}

			.lattice p {
				font-size: 2rem;
			}
		}

		.tech_blog {
			.ui_img_02 {
				display: none;
			}
		}

		.already_running {
			padding-top: 6rem;

			.ui_img_02 {
				display: block;
				flex: 1 1 auto;
				margin-bottom: 6rem;
				max-width: 100%;
				right: 0;
				top: 0;
				width: 100%;
			}
		}
	}
}

@media (max-width: 600px) {
	#broadsign_air {
		.ui_img_01_01 {
			height: auto;
			margin: 6rem 0 0;
			width: 100%;
		}

		.ui_img_01_02 {
			flex: 0 0 100%;
			width: 100%;
		}

		h1 {
			font-size: 6rem;
		}

		.Hero {
			height: auto;
			justify-content: flex-start;
			max-height: none;

			.Tank {
				flex: 1 1 auto;
			}

			p {
				max-width: 100%;
			}
		}

		.optimize {
			padding: 3rem 0 0;

			.Tank {
				flex-flow: column nowrap;
			}

			.column {
				max-width: 100%;
				width: 100%;
			}
		}

		.byop {
			padding-bottom: 0;

			.Tank {
				grid-template-columns: 1fr;
			}

			.column>p {
				margin-bottom: 6rem;
			}

			.lattice {
				p {
					font-size: 2.2rem;
				}
			}

			.laptop {
				bottom: 0;
				height: 80vw;
				margin-bottom: -14rem;
				position: relative !important;
				width: 100%;
			}
		}

		.tech_blog {
			margin-top: 14rem;

			.Tank {
				grid-template-columns: 1fr;
			}

			.thumb {
				height: calc(20rem + 25vw);
				margin-bottom: 0;
				max-width: 50rem;
			}

			.desc {
				.blog_title {
					font-size: 5.2rem;
				}
			}
		}

		.not_running {
			padding-top: 6rem;

			.Tank {
				flex-flow: row wrap;
			}

			.text {
				align-items: center;
				display: flex;
				flex-basis: 100%;
				flex-flow: column nowrap;
				margin-bottom: 9rem;
			}

			.list {
				flex-basis: 100%;
			}

			h2 {
				font-size: 3.6rem;

				em {
					white-space: nowrap;
				}
			}

			.CTA {}
		}

		.related_blog_posts .RelatedBlogs {
			margin-bottom: 0;
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#broadsign_air {}
}


@media (max-width: $xs_max_width) {
	#broadsign_air {}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#broadsign_air {
		.ui_img_01 {}

		.ui_img_02 {}

		h1 {
			font-size: 9vw;
			margin-left: auto;
			margin-right: auto;
			max-width: 48rem;
			text-align: center;

			em {
				display: inline-block;
				font-size: 12vw;
				line-height: 90%;
				white-space: nowrap;
				width: 100%;
			}
		}

		.Hero {

			p,
			.ctas {
				justify-content: center;
				text-align: center;
				width: 100%;
			}
		}

		.byop {
			.lattice {
				grid-column-gap: 20px;
			}
		}

		.QuoteBlock p {
			padding: 0;
		}

		.contact {
			margin-bottom: 9rem;
			margin-top: 9rem;
			padding-bottom: 9rem;
			padding-top: 9rem;
		}
	}
}

@media (max-width: 420px) and (orientation:portrait) {
	#broadsign_air {}
}

@media (max-width: $super_xs_max_width) {
	#broadsign_air {}
}