html[lang="fr"] {
	#broadsign_air {
		.ui_img_02 {
			top: -30rem;
		}

		h1 {
			font-size: 4.8rem;
			line-height: 88%;
		}

		.Hero {
			.column {
				max-width: 62rem;
			}

			p {
				max-width: 56rem;
			}
		}
	}
}

html[lang="es"] {}

@media (max-width: 1200px) {
	html[lang="fr"] {
		#broadsign_air {
			.ui_img_02 {}

			.not_running {
				.list {
					flex: 0 0 40%;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	html[lang="fr"] {
		#broadsign_air {
			.ui_img_02 {
				top: -22rem;
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	html[lang="fr"] {
		#broadsign_air {
			h1 {
				font-size: 6.4rem;
			}

			.Hero .column {
				max-width: 100%;
			}

			.optimize {
				padding-bottom: 6rem;
			}
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait),
(max-width: $mobile_max_width) {
	html[lang="fr"] {
		#broadsign_air {
			.ui_img_02 {
				top: 0;
			}

			.Hero .column {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	html[lang="fr"] {
		#broadsign_air {}
	}
}

@media (max-width: 600px) {
	html[lang="fr"] {
		#broadsign_air {
			.Hero p {
				max-width: 100%;
			}

			.not_running .list {
				flex-basis: 100%;
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#broadsign_air {
			h1 {
				max-width: 46rem;
			}
		}
	}
}