#broadsign_control {
	.Hero {
		background-color: $blue;

		.blob1 {
			background: linear-gradient(247.51deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			height: 47rem;
			max-width: 860px;
			transform: translate(-40%, -60%);
			z-index: 2;
		}

		.blob2 {
			background: linear-gradient(112.49deg, #00C8FF -2.16%, #0500A9 47.56%, #FF0000 84.69%, #EE6800 125.13%);
			height: 64rem;
			max-width: 1280px;
			transform: translate(-50%, 35%);
			z-index: 1;
		}

		.CTA {
			&.demo {
				max-width: calc(min(60%, 26ch));
			}
		}
	}

	.intro {
		h3 {
			color: $titleTeal;
			font-size: 4.4rem;
			line-height: 110%;
			margin-bottom: 6.5rem;
			margin-left: 2rem;
			text-transform: uppercase;
		}

		h5 {
			font-size: 2.6rem;
			line-height: 120%;
			margin-bottom: 1.6rem;
			text-transform: uppercase;
		}
	}

	.CTABlock {
		justify-content: center;
		margin-bottom: 6rem;
		margin-top: 6rem;

		p {
			@include fontAlt;
		}
	}

	.sales {
		padding-top: 6rem;

		h2 {
			font-size: 4rem;
			margin-bottom: 1rem;
			text-align: center;
		}

		h3 {
			font-size: 2.6rem;
			margin-bottom: 3rem;
			text-align: center;
		}

		h4 {
			font-size: 2.6rem;
			margin-bottom: 2rem;
			text-transform: uppercase;
		}

		p {
			margin-bottom: 2rem;

			a {
				@include fontBold;
				text-transform: uppercase;
			}
		}
	}

	.take_charge {
		padding-top: 6rem;

		h2 {
			font-size: 4rem;
			line-height: 120%;
			margin-bottom: 2rem;
			width: 100%;
		}
	}

	.DQuote {
		&.Tank {
			margin: 0 auto;
			padding-right: 0;
		}

		&>img {
			height: 150%;
			left: 0;
			max-height: 58rem;
			max-width: 34rem;
			z-index: 10;
		}

		h3 {
			color: #FFF;
			font-size: 4rem;
			margin-bottom: 2rem;
			text-align: left;
			width: 100%;
		}

		p {
			color: #FFF;
			margin-bottom: 2rem;
			text-align: left;
			width: 100%;
		}

		blockquote {
			background-color: transparent;
			box-sizing: border-box;
			flex-flow: column;
			margin: 0;
			padding: 6rem 8rem 6rem 30%;

		}

		.LogosList {
			.logos {
				column-gap: 2rem;
				grid-template-columns: repeat(6, 1fr);
				row-gap: 1rem;
			}
		}
	}
}