@media (max-width: $tank_max_width) {
	.Billboard {
		&#ebook_campsite_add_real_world_kick {
			margin: 0;

			.inner {
				border-radius: 0;
			}

			.CTA {
				zoom: 1;
			}
		}

		&#programmatic_u {
			.person {
				left: 60%;
			}

			.badge {
				right: $tankPadding;
			}
		}
	}

	.Tank>.Billboard {

		&,
		&#ebook_campsite_add_real_world_kick {
			border-radius: 0;
			margin-left: -$tankPadding;
			margin-right: -$tankPadding;
			max-width:calc(100% + #{$tankPadding*2});
			width:calc(100% + #{$tankPadding*2});
		}

		&#programmatic_u {
			.badge {
				right: $tankPadding;
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	.Billboard {
		&#ebook_5_mistakes {
			.inner {
				padding-left: 9em;
			}

			h3 {
				max-width: 11em;
			}
		}

		&#big_voice_award {
			font-size: 0.9rem;

			.inner {
				grid-column-gap: 3rem;
			}
		}

		&#ebook_adding_digital_to_your_ooh_network {
			background-position: center center;
			height: 40em;

			.inner {
				padding-left: 45%;
			}

			h3 {
				font-size: 4.2em;
			}
		}

		&#ebook_campsite_add_real_world_kick {

			.inner {
				background-position: -15% center;
				padding-left: 40%;
			}

			h3 {
				margin-top: -1rem;
			}
		}

		&#ebook_successful_network {
			.inner {
				padding: 0;
			}

			.text {
				padding-left: 9em;
			}

			h3 {
				font-size: 4em;
				line-height: 140%;
			}
		}

		&#soc2 {
			.badge {
				flex: 0 0 30%;
				max-width: 30%;
			}

			.text_wrap {
				flex: 0 0 65%;
				max-width: 66rem;
			}

			h3 {
				font-size: 2.8em;
			}
		}
	}

	.Tank>.Billboard {
		&#ebook_adding_digital_to_your_ooh_network h3 {
			font-size: 4.2em;
		}

		&#ebook_modernize_ooh_business {
			font-size: 1rem;

			.inner {
				padding-right: $tankPadding;
			}
		}

		&#soc2 {
			.inner {
				padding: 0 $tankPadding;
			}

			.badge {
				flex: 0 0 30%;
				max-width: 30%;
			}

			h3 {
				font-size: 2.8em;
			}
		}
	}
}


@media (max-width: $mobile_max_width) {
	.Billboard {
		&#ebook_5_mistakes {
			background-position-x: 10em;
			background-size: auto 40em;
			height: 40em;
		}

		&#ebook_adding_digital_to_your_ooh_network {
			background-position-x: 35%;

			h3 {
				max-width: 10em;
			}
		}

		&#ebook_campsite_add_real_world_kick {
			.inner {
				background-position-x: -20em;
				height: 40em;
				padding-left: 40%;
			}
		}

		&#ebook_modernize_ooh_business {
			.inner {
				padding-bottom: 9em;
				padding-top: 12em;
			}
		}

		&#ebook_successful_network {
			font-size: calc(min(1vw, 3rem));
		}

		&#soc2 {
			height: 36em;

			.badge {
				flex-basis: 30%;
				max-width: 30%;
			}

			.text_wrap {
				flex-basis: 65%;
				max-width: 65%;
			}
		}

		&#programmatic_u {
			.person {
				max-width: 30%;
			}

			.badge {
				max-width: 16%;
			}
		}

		&#programmatic_u_certified {
			align-items: center;
			background: transparent;
			border-radius: 1rem;
			flex-flow: column;
			margin: 2rem auto 8rem auto;
			max-width: 1200px;
			min-height: 20em;
			padding: 3rem 0 8rem 0;

			.inner {
				display: flex;
				justify-content: flex-end;
				padding-left: $tankPadding;
				padding-right: $tankPadding;

				.tagline_container {
					align-items: center;
					display: flex;
					flex-flow: column;
					width: 100%;
				}
			}

			/* .person {
				background: transparent url("../../img/resources/programmatic_u_illustration_mobile.png") center bottom no-repeat;
				background-size: contain;
				height: 45rem;
				left: 0;
				position: relative;
				transform: translateX(-0%);
				width: 100%;
			} */


			h3 {
				@include fontReg;
				color: #7973c6;
				font-size: 3em;
				font-variant: normal;
				margin-bottom: 1.2em;
				text-align: center;
				text-transform: none;
			}

			&:hover {
				.CTA {
					background-color: #FFF;
					color: $red;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation: portrait) {
	.Billboard {
		&#big_voice_award {
			padding-bottom: 6em;
			padding-top: 6em;

			.inner {
				grid-row-gap: 3rem;
				grid-template-columns: 1fr;
				text-align: center;
			}
		}

		&#ebook_adding_digital_to_your_ooh_network {
			height: 36em;

			h3 {
				font-size: 4em;
			}
		}

		&#ebook_campsite_add_real_world_kick {
			margin-left: $tankPadding;
			margin-right: $tankPadding;
			width: auto;

			.inner {
				align-items: center;
				background: $campsiteBlue url("../../img/resources/promobox_ebook_campsite_add_real_world_kick.png") left top no-repeat;
				background-position-x: -75%;
				background-size: contain;
				border-radius: 4rem;
				flex-flow: column nowrap;
				height: 50rem;
				justify-content: flex-end;
				padding: 6em $tankPaddingPhone;
			}

			.logo {
				bottom: auto;
				height: 6em;
				left: 32%;
				right: auto;
				top: 5em;
				width: 25em;
			}

			h3 {
				max-width: 100%;
				padding: 0 0 0 calc(35% + 1em);
				width: 100%;
			}

			.CTA {
				font-size: 2.4rem;
			}
		}

		&#ebook_modernize_ooh_business {
			font-size: 0.8rem;
		}

		&#ebook_successful_network {
			font-size: calc(min(7vw, 1rem));
		}

		&#programmatic_u {
			background: linear-gradient(to bottom, #56ABD5 0%, #4FD0E3 25%, #47CFE1 50%, #6780C8 100%);
			height: 50rem;
			padding: 3em;

			.person {
				background-position: left bottom;
				bottom: 0;
				height: 70%;
				left: 30%;
				max-height: 30em;
				max-width: 40em;
				position: absolute;
				width: 70%;
				z-index: 1;
			}

			.badge {
				bottom: 1.2em;
				height: 14em;
				max-width: 14em;
				position: absolute;
				right: 8%;
				width: 25%;
				z-index: 1;
			}

			.inner {
				align-items: center;
				display: flex;
				flex-flow: column nowrap;
				height: 100%;
				justify-content: space-between;
				padding: 0;
			}

			h3 {
				@include fontAltBolder;
				font-size: 3.6em;
				line-height: 150%;
				max-width: 15em;
				text-align: center;
				width: 100%;
			}

			.CTA {
				align-items: center;
				display: inline-flex;
				flex: 1 1 auto;
				font-size: 2.4rem;
				justify-content: center;
				line-height: 120%;
				max-height: 4.8em;
				max-width: 20ch;
				min-height: auto;
				padding: 1.4rem 2.6rem 1.2rem;
				white-space: normal;
			}
		}

		&#soc2 {
			font-size: 1.2rem;

			&:after {
				@include bg;
				background: linear-gradient(to right, transparent 20%, #F9F9F9 50%);
				content: "";
				z-index: 0;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation: landscape) {
	.Billboard {

		&#ebook_modernize_ooh_business {
			font-size: 0.8rem;
		}
	}
}

/* Just to compensate for the scroll bar */
@media (max-width: $xs_max_width) and (orientation:portrait) and (hover:hover) and (pointer:fine) {
	.Billboard#programmatic_u {
		padding-right: 17px;

		.badge {
			transform: translateX(-17px);
		}
	}
}

@media (max-width: $xs_max_width) and (orientation: portrait) {
	.Billboard {
		&#ebook_5_mistakes {
			background-position-x: 75%;
			background-size: cover;
			height: 60em;

			&:before {
				@include bg;
				background: linear-gradient(to bottom, transparent 50%, rgba(#F9F9F9, 0.7) 70%, #F9F9F9 100%);
				content: "";
				z-index: 1;
			}

			.inner {
				justify-content: flex-end;
				padding-bottom: 6em;
				z-index: 10;
			}

			h3 {
				text-shadow: 2px 2px 4px #FFF, 2px 2px 4px #FFF, 1px 1px 4px #FFF, 1px 1px 4px #FFF;
			}
		}

		&#ebook_adding_digital_to_your_ooh_network {
			background-position-x: left;
			height: 42em;

			.inner {
				align-items: center;
				display: flex;
				flex-flow: column nowrap;
				padding-left: $tankPaddingXS;
			}

			h3 {
				line-height: 140%;
				text-align: center;
				text-shadow: 2px 2px 4px $blue, 2px 2px 4px $blue, 2px 2px 4px $blue, 2px 2px 4px $blue;
			}

			.CTA {
				margin: 0 auto;
			}
		}

		&#ebook_campsite_add_real_world_kick {
			margin: 0;
			padding: 0;

			.inner {
				border-radius: 0;
				padding: 6em 0;
			}

			h3 {
				font-size: 3em;
			}
		}

		&#ebook_modernize_ooh_business {
			background-position: 15% center;
			height: 50rem;

			.inner {
				align-items: center;
				height: 100%;
				justify-content: flex-end;
				padding-bottom: 6rem;
				padding-left: $tankPaddingXS;
				padding-right: $tankPaddingXS;

				h3 {
					font-size: 6em;
					text-shadow: 2px 2px 4px $blue, 2px 2px 4px $blue, 2px 2px 4px $blue, 2px 2px 4px $blue;
				}
			}
		}

		&#ebook_successful_network {
			font-size: calc(min(7vw, 1rem));
			height: 68em;

			.inner {
				flex-flow: column nowrap;
			}

			.text {
				flex: 1 1 50%;
				margin: 0 auto;
				max-width: 100%;
				order: 2;
				padding: 0 10%;
				width: auto;
			}

			.ebook {
				flex: 1 1 50%;
				height: auto;
				margin-bottom: -6em;
				max-width: 100%;
				order: 1;
				position: relative;
				right: -5%;
				width: 100%;
			}
		}

		&#programmatic_u {
			.badge {
				bottom: 1em;
				height: 12em;
				max-width: 12em;
				right: 1em;
			}

			h3 {
				font-size: 3em;
			}
		}

		&#soc2 {
			height: auto;

			&:after {
				background: linear-gradient(to bottom, transparent 20%, rgba(#F9F9F9, 0.7) 50%, #F9F9F9 100%);
			}

			.badge {
				flex-basis: 8em;
				height: 8em;
				margin-bottom: 6em;
				max-width: 80%;
				width: 80%;
			}

			.inner {
				flex-flow: column nowrap;
				height: 100%;
				justify-content: space-between;
				padding-bottom: 6em;
				padding-top: 6em;
			}

			.text_wrap {
				flex-basis: auto;
				max-width: 100%;
			}

			.text {
				text-align: center;
			}

			h3,
			p {
				text-align: left;
			}
		}
	}
}

@media (min-width: $mobile_min_width) and (orientation:landscape),
(min-width: $tablet_min_width) {
	.Billboard {
		&.set_demo_trial {
			font-size: calc(clamp(18px, 2.8vw, 26px));
			padding-left: 15%;
			padding-right: 15%;

			.wrap {
				align-items: flex-end;
				column-gap: 2em;
				font-size: 1em;
				grid-template-columns: 8em 1fr;
				grid-template-rows: 1fr;
				max-width: 820px;
			}

			.icon {
				height: 8em;
				top: 0;
				width: 8em;
			}
		}

		&#ebook_increase_revenue_in_store_media {
			background-image: url("../../img/billboards/ebook_increase_revenue_in_store_media_bg.jpg");
			font-size: calc(min(10px, 1vw));
			height: 32em;
			min-height: 0;

			.inner {
				align-items: flex-start;
				justify-content: center;
				margin-right: 0;
				max-width: 1440px;
				padding: 0 $tankPadding;
			}

			h3 {
				flex: 0 0 auto;
				font-size: 3.4em;
				margin-left: 0;
				text-align: left;
				width: 50%;
			}

			.CTA {
				flex: 0 0 auto;
				font-size: 1.6em;
				margin-left: 0;
				max-width: 50%;
			}

			.booklet {
				background-position: bottom right;
				bottom: 0;
				height: 85%;
				position: absolute;
				right: 0;
				width: 50%;
			}
		}

		&#ebook_media_buyers_pdooh {
			font-size: calc(min(1.6vw, 18px));

			.blob1 {
				filter: blur(25px);
				height: 20vw;
				left: -10%;
				top: -10%;
				width: 50vw;
			}

			.blob2 {
				bottom: 0;
				filter: blur(120px);
				height: 20vw;
				left: 32%;
				transform: translate(50%, 50%);
				width: 30vw;
			}

			.blob3 {
				height: 20vw;
				left: 60%;
				top: 0;
				width: 30vw;
			}

			h3 {
				font-size: 2.2em;
			}

			.CTA {
				letter-spacing: 4px;
			}

			.booklet {
				bottom: 0;
				height: 100%;
				left: 50%;
				max-width: 650px;
				position: absolute !important;
				transform: translateX(5%);
				width: 50vw;
			}
		}

		&#ebook_optimize_ooh_sales {
			font-size: calc(min(14px, 1vw));

			.inner {
				align-items: flex-start;
				justify-content: center;
				padding-bottom: 9em;
				padding-top: 9em;
			}

			h3 {
				margin-top: auto;
				text-align: left;
			}

			.tagline {
				text-align: left;
			}

			.booklet {
				height: 100%;
				max-height: 100%;
				max-width: 45em;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 55%;
			}
		}
	}
}