$relatedPostsWidth:22rem;
$socialMediaWidth:22rem;

%blogSingle {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-bottom: 12rem;

	.publish_info {
		color: #4C5B69;
		font-size: 1.6rem;
		letter-spacing: 0.05em;
		margin-bottom: 1rem;
	}

	.post_title {
		@include fontBolder;
		color: $darkGrey;
		font-size: 5.4rem;
		font-variant: normal;
		line-height: 120%;
		text-transform: none;
	}

	.Tank {
		max-width: 1200px;

		&.hat,
		&.hull {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}
	}

	.hat {
		margin-top: 6rem;

		.post_body {
			padding-right: 0;
		}
	}

	.Hero {
		margin: 6rem auto 8rem;
		max-width: 1200px;
		width: 100%;

		.Tank {}
	}

	.social_media {
		flex: 0 1 8%;
		max-width: $socialMediaWidth;
		padding-right: 6rem;
		width: 10%;

		div {
			width: 4rem;
		}

		&>div>div:nth-of-type(2) {
			overflow-y: auto;
			padding: 6rem 0;
			position: relative;
			top: -6rem;
		}

		button {
			background: transparent none;
			border: 0 none;
			cursor: pointer;
			filter: saturate(0) brightness(0.8) contrast(200%);
			height: 4rem;
			margin-bottom: 3rem;
			padding: 0;
			transition: filter 0.6s;
			width: 4rem;

			&:hover {
				filter: saturate(1) brightness(1) contrast(100%);
			}

			img {
				max-width: 100%;
			}
		}
	}

	.post_body {
		color: #4C5B69;
		display: inline-block;
		flex: 0 1 calc(100% - 32rem);
		font-size: 1.8rem;
		line-height: 150%;
		margin-bottom: 0;
		max-width: calc(100% - 32rem);
		padding-right: 6rem;
		width: 67%;

		.content {

			&>h1,
			&>h2,
			&>h3,
			&>h4,
			&>h5,
			&>p {
				&:first-child {
					margin-top: 0;
				}
			}

			&>h2,
			&>h3,
			&>h4,
			&>h5 {
				@include fontBold;
				color: $darkGrey;
				font-variant: normal;
				margin: 4rem 0 1.6rem;
				text-transform: none;
			}

			&>h2 {
				font-size: 3.2rem;
			}

			&>h3 {
				font-size: 2.8rem;
			}

			&>h4 {
				font-size: 2.4rem;
			}

			&>h5 {
				font-size: 2.2rem;
			}

			&>p {
				color: #4C5B69;
				font-size: 2rem;
				line-height: 150%;
				margin-bottom: 3rem;

				&:empty {
					display: none;
				}

				strong,
				b {
					color: inherit;
					font-weight: bold;
				}

				em,
				i {
					font-style: italic;
				}

				&>br {
					display: block;
				}
			}

			ul,
			ol {
				margin-bottom: 3rem;
				padding-left: 2rem;

				li {
					color: #4C5B69;
					font-size: 2rem;
					line-height: 150%;
				}
			}

			blockquote {
				font-size: 2rem;
				margin: 6rem 0;
				padding: 6rem calc(min(6vw, 8rem));
				position: relative;

				&:before {
					background: transparent url("../../img/ui/blog_quote.svg") center center no-repeat;
					background-size: contain;
					content: " ";
					display: inline-block;
					height: 4rem;
					left: 50%;
					position: absolute;
					top: 0;
					transform: translate(-50%, -60%);
					width: 5rem;
				}

				&:after {
					display: none;
				}

				p {
					@include fontAlt;
					color: $seagull;
					font-size: 1em;
					font-style: normal;
					line-height: 180%;
					margin-bottom: 1em;
					text-align: center;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				cite,
				.sign,
				.signature {
					@include fontAltBolder;
					color: lighten($seagull, 10);
					display: inline-block;
					font-size: 0.9em;
					font-style: normal;
					margin-top: 2rem;
					opacity: 1;
					text-align: center !important;
					width: 100%;

					b,
					strong,
					em {
						font-style: normal;
						font-weight: bold;
					}
				}
			}

			figure,
			picture,
			img,
			video {
				border-radius: 8px;
				display: inline-block;
				height: auto !important;
				margin: 3rem 0;
				max-width: 100%;
				object-fit: contain !important;
				padding: 0;
				width: 100%;
			}

			video {
				cursor: pointer;
			}

			figure {

				img,
				picture {
					margin: 0;
				}

				&.wp-block-video {
					video {
						margin: 0;
					}
				}
			}
		}

		div:not(.embedly-card-hug) {
			&>iframe {
				border-radius: 1rem;
				height: 46rem;
				margin: 3rem 0;
				max-height: 33vmax;
				width: 100%;
			}
		}

		div.twitter-tweet {
			margin-left: auto;
			margin-right: auto;

			iframe {
				max-height: none;
			}
		}

		.wp-block-columns {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			width: 100%;
		}

		.wp-block-column {
			flex-basis: calc(50% - 1.5rem);
			max-width: calc(50% - 1.5rem);
			flex-grow: 0;

			.PromoBox {
				width: 100%;
			}
		}

		.wp-block-embed:not(.wp-block-embed-reddit):not(.wp-block-embed-twitter) {
			.embed-container {
				height: 0;
				margin-bottom: 6rem;
				padding-top: 56.25%;
				position: relative;

				iframe {
					box-shadow: 4px 4px 12px rgba(#000, 0.2);
					left: 0;
					max-height: calc(min(50vw, 100%));
					max-width: 100%;
					position: absolute;
					top: 0;
				}

				.embedly-card {
					box-shadow: 4px 4px 12px rgba(#000, 0.2);
					display: block;
					left: 50%;
					max-height: 50vw;
					max-width: 100%;
					place-items: center;
					position: absolute;
					top: 0;
					transform: translateX(-50%);
					width: 100%;
				}

				iframe[src*="slideshare"] {
					height: 60rem;
					width: 100%;
				}
			}
		}

		.wp-block-embed-twitter,
		.wp-block-embed-reddit {
			.embed-container {
				height: auto;
				padding: 0;
				position: relative;

				&>div {
					margin-left: auto;
					margin-right: auto;
				}

				iframe {
					max-height: none;
				}
			}
		}

		.wp-block-embed-reddit .embed-container {
			&>blockquote.reddit-card {
				width: 100%;

				&:before {
					background: #FFF url("../../img/icons/reddit_grey.svg");
					border-radius: 100%;
					height: 6rem;
					left: 10rem;
					transform: translate(-50%, -50%);
					width: 6rem;
				}
			}
		}

		.embedly-card {
			.reddit-card {}
		}

		.wp-block-image {
			figcaption {
				font-family: "Merriweather", "times", serif;
				font-size: 80%;
				font-weight: 400;
				opacity: 0.8;
			}

			.gatsby-image-wrapper+figcaption {
				margin-top: -1rem;
			}

			.aligncenter {
				text-align: center;

				figcaption {
					display: block;
					text-align: center;
					width: 100%;
				}
			}
		}

		.gatsby-image-wrapper {
			line-height: 100%;
		}

		blockquote {
			@include flexCenter;
			@include fontAltBolder;
			background-color: #EAF7FA;
			border-radius: 7rem;
			color: $seagull;
			display: inline-block;
			font-size: 2.4rem;
			left: 0;
			line-height: 180%;
			margin: 3rem auto;
			padding: 6rem 8rem;
			text-align: center;
			white-space: normal;

			span {
				color: $seagull;
			}

			iframe {
				@include bg;
			}
		}

		.wp-caption {
			img {
				margin-bottom: 0rem;
			}
		}

		.wp-caption-text {
			@include fontAlt;
			font-size: 80%;
			opacity: 0.7;
		}

		&.no_related_posts {
			flex-basis: calc(100% - 10rem);
			max-width: calc(100% - 10rem);
			padding-right: 0;
		}
	}

	.has_banner {
		width: 100%;

		br {
			display: none !important;
		}

		img {
			margin: 0;
		}
	}

	.related_posts {
		background-color: #FFF;
		flex: 1 1 25%;
		max-width: $relatedPostsWidth;
		padding-bottom: 6rem;
		width: 25%;

		&>div>div:nth-of-type(2) {
			overflow-y: auto;
			padding: 0 0 6rem;
			top: -6rem;
		}

		h3 {
			font-size: 2rem;
			line-height: 80%;
			margin: 6rem 0 2.4rem;
		}

		&.show_2 {
			.related_post:nth-of-type(3) {
				display: none;
			}
		}
	}

	.promoboxes {}

	.Billboard {
		border-radius: 4rem;
		box-shadow: 4px 4px 12px rgba($blue, 0.2);
		font-size: 0.8rem;
		margin-bottom: 6rem;
		margin-top: 6rem;

		&.set_demo_trial {
			font-size: calc(clamp(16px, 2.8vw, 32px));
			height: auto;
			padding: 0;
			transition: opacity 0.6s;

			&:before {
				display: none;
			}

			.wrap {
				justify-content: center;
				padding: 2em 1em;
			}

			.tagline {
				@include fontReg;
				color: $blue;
				font-size: 1em;
				margin: 0 auto;
			}

			.CTA {
				margin: calc(min(1.2em, 20px)) auto 0;
				pointer-events: none;
			}

			&:hover {
				box-shadow: none;
				opacity: 0.5;
			}
		}

		&#ebook_adding_digital_to_your_ooh_network {
			font-size: 0.7rem;

			.inner {
				padding-right: 6rem;
			}
		}

		&#ebook_5_mistakes {
			font-size: 0.7rem;

			.inner {
				padding-right: 6rem;
			}
		}

		&#ebook_successful_network {
			.inner {
				padding-left: 6em;
			}
		}

		&#ebook_modernize_ooh_business {
			font-size: 0.7rem;

			.inner {
				padding-right: 6em;
			}
		}

		&#ebook_optimize_ooh_sales {
			font-size: 0.9rem;
			font-size: calc(min(9px, 2vw));

			h3 {
				font-size: 3em;
			}
		}

		&#programmatic_u {
			.inner {
				padding-left: 6em;
			}

			h3 {
				line-height: 120%;
			}
		}

		&#soc2 {
			.badge {
				flex: 0 1 30%;
				height: 18em;
				margin-left: 5%;
				max-width: 30%;
			}

			.text_wrap {
				flex-basis: 60%;
				max-width: 60%;
				padding-right: 6em;
			}
		}
	}

	.PromoBox {
		border-radius: 4rem;
		font-size: calc(min(9px, 2vw));
		margin-bottom: 2rem;
		margin-top: 2rem;
		min-height: 220px;
		overflow: hidden;

		.CTA {
			margin-top: 1.8em;
		}

		&#pb_ebook_media_buyers_pdooh {
			padding-left: 1em;
			padding-right: 1em;

			.wrap {
				height: 100%;
				max-width: 100%;
			}
		}

		&#pb_ebook_increase_revenue_in_store_media {
			display: flex;
			font-size: calc(min(7px, 2vw));
		}

		&#pb_ebook_optimize_ooh_sales {
			font-size: 0.9rem;
			font-size: calc(min(9px, 2vw));

			.wrap {
				padding-bottom: 14em;
				padding-top: 3em;
			}

			h3 {
				font-size: 3em;
			}
		}
	}

	.tags {
		align-items: center;
		cursor: default;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: 6rem;
		user-select: none;

		&:before {
			animation: wiggle 5s ease 0s infinite alternate;
			background-image: url("../../img/icons/tag.svg");
			background-position: center center;
			background-repeat: no-repeat;
			content: " ";
			display: inline-block;
			height: 3rem;
			transform-origin: right top;
			width: 3rem;
		}

		.tag {
			@include fontReg;
			background-color: $blue;
			border: 1px solid $blue;
			border-radius: 4px;
			bottom: 0.2rem;
			box-shadow: 2px 2px 4px rgba($blue, 0.4);
			color: #FFF;
			display: inline-block;
			font-size: 1.4rem;
			margin-left: 0.8rem;
			margin-top: 0.8rem;
			padding: 0.8rem 1.6rem 0.6rem;
			position: relative;
			top: -6rem;
		}

		div {
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}


		h3 {
			@include fontBold;
			color: $grey;
			font-size: 2rem;
			margin-bottom: 3rem;
			text-transform: uppercase;
		}

		.CTA {
			font-size: 1.4rem;
			width: 100%;
		}
	}

	.related_post {
		display: inline-block;
		margin-bottom: calc(min(3rem, 4vh));
		opacity: 0.8;
		transition: opacity 0.3s;
		width: 100%;

		.thumb {
			border-radius: 1rem;
			box-shadow: 0px 0px 0px rgba(#000, 0);
			height: 12rem;
			margin-bottom: 0.8rem;
			max-height: 10vh;
			object-fit: cover;
			transition: box-shadow 0.3s;
			width: 100%;
		}

		.title {
			color: $grey;
			font-size: 1.4rem;
			line-height: 120%;
			margin-bottom: 0.6rem;
		}

		.read_more {
			@include fontBold;
			color: $campsiteTeal;
			font-size: 1.4rem;
			line-height: 120%;
			margin-bottom: 0;
		}

		&:hover {
			opacity: 1;

			.thumb {
				box-shadow: 2px 2px 8px rgba(#000, 0.2);
			}
		}
	}
}

.blog.single {
	@extend %blogSingle;
}

article[class*="category-campsite"],
article[class*="category-broadsign-ads"] {
	.blog.single {
		.wp-block-media-text {
			color: $campsiteBlue;

			.wp-block-media-text__content {}

			.wp-block-pullquote.has-border-color {
				border-bottom: 4px solid $campsiteBlue;
				border-radius: 0;
				border-top: 4px solid $campsiteBlue;
				padding-bottom: 2.4rem;
				padding-top: 2.4rem;
			}

			blockquote {
				background: transparent none;
				font-size: 2rem;
				padding: 0;

				p {
					font-family: "Roboto";
				}
			}
		}
	}
}