 @media (max-width: $tank_max_width) {}

 @media (max-width: $tablet_max_width) {
 	.blog.single {
 		.back_link {
 			max-width: 100rem;
 		}

 		.Billboard {
 			&#ebook_adding_digital_to_your_ooh_network {
 				.inner {
 					padding-right: 4rem;
 				}
 			}

 			&#ebook_modernize_ooh_business {
 				font-size: 0.7rem;

 				.CTA {
 					margin: 0;
 				}
 			}

 			&#ebook_successful_network {
 				.text {
 					padding: 0;
 				}
 			}
 		}

 		.post_body {
 			flex-basis: 100%;
 			max-width: 100%;
 		}

 		.social_media {
 			flex-basis: 10%;
 			padding-right: 5rem;
 			width: 10%;

 			button {
 				height: auto;
 				width: 100%;
 			}
 		}

 		.post_body {
 			padding-right: 5rem;
 		}

 		.related_posts {
 			h3 {
 				font-size: 2.2rem;
 			}

 			.CTA {
 				display: inline-flex;
 				font-size: 2rem;
 				padding-left: 2rem;
 				padding-right: 2rem;
 			}
 		}

 		.related_post {

 			.thumb,
 			.title {
 				margin-bottom: 1rem;
 			}

 			.title,
 			.read_more {
 				font-size: 1.8rem;
 			}
 		}
 	}
 }

 @media (max-width: $tablet_max_width) and (orientation:portrait),
 (max-width: $mobile_max_width) {
 	.blog.single {
 		$socialMediaBtnSize: 5rem;
 		$socialMediaBtnSpacing: #{$socialMediaBtnSize + 5};

 		.hat {

 			.social_media,
 			.related_posts {
 				display: none;
 			}
 		}

 		.related_posts {

 			&,
 			&>div,
 			&>div>div:nth-of-type(2) {
 				left: 0 !important;
 				overflow: visible;
 				padding: 0;
 				padding-bottom: 2px;
 				position: relative !important;
 				top: 0 !important;
 				width: 100% !important;
 			}

 			&>div>div:nth-of-type(1) {
 				padding: 0 !important;
 			}

 			&.show_2 {
 				.related_post:nth-of-type(3) {
 					display: inline-block;
 				}
 			}
 		}

 		.Tank.hull {
 			flex-flow: row wrap;
 			justify-content: space-between;

 			.post_body {
 				flex: 0 0 calc(100% - #{$socialMediaBtnSpacing});
 				margin: 0;
 				max-width: calc(100% - #{$socialMediaBtnSpacing});
 				order: 2;
 				padding-right: 0;
 				z-index: 1;
 			}

 			.social_media {
 				flex: 0 0 $socialMediaBtnSize;
 				max-width: $socialMediaBtnSize;
 				order: 1;
 				padding: 0;
 				width: $socialMediaBtnSize !important;
 				z-index: 10;
 			}

 			.related_posts {
 				flex: 0 0 calc(100% - #{$socialMediaBtnSpacing});
 				margin-left: $socialMediaBtnSpacing;
 				max-width: calc(100% - #{$socialMediaBtnSpacing});
 				order: 3;
 				z-index: 1;
 			}
 		}

 		.related_posts {
 			&>div>div:nth-of-type(2) {
 				align-content: stretch;
 				align-items: stretch;
 				display: flex;
 				flex-flow: row wrap;
 				justify-content: space-between;
 			}

 			h3 {
 				flex: 0 0 100%;
 				font-size: 3rem;
 			}
 		}

 		.social_media {

 			&,
 			&>div,
 			&>div>div:nth-of-type(2) {
 				max-width: $socialMediaBtnSize !important;
 				width: $socialMediaBtnSize !important;
 			}

 			button {}
 		}

 		.related_post {
 			border-radius: 1rem;
 			box-shadow: 4px 4px 20px rgba($blue, 0.1);
 			display: inline-flex;
 			flex: 0 0 30%;
 			flex-flow: column nowrap;
 			justify-content: space-between;
 			overflow: hidden;
 			transition: opacity 0.3s, box-shadow 0.3s;

 			.thumb {
 				border-radius: 0;
 				margin: 0;
 			}

 			.title {
 				font-size: 2rem;
 				margin: 0 0 auto;
 				padding: 2rem 1rem 1rem;
 			}

 			.read_more {
 				margin: 0;
 				padding: 0 1rem 2rem;
 			}

 			&:after {
 				background: linear-gradient(to right, #00C8FF 21.14%, #0500A9 57.69%, #FF0000 88.87%);
 				bottom: 0;
 				content: "";
 				display: block;
 				height: 4px;
 				left: 0;
 				position: absolute;
 				width: 100%;
 				z-index: 1;
 			}

 			&:before {
 				background: linear-gradient(to left, #00C8FF 21.14%, #0500A9 57.69%, #FF0000 88.87%);
 				bottom: 0;
 				content: "";
 				display: block;
 				height: 4px;
 				left: 0;
 				opacity: 0;
 				position: absolute;
 				transition: opacity 0.3s;
 				width: 100%;
 				z-index: 10;
 			}

 			&:hover {
 				box-shadow: 4px 4px 20px rgba($blue, 0.2);

 				&:before {
 					opacity: 1;
 				}
 			}
 		}

 		.CTA {
 			margin: 0 auto;
 		}
 	}
 }

 @media (max-width: $mobile_max_width) and (orientation:portrait),
 (max-width: $xs_max_width) {
 	.blog.single {
 		.hat {
 			.post_body {
 				flex-basis: 100%;
 				max-width: 100%;
 				padding-right: 20px;
 				width: 100%;
 			}
 		}

 		.Billboard {
 			&#ebook_adding_digital_to_your_ooh_network {
 				.CTA {
 					font-size: 2.6em;
 				}
 			}

 			&#ebook_campsite_add_real_world_kick {
 				font-size: 1rem;
 				margin-left: 0;
 				margin-right: 0;
 			}

 			&#ebook_successful_network {
 				font-size: 0.7rem;
 			}

 			&#programmatic_u {
 				font-size: 1rem;
 				padding: 5em;

 				.inner {
 					padding: 0;
 				}

 				.badge {
 					right: 2em;
 				}

 				h3 {
 					line-height: 140%;
 				}
 			}

 			&#soc2 {
 				font-size: 1rem;
 				height: 50rem;

 				&:after {
 					background: linear-gradient(to bottom, rgba(#FFF, 0) 20%, rgba(#FFF, 0.6) 80%);
 					display: block;
 				}

 				.inner {
 					flex-flow: column nowrap;
 					justify-content: center;
 					padding: 4em 6em;
 				}

 				.badge {
 					flex: 0 0 30%;
 					height: 30%;
 					margin-left: 0;
 					max-width: 100%;
 					width: 100%;
 				}

 				.text_wrap {
 					flex-basis: 1 1 auto;
 					max-width: 100%;
 					padding-right: 0;
 				}

 				.text {
 					text-align: center;
 				}
 			}
 		}

 		.post_body {
 			flex-basis: calc(100% - #{$socialMediaWidth});
 			max-width: calc(100% - #{$socialMediaWidth});
 			padding-right: 0;
 			width: calc(100% - #{$socialMediaWidth});

 			.wp-block-columns {
 				flex-flow: row wrap;
 			}

 			.wp-block-column {
 				flex-basis: 100%;
 				max-width: 100%;
 				width: 100%;
 			}
 		}

 		.related_posts {
 			margin-top: 3rem;

 			h3 {
 				font-size: 4rem;
 			}

 			.CTA {
 				margin-top: 3rem;
 			}
 		}

 		.related_post {
 			border-radius: 2rem;
 			flex: 0 0 100%;
 			margin: 2rem 0;
 			opacity: 1;

 			.thumb {
 				height: 26rem;
 				max-height: 30vw;
 			}

 			.title {
 				font-size: 3rem;
 				padding: 5rem 3rem 3rem;
 			}

 			.read_more {
 				font-size: 2.4rem;
 				padding: 0 3rem 5rem;
 			}
 		}
 	}
 }

 @media (max-width: $xs_max_width) {
 	.blog {
 		.promoboxes {
 			margin-top: 6rem;
 		}

 		.Billboard {
 			&#programmatic_u {}
 		}
 	}
 }

 @media (max-width: $xs_max_width) and (orientation:portrait) {
 	.blog {
 		p.has_banner {
 			margin-bottom: 3rem;
 			margin-top: 3rem;
 		}

 		.Billboard {
 			&#ebook_5_mistakes .inner {
 				padding: 7em;

 				h3 {
 					font-weight: bolder;
 				}
 			}

 			&#ebook_modernize_ooh_business {
 				background-position: 19% 30%;
 				background-size: 400vw;

 				h3 {
 					display: none;
 				}
 			}

 			&#soc2 {

 				&:after {
 					background: linear-gradient(to bottom, rgba(#FFF, 0) 20%, rgba(#FFF, 0.6) 80%);
 					content: "";
 					display: block;
 				}

 				.inner {}

 				.badge {
 					flex: 0 0 10em;
 					height: 10em;
 					margin-bottom: 3em;
 					max-width: 100%;
 					width: 100%;
 				}

 				.text_wrap {
 					flex-basis: auto;
 					max-width: 100%;
 					padding: 0 3em;
 				}
 			}
 		}

 		.Billboard {

 			&#demo,
 			&#free_trial {
 				.icon {
 					height: 100px;
 					max-height: 100px;
 					max-width: 100px;
 					width: 100px;
 				}

 				.tagline {
 					font-size: calc(clamp(14px, 4vw, 32px));
 				}

 				.CTA .inner {
 					display: inline-block;
 					font-size: calc(clamp(14px, 4vw, 32px));
 					white-space: normal;
 				}
 			}
 		}

 		.post_body .wp-video {

 			&>video,
 			&>.wp-video-shortcode {
 				max-height: 50vw;
 			}
 		}
 	}
 }

 @media (max-width: 400px) and (orientation:portrait) {}

 @media (min-width: $mobile_min_width) and (orientation:landscape),
 (min-width: $tablet_min_width) {
 	.blog.single {
 		.Billboard {
 			&.set_demo_trial {
 				font-size: calc(clamp(15px, 2.6vw, 26px));

 				.wrap {
 					grid-template-columns: 8em 1fr;
 					grid-template-rows: 1fr;
 					padding-left: 10%;
 					padding-right: 10%;
 				}

 				.icon {
 					height: 8em;
 					top: 0;
 					width: 8em;
 				}
 			}

 			&#ebook_increase_revenue_in_store_media {
 				font-size: calc(min(8px, 1vw));

 				h3 {
 					font-size: 3.2em;
 				}
 			}

 			&#ebook_optimize_ooh_sales {
 				font-size: 0.9rem;
 				font-size: calc(min(9px, 0.8vw));

 				.CTA {
 					margin-left: 0;
 				}

 				.tagline {
 					margin-left: 0;
 					max-width: 20ch;
 				}

 				.booklet {
 					width: 45%;
 				}
 			}
 		}

 		.PromoBox {
 			font-size: calc(min(9px, 0.8vw));
 			height: 36rem;

 			.wrap {
 				padding: 3em;
 			}

 			.CTA {
 				margin-top: 1.8em;
 			}

 			&#pb_ebook_increase_revenue_in_store_media {
 				font-size: calc(min(7px, 0.8vw));

 				h3 {
 					font-size: 3.2em;
 				}
 			}

 			&#pb_ebook_optimize_ooh_sales {
 				font-size: calc(min(8px, 0.8vw));
 			}
 		}

 		#pb_media_kit_amplify {
 			.wrap {
 				padding-top: 4em;
 			}
 		}

 		#pb_ebook_modernize_ooh_business {
 			height: 36rem;
 		}



 		#pb_ebook_dooh_playbook,
 		#pb_ebook_playbook_programmatic_buyers {
 			.tagline {
 				font-size: 2.4em;
 			}
 		}

 		#pb_ebook_media_buyers_pdooh {
 			height: 36rem;

 			.wrap {
 				padding-top: 6em;
 			}

 			.booklet {
 				height: 50%;
 			}
 		}

 		#pb_programmatic_u {
 			.wrap {
 				padding-top: 4em;
 			}
 		}
 	}
 }

 @media (min-width: $tablet_min_width) and (orientation:landscape),
 (min-width: $desktop_min_width) {
 	.blog.single {
 		.PromoBox {
 			.CTA {
 				margin-top: 1em;
 			}

 			&#pb_ebook_campsite_add_real_world_kick .wrap {}

 			&#pb_ebook_increase_revenue_in_store_media {}
 		}
 	}
 }

 @media (min-width: $desktop_min_width) {
 	.blog.single {
 		.pb_set_demo_trial .wrap {
 			font-size: 1em;
 		}
 	}
 }

 @media (min-width: 1201px) {
 	.blog.single .Billboard.set_demo_trial {
 		.icon {
 			top: 0;
 		}

 		.CTA {
 			margin: 20px auto;
 		}
 	}
 }

 @media (min-width: $desktop_min_width) {
 	.blog.single {
 		.PromoBox {
 			&#pb_ebook_increase_revenue_in_store_media {
 				font-size: calc(min(9px, 0.6vw));
 			}
 		}
 	}
 }

 @media (min-width:$sm) {
 	.blog.single .post_body {
 		.wp-block-media-text {
 			display: grid;
 			grid-template-columns: 50% 1fr;
 			grid-template-rows: auto;

 			&.has-media-on-the-right {
 				grid-template-columns: 1fr 50%;

 				.wp-block-media-text__media {
 					grid-column: 2;
 					grid-row: 1;
 				}
 			}


 			figure {
 				align-items: center;
 				display: flex;
 			}

 			.wp-block-media-text__content {
 				align-items: center;
 				display: flex;
 				padding: 0 5%;

 				ul:last-child {
 					margin-bottom: 0;
 				}
 			}
 		}
 	}

 	article[class^="category-campsite"],
 	article[class^="category-broadsign-ads"] {
 		.blog.single {
 			.wp-block-media-text {
 				.wp-block-media-text__content {}

 				blockquote {
 					font-size: 2.2rem;
 				}

 			}
 		}
 	}
 }