html[lang="fr"] {}

html[lang="es"] {}

html[lang="de"] {
	#digital_signage_platform {
		.success {
			h2 {
				max-width: 100%;
			}

			li {
				font-size: 2.6rem;
			}
		}

		.benefits .Row .ImgHat {
			h3 {
				font-size: 2rem;
			}

			p {
				font-size: 1.9rem;
			}
		}

		.floating_offering {
			.Tank {
				grid-template-columns: 5fr 2fr;
			}

			.tagline {
				justify-content: center;
			}
		}

		.Video .tagline {
			max-width: 25ch;
		}
	}

	.Modal.modal_control_video {
		.tagline {
			max-width: 25ch;
		}
	}
}

html[lang="nl"] {
	#digital_signage_platform .floating_offering .Tank {
		grid-template-columns: 2fr 1fr;
	}
}

html[lang="ja"] {
	#digital_signage_platform {

		.customers h2,
		.LogosList h2 {
			font-size: 3.8rem;
			max-width: 120rem;
			width: 100%;
		}

		.benefits .Row .ImgHat p {
			font-size: 2rem;
		}
	}
}

@media (max-width:$tablet_max_width) and (orientation:portrait),
(max-width:$mobile_max_width) {
	html[lang="de"] {
		#digital_signage_platform {
			.benefits .Row {
				justify-content: space-between;

				img {
					right: 3rem;
				}

				.ImgHat {
					flex-basis: calc(50% - 3rem);
					margin: 3rem 0;
					max-width: calc(50% - 3rem);

					.Row {
						justify-content: center;
					}
				}
			}

			.floating_offering .Tank {
				grid-template-columns: 2fr 1fr;
			}
		}
	}
}

@media (max-width:$mobile_max_width) and (orientation:portrait),
(max-width:$xs_max_width) {
	html[lang="de"] {
		#digital_signage_platform {

			.Hero .content {
				img {
					margin-top: 0;
				}

				.title1,
				.title2 {
					font-size: 4.2rem;
				}

				.tagline {
					font-size: 2.8rem;
					max-width: 100%;

				}
			}

			.benefits {
				.Row .ImgHat {
					flex-basis: 100%;
					margin: 3rem auto;
					max-width: 100%;

					img {
						height: 12rem;
						right: 0;
						width: 12rem;
					}

					h3 {
						font-size: 2.4rem;
					}

					p {
						font-size: 2.2rem;
					}
				}
			}
		}
	}

	html[lang="nl"] {
		#digital_signage_platform {
			.Hero .CTA {
				max-height: none;
				max-width: 26ch;
				white-space: normal;
			}

			.floating_offering .Tank {
				grid-template-columns: 6fr 5fr;
			}
		}
	}

	html[lang="ja"] {
		#digital_signage_platform {

			.customers h2,
			.LogosList h2 {
				font-size: 3.8rem;
				width: 60%;
			}

			.benefits .Row .ImgHat {
				h3 {
					font-size: 3rem;
				}

				p {
					font-size: 2.6rem;
				}
			}
		}
	}
}

@media (max-width:$xs_max_width)and (orientation:portrait) {
	html[lang="de"] {
		#digital_signage_platform {
			.success .gradientBar2 {
				top: 100rem;
			}

			.floating_offering {
				.Tank {
					grid-template-columns: 5fr 2fr;
				}

				.CTA {
					white-space: normal;
				}
			}
		}
	}
}

@media (max-width:$xs_max_width)and (orientation:landscape) {
	html[lang="de"] {
		#digital_signage_platform .Hero {
			max-height: 50rem;

			.content .tagline {
				font-size: 2.6rem;
				max-width: 40ch;
			}
		}
	}
}