@import "../base/dependencies";

.template.book_demo {
	.Hero {
		background: linear-gradient(to top right, #3c4fc6 0%, #53e1c1 100%);
		height: auto;
		max-height: none;
		min-height: 520px;
		overflow: hidden;

		.blob {
			border-radius: 50%;
			filter: blur(60px);
			position: absolute;
			z-index: 1;
		}

		.blob1 {
			background-color: #0513AF;
			height: 550px;
			left: 0;
			max-height: 50vw;
			max-width: 50vw;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 550px;
			z-index: 1;
		}

		.blob2 {
			background-color: #0573DA;
			height: 180%;
			left: 50%;
			max-width: 50vw;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 550px;
			z-index: 2;
		}

		.blob3 {
			background-color: #18D7AA;
			height: 720px;
			max-height: 100vw;
			max-width: 100vw;
			right: 0;
			top: 0;
			transform: translate(45%, -45%);
			width: 720px;
			z-index: 3;
		}

		.hero_img {
			max-width: 443px;
		}
	}

	.Form {
		form {
			fieldset.form-columns-2>div {
				max-width: calc(50% - 6px);
				width: calc(50% - 6px);

				&:first-of-type {
					margin-right: 6px;
				}

				&:last-of-type {
					margin-left: 6px;
				}
			}

			.input {

				input,
				select,
				textarea {
					border: 1px solid $soft;
					border-radius: 4px;
					color: $lightAsh;
					font-size: 16px;
					padding: 11px 10px 9px;

					&::placeholder {
						color: $lightAsh !important;
					}
				}

				select {
					padding-bottom: 0;
					padding-top: 0;
				}

				textarea {
					height: 100px;
				}
			}

			.legal-consent-container .hs-form-booleancheckbox-display p {
				font-size: 14px;
			}

			div.actions {
				text-align: right;

				input[type="submit"] {
					background-color: $reflex;
					border: 0 none;
					border-radius: 30px;
					color: #FFF;
					font-size: 14px;
					padding: 12px 28px 11px;

					&:hover {
						background-color: $cerulean;
						border: 0 none;
						color: #FFF;
					}
				}
			}
		}
	}

	.quote_card {
		&__portrait_wrapper {
			border: 2px solid $cerulean;
			border-radius: 50%;
			height: 22vw;
			max-height: 90px;
			max-width: 90px;
			width: 22vw;
		}


		&__author_wrapper {
			flex: 0 0 30%;
		}

		&__name {}

		&__blockquote_wrapper {
			flex: 0 0 70%;
		}

		&__company {
			height: auto;
			max-height: 40px;
			max-width: 100px;
			width: 50%;
		}

		.col_author_cite {
			font-style: normal;
		}

		blockquote p {
			font-size: calc(min(3.8vw, 16px));
		}
	}

	.campaign_card {
		&__stats {
			.icon {
				height: 24px;
				object-fit: contain;
				width: 24px;
			}
		}

		&__company_wrapper {
			cursor: default;
			flex: 1 1 calc(100% - 30vw);
		}

		&__company {
			height: 40px;
			max-width: 80%;
			width: 120px;
		}
	}
}

#book_demo {
	/* .Form form .hs-richtext {

		h5,
		p {
			display: none;
		}
	} */
}

#request_access {}

#schedule_demo {}

@media (max-width:$xsMax) {
	.template.book_demo {
		$animationSpeed: 0.6s;

		.quote_card__author_wrapper {
			.col_portrait {
				flex: 0 0 22vw;
				max-width: 100px;
			}

			.col_author_cite {
				flex: 1 1 calc(100% - 22vw);
			}
		}

		.campaign_card {
			padding-bottom: 10vh;
			padding-top: 10vh;
			transform-style: preserve-3d;
			perspective: 800px;

			&__thumbnail_wrapper {
				height: 100%;
				left: 50%;
				max-height: calc(80vh - 80px);
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%) rotate3d(0, 1, 0, 0deg);
				transition: transform $animationSpeed ease-out $animationSpeed;
				will-change: transform;
			}

			&__thumbnail {
				max-height: calc(80vh - 80px);
			}

			&__company_wrapper {
				transform: rotate3d(0, 1, 0, 90deg);
				transition: transform $animationSpeed ease-in 0s;
				will-change: transform;
			}

			&.flipped {
				.campaign_card__thumbnail_wrapper {
					transform: translate(-50%, -50%) rotate3d(0, 1, 0, -90deg);
					transition: transform $animationSpeed ease-in 0s;
				}

				.campaign_card__company_wrapper {
					transform: rotate3d(0, 1, 0, 0deg);
					transition: transform $animationSpeed ease-out $animationSpeed;
				}
			}
		}
	}
}

@media (min-width:$sm) {
	.template.book_demo {
		.Hero {
			background: linear-gradient(to right, #462ca2 0%, #37bbf1 100%);

			.blob {
				filter: blur(100px);
			}

			.blob1 {}

			.blob2 {
				background-color: #37bbf1;
				bottom: auto;
				height: 40vw;
				left: 0%;
				top: auto;
				transform: translate(-50%, 70%);
				width: 40vw;
			}

			.blob3 {
				filter: blur(80px);
				right: 0;
				top: 0;
				transform: translate(50%, -50%);
			}

			.hero_img {
				max-height: none;
			}
		}

		.quote_card {
			&__portrait_wrapper {
				height: 14vw;
				max-height: 200px;
				max-width: 200px;
				width: 14vw;
			}

			&__company {
				height: 40px;
				left: 50%;
				transform: translateX(-50%);
				width: 100px;
			}

			blockquote p {
				font-size: calc(min(2.2vw, 21px));
			}
		}

		.campaign_card {
			height: 500px;

			&__stat {

				.icon {
					max-height: 3vw;
					max-width: 3vw;
				}
			}
		}
	}
}