@media (min-width: 1600px) {
	#ebook_adding_digital_to_your_ooh_network section.Hero .Tank .title {
		font-size: 6.2rem;
	}
}

@media (max-width: $tank_max_width) {
	#ebook_adding_digital_to_your_ooh_network {
		section.Hero {
			.Tank {
				max-width: 55%;
				padding-left: 0;
				padding-right: $tankPaddingPhone;

				&>img {
					right: $tankPaddingPhone;
					width: calc(100% - #{$tankPaddingPhone});
				}

				.title {
					font-size: 4.4vw;
				}
			}
		}
	}
}

// --- ebook global Css --

@media (max-width: $tablet_max_width) {

	#ebook-5-mistakes-to-avoid,
	#request-a-demo {
		.hull {
			.form_zone {
				.Panel {
					.Form {
						input {
							border: solid 1px #CCC;
						}
					}
				}
			}
		}
	}

	#ebook_dynamic_interactive_content,
	#page_thank_you_interactive_content,
	#page_thank_you_successfulDigital {

		.Hero {
			.title_container {
				h3 {
					font-size: 4.5rem;
				}
			}
		}
	}
}


@media (max-width: $mobile_max_width) {

	.ebook,
	.demo {
		.hull {
			h1 {
				color: $mint;
				font-size: 3rem;
				text-transform: uppercase;
			}

			.Row {
				flex-flow: column-reverse;

				.form_zone {
					max-width: calc(100%);
					width: calc(100%);

					.Panel {
						.Form {
							input {
								border: solid 1px #CCC;
							}

							form {
								.field {
									padding-left: 1rem;
									padding-right: 1rem;
								}
							}
						}
					}
				}

				.text_zone {
					align-items: flex-start;
					max-width: calc(100% - 5px);
					width: calc(100% - 5px);
				}
			}
		}
	}

	#ebook_dynamic_interactive_content {
		.Hero {
			display: flex;
			flex-flow: column-reverse;
			height: auto;
			max-height: 85rem;

			.title_container {
				padding: 5rem;
				width: 100%;

				h3 {
					font-size: 5rem;

				}
			}

			.img_container {
				width: 100%;

				img {
					margin-top: 2rem;
					width: 100%;
				}
			}
		}

		.hull {
			.Row {
				flex-flow: column-reverse;
			}
		}
	}

	#ebook_adding_digital_to_your_ooh_network {
		section.Hero {
			.Tank {
				.title {
					font-size: 4.2vw;
				}
			}
		}
	}
}

// --- thank you ebook global Css --


@media (max-width: $tablet_max_width) {

	#page_thank_you_interactive_content,
	#page_thank_you_successfulDigital {

		.Hero {
			.title_container {
				h3 {
					font-size: 4.5rem;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#page_thank_you_interactive_content {
		.Hero {
			display: flex;
			flex-flow: column-reverse;
			height: auto;
			max-height: 85rem;

			.title_container {
				padding: 5rem;
				width: 100%;

				h3 {
					font-size: 5rem;

				}
			}

			.img_container {
				width: 100%;

				img {
					margin-top: 2rem;
					width: 100%;
				}
			}
		}

		.resources {
			h3 {
				font-size: 2.2rem;
			}

			.CardPanel {
				margin-top: 2rem;

				.title {
					display: none;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	.ebook {
		.hull .Row .form_zone .Panel .Form input.hs-input {
			width: 100%;
		}
	}

	#ebook_adding_digital_to_your_ooh_network {
		section.Hero {
			.bgFluid {

				img,
				picture {
					object-position: 35% 50% !important;
				}
			}

			.Tank {
				max-width: 70%;
				padding-right: $tankPaddingXS;

				&>img {
					right: $tankPaddingXS;
					width: calc(100% - #{$tankPaddingXS});
				}

				.title {
					font-size: 8vw;
					text-shadow: 2px 2px 8px #4A146F, 2px 2px 8px #B51C3A, 2px 2px 8px #1D3DA5;
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	.ebook.thank_you .resources h3 {
		font-size: 4rem;
		margin-bottom: 6rem;
	}

	#ebook_optimize_ooh_sales {
		&.thank_you {
			#intro {
				padding: 0 $tankPaddingXS;
			}
		}

		.CTA {
			max-height: none;
			max-width: 80%;
			white-space: normal;
		}
	}
}

@media (max-width: 600px) {
	#ebook_optimize_ooh_sales {
		.Hero {
			.title {
				filter: drop-shadow(2px 2px 2px $blue);
				margin: 0;
				max-width: 42rem;
				width: 100%;
			}
		}

		.hull {
			grid-template-columns: 1fr;
		}

		.text_zone {
			margin-top: 6rem;
			order: 2;
		}

		.form_zone {
			order: 1;
		}
	}
}

@media (min-width: $mobile_min_width) and (orientation:landscape),
(min-width: $tablet_min_width) {
	#ebook_media_buyers_pdooh {
		padding-bottom: 6rem;

		.Tank {
			padding-top: 3rem;
		}

		.Hero {
			h1 {
				font-size: calc(min(3.4vw, 40px));
			}
		}

		.booklet {
			margin: 0;
			transform: translate(40px, 10%);
		}

		.text_zone {
			flex: 0 0 calc(60% - 1.5rem);
			max-width: calc(60% - 1.5rem);
		}

		.form_zone {
			flex: 0 0 calc(40% - 1.5rem);
			max-width: calc(40% - 1.5rem);
		}
	}
}

@media (min-width: $desktop_min_width) {
	#ebook_media_buyers_pdooh {
		.Hero {
			h1 {
				font-size: calc(min(4vw, 50px));
			}
		}
	}
}