$text-align-props: ("text-center": center,
	"text-justify": justify,
	"text-left": left,
	"text-right": right);

$text-decoration-props: ("underline": underline,
	"line-through": line-through,
	"no-underline": none);

$text-transform-props: ("lowercase": lowercase,
	"uppercase": uppercase,
	"capitalize": capitalize);

$text-overflow-props: ("text-overflow-clip": clip,
	"text-overflow-ellipsis": ellipsis);

$font-weight-props: ("font-light": 300,
	"font-normal": 400,
	"font-medium": 500,
	"font-semibold": 600,
	"font-bold": 700,
	"font-black": 900);

$font-style-props: ("font-italic": italic);
$font-family-props: ("font-sans": "Roboto", "font-serif": "Merriweather");

$font-size-props: ("text-12": 12px,
	"text-13": 13px,
	"text-14": 14px,
	"text-16": 16px,
	"text-18": 18px,
	"text-20": 20px,
	"text-22": 22px,
	"text-24": 24px,
	"text-26": 26px,
	"text-34": 34px,
	"text-48": 48px,
	"text-60": 60px,
	"text-90": 90px,
	"text-h1" :96px,
	"text-h2" :60px,
	"text-h3" :48px,
	"text-h4" :27px,
	"text-h5" :24px,
	"text-h6" :20px,
);

$line-height-props: ('line-height-80': 80%,
	'line-height-100': 100%,
	'line-height-120': 120%,
	'line-height-140': 140%,
	'line-height-160': 160%,
	'line-height-180': 180%,
	'line-height-200': 200%,
);

$white-space-props: ("white-space-normal": normal,
	"white-space-nowrap": nowrap,
	"wrap": normal,
	"nowrap": nowrap);

$letter-spacing-props: ("letter-spacing-5": 0.05em,
	"letter-spacing-8": 0.08em,
	"letter-spacing-10": 0.1em);

@include style-class('text-align', $text-align-props, true);
@include style-class('text-decoration', $text-decoration-props);
@include style-class('text-transform', $text-transform-props);
@include style-class('text-overflow', $text-overflow-props, true);
// @include style-class('font-weight', $font-weight-props, true);
@include style-class('font-style', $font-style-props);
@include style-class('font-size', $font-size-props, true);
@include style-class('line-height', $line-height-props);
@include style-class('white-space', $white-space-props);
@include style-class('letter-spacing', $letter-spacing-props);