@import "../../base/dependencies";
@import "cta_bases";

.CTA.gradient {
	background: linear-gradient(to right, #E43425 0%, #2723C8 100%);
	border: 0 none;
	padding: 1px;

	&.round {
		border-radius: 0.6rem;

		.inner {
			border-radius: 0.4rem;
		}
	}

	.inner {
		@include fontBold;
		background-color: #FFF;
		color: $blue;
		transition: background-color 0.3s, color 0.3s;
	}

	&:hover {
		$styling: (mainColor:$red, type:"full", hover:true);
		@include ctaStyling($styling...);

		.inner {
			background-color: transparent;
			color: #FFF;
		}
	}
}