html[lang="fr"] .page_product {
	.Hero {
		&.v2021 {
			.CTA {
				white-space: normal;
			}
		}
	}
}

html[lang="es"] .page_product {
	.Hero {
		&.v2021 {
			.CTA {
				white-space: normal;
			}
		}
	}
}

html[lang="de"] .page_product {
	.Hero {
		&.v2021 {
			.CTA {
				white-space: normal;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation: portrait) {
	html[lang="fr"] {
		.page_product .Hero.v2021 h1 {
			font-size: 7rem;
		}
	}
}