@import "../../base/dependencies";

#broadsign_fete_2022 {
	.Hero {
		background: linear-gradient(180deg, #00104F 14.63%, #7B65FF 100%);
		height: auto;
		max-height: none;

		.tag {
			background-color: #FFF;
			display: inline-block;

			span {
				background: linear-gradient(to right, #E43425 20%, #441FD8 80%, #0A26B8 100%);
				-webkit-background-clip: text;
				display: inline-block;
				font-family: "Roboto Medium", "Roboto";
				font-size: 16px;
				font-weight: 500;
				-webkit-text-fill-color: transparent;
			}
		}

		h1 {
			font-size: 56px;

			em {
				@include fontSuperBold;
				display: block;
			}

			span {
				font-family: "Roboto Light";
				font-size: 0.625em;
			}
		}

		.main_hero {
			height: auto;
			max-width: 775px;
			object-fit: contain;
			width: 100%;
		}

		.Panel {
			background-color: #EAEEFF;
			padding-left: calc(min(8vw, 90px));
			padding-right: calc(min(5vw, 90px));
			border-radius: 12px;

			p {
				color: $reflex;
				margin: 0;
			}
		}
	}

	.neck {
		background-color: $alice;

		p {
			max-width: 900px;
		}
	}

	.Form {
		background-color: $alice;
		max-width: 900px;

		.field {

			&.hs-fieldtype-text,
			&.hs-fieldtype-select {
				&>label {
					display: none;
				}
			}
		}

		.field.hs-fieldtype-booleancheckbox label span {
			color: $reflex;
			line-height: 150%;
			position: relative;
			top: 1px;
		}

		input,
		select {
			color: $reflex;

			&::placeholder {
				color: #8E918F;
			}
		}

		.actions {
			margin-top: 80px;
			text-align: right;

			input {
				background-color: $reflex;
				border: 0 none;
				border-radius: 4px;
				color: #FFF;
				font-size: 14px;
				letter-spacing: 0.1em;

				&:hover,
				&:active {
					background-color: $cerulean;
					color: #FFF !important;
				}
			}
		}
	}

	.submitted-message {
		p {
			color: $ash;
			margin: 1em 0 2em;
		}

		strong {
			@include fontBolder;
			align-items: center;
			background: url("../../../img/ui/check_circle_green.svg") left center no-repeat;
			background-size: 30px 30px;
			color: $reflex;
			display: flex;
			font-size: 24px;
			line-height: 30px;
			padding-left: 2em;
		}
	}
}

@media (min-width:$sm) {
	#broadsign_fete_2022 {
		.Hero {
			h1 {
				font-size: 80px;
			}

			.Panel {
				padding-left: calc(min(8vw, 90px));
				padding-right: calc(min(5vw, 90px));
				border-radius: 1000px;
			}
		}
	}
}

@media (min-width:$lg) {
	#broadsign_fete_2022 {
		.Hero {
			.Panel {
				padding-left: calc(min(5vw, 90px));
			}
		}
	}
}