@import "../../../base/dependencies";

main.page_webinarModernizeYourDOOHSales {
	.Hero {
		margin-bottom: 0;

		.person {
			$w: 50.8rem;
			$h: 57.8rem;
			animation-name: animatePersonInvert;
			height: $h !important;
			left: 10rem;
			max-height: $h;
			max-width: $w;
			width: $w !important;

			img,
			picture {
				height: $h !important;
				transform: scaleX(-1);
				width: $w !important;
			}
		}

		.Tank {
			align-items: flex-end;
			display: flex;

			&>div {
				align-items: flex-start;
				display: flex;
				flex-flow: column nowrap;
			}
		}

		.title {
			font-size: 15rem;

			span {
				font-size: 65%;
			}

			em {
				em {
					left: -0.6rem;
				}
			}

		}

		&,
		&.product {
			.d {
				left: 10rem;
			}
		}
	}
}

.page_webinarModernizeYourDOOHSales {

	.hull {
		margin-bottom: 0 !important;

		.Panel {
			margin-bottom: 6rem;
			margin-top: 6rem;
		}

		.thank_you_title {
			color: #A3D9EA;
			font-size: 6.2rem;
			line-height: 90%;
			margin: 5rem;
			text-align: center;
		}

		.Row {
			flex-flow: row-reverse;
		}

		.form_zone {
			.Panel {
				padding: 0;
			}

			h3 {
				@include fontBolder;
				background-color: $worker;
				color: #FFF;
				font-size: 2.5rem;
				margin: 0 !important;
				padding: 2rem;
				text-align: center;
				width: 100%;
			}

			.Form {
				padding: 3rem;
			}
		}

		.text_zone {
			img {
				width: 100%;
			}

			h3 {
				@include fontReg;
				font-size: 2.4rem;
				font-weight: 200;
				line-height: 4rem;
				text-transform: none;
			}

			p {
				@include fontBolder;
				font-size: 2.4rem;
				margin-bottom: 2.5rem;
				margin-top: 2.5rem;

			}

			ul {
				li {
					@include fontAlt;
					background-color: #e3f7fa;
					display: block;
					font-size: 1.8rem;
					line-height: 2.4rem;
					margin-bottom: 0.4rem;
					padding: 2.5rem;
				}
			}
		}

		.footer_webinar {
			align-items: center;
			background-color: $worker;
			display: flex;
			flex-flow: column;
			height: auto;
			margin-top: 5rem;
			padding-bottom: 6rem;
			padding-top: 5rem;

			p {
				color: white;
				font-size: 2.4rem;
				padding: 3rem;
			}

			.features {
				display: flex;
				width: 90%;

				.ImgFlank {
					width: 35%;

					aside {
						flex-basis: calc(20% - 1.5rem);
						max-width: calc(20% - 1.5rem);
					}

					.lead {
						@include fontReg;
						color: white;
						flex-basis: calc(80% - 1.5rem);
						font-size: 2.2rem;
						line-height: 105%;
						max-width: calc(80% - 1.5rem);
						padding: 1.8rem 3rem 1.8rem 0;
					}
				}
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	.page_webinarModernizeYourDOOHSales {
		.Hero {
			.person {
				left: 0;
			}

			.Tank {
				&>div {
					max-width: 60%;
				}
			}

			.title {
				font-size: 20rem;

				span {
					font-size: 33%;
				}

				em {
					font-size: 100%;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	.page_webinarModernizeYourDOOHSales {
		.Hero {
			padding-left: 0;

			.person {
				left: -13rem;
			}

			.title {
				font-size: 15rem;
			}
		}


		.hull {
			.Row {
				flex-flow: column-reverse;
				width: 100%;
			}

			.form_zone {
				flex-basis: calc(100% - 1.5rem);
				max-width: calc(100% - 1.5rem);
			}

			.text_zone {
				flex-basis: calc(100% - 1.5rem);
				max-width: calc(100% - 1.5rem);
			}

			.footer_webinar {
				height: 65rem;

				p {
					padding: 2rem;
				}

				.features {
					display: flex;
					width: 90%;

					.ImgFlank {
						display: flex;
						flex-flow: column;

						aside {
							flex-basis: calc(100% - 1.5rem);
							max-width: calc(100% - 1.5rem);
						}

						.lead {
							@include fontReg;
							bottom: 9rem;
							flex-basis: calc(100% - 1.5rem);
							max-width: calc(100% - 1.5rem);
							position: relative;
						}
					}
				}
			}
		}
	}

	#page_thankYouwebinarModernizeYourDOOHSales {}
}

@media (max-width: $xs_max_width)and (orientation:portrait) {
	.page_webinarModernizeYourDOOHSales {
		.Hero .title {
			font-size: 15vw;
		}
	}

	#page_thankYouwebinarModernizeYourDOOHSales {}
}

@media (max-width: $super_xs_max_width) {
	.page_webinarModernizeYourDOOHSales {
		.Hero .title {
			font-size: 10rem;
		}
	}

	#page_thankYouwebinarModernizeYourDOOHSales {}
}

html[lang="fr"] {
	.page_webinarModernizeYourDOOHSales {}

	#page_thankYouwebinarModernizeYourDOOHSales {}
}

html[lang="es"] {
	.page_webinarModernizeYourDOOHSales {}

	#page_thankYouwebinarModernizeYourDOOHSales {}
}

@media (max-width: $tablet_max_width) {
	html[lang="fr"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}

	html[lang="es"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}
}

@media (max-width: $mobile_max_width) {
	html[lang="fr"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}

	html[lang="es"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}
}

@media (max-width: $xs_max_width) {
	html[lang="fr"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}

	html[lang="es"] {
		.page_webinarModernizeYourDOOHSales {}

		#page_thankYouwebinarModernizeYourDOOHSales {}
	}
}