@import "../../../base/dependencies";

.page_webinarSpring2019Platform {
	.hull {
		background-image: url("../../../../img/bg/webinar_spring_2019_bg.png");
		background-position-x: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;

		.Tank {
			.Row {
				flex-flow: row-reverse;
				justify-content: center;
				padding-bottom: 20rem;
				padding-top: 20rem;

				.text_zone {
					align-items: flex-start;
					background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
					max-width: 600px;
					padding: 4rem;

					p {
						margin-top: 1rem;
					}

					.title1,
					.title2 {
						p {
							background: -webkit-linear-gradient(left, $spring, $butterfly);
							background: -o-linear-gradient(right, $spring, $butterfly);
							background: -moz-linear-gradient(right, $spring, $butterfly);
							background: linear-gradient(to right, $spring, $butterfly);
							-webkit-background-clip: text;
							background-clip: text;
							font-size: 4.5rem;
							line-height: 100%;
							margin-bottom: 0;
							margin-top: 0;
							text-transform: uppercase;
							-webkit-text-fill-color: transparent;
						}

						img {
							padding: 0.3rem 0.3rem 0;
							width: 2rem;
						}
					}

					.title2 {
						font-size: 6rem;
						font-weight: bolder;
					}

					.content_header {
						font-size: 1.5rem;
						font-weight: bold;
						margin-bottom: 1.5rem;
						margin-top: 2.5rem;
					}

					.content_intro {
						font-size: 1.5rem;
						line-height: 170%;
					}

					ul {
						list-style: none;
						margin: 0.75em 0;

						li {
							background-color: #FFF;
							color: $butterfly;
							font-size: 1.5rem;
							line-height: 2.4rem;
							margin-bottom: 0.4rem;
							padding: 0.5rem 1rem 1.5rem 3rem;
						}

						li:before {
							border-color: transparent $butterfly;
							border-style: solid;
							border-width: 0.30em 0 0.30em 0.50em;
							content: "";
							display: block;
							height: 0;
							left: -1em;
							position: relative;
							top: 1.1em;
							width: 0;
						}
					}
				}

				.form_zone {
					margin: 0;
					max-width: 300px;

					.Panel {
						background-color: $butterfly;
						height: 100%;

						.image_wrapper {
							display: flex;
							justify-content: center;
							margin-bottom: 2rem;
							margin-top: 2rem;
						}

						p {
							color: #FFF;
							font-size: 1.6rem;
							margin-bottom: 1rem;
						}

						.Form {
							form {

								.hs_error_rollup {
									margin: 2rem 0;

									ul li {
										list-style-type: none;

										label {
											@include fontBold;
											color: $red;
											font-size: 1rem;
											line-height: 120%;

										}
									}
								}

								.hs-form-booleancheckbox {
									padding-top: 0;

									.hs-form-booleancheckbox-display {
										span {
											font-size: 1rem;
										}

										.hs-input:before {
											border: none;
											border-radius: 0;

										}
									}
								}

								.hs-submit {
									display: flex;
									justify-content: center;

									.actions {
										.hs-button {
											background-color: #FFF;
											border-color: transparent;
											color: $red;
										}

										.hs-button:hover {
											background-color: $red;
											border-color: transparent;
											color: #FFF;
										}
									}
								}

								.field {
									display: flex;
									flex: 0 0 100%;
									margin: 0 0 0.5rem;
									max-width: 100%;
									width: 100%;

									label {
										@include fontReg;
										font-size: 1.1rem;
									}

									.input {
										input {
											@include fontReg;
											box-shadow: inset 0 0 100px $butterfly, inset 0 0 100px $butterfly, inset 0 0 100px $butterfly;
											font-size: 1.5rem;
											margin: 0;
											width: 100%;
											z-index: 1;
											-webkit-text-fill-color: #FFF;

										}

										input:focus {
											outline: none;
										}

										.inputs-list {
											li {
												list-style-type: none;

												label {
													input {}

													span {
														a {
															color: #FFF;
															text-decoration: underline;
														}
													}
												}
											}
										}
									}
								}

								label {
									.hs-form-required {
										color: #FFF;
									}

									.error.hs-form-required {
										color: $red;
									}
								}

								.hs_submit {
									.actions {
										margin-bottom: 0;
										margin-top: 0;

									}

									.hs-button {
										font-size: 1.3rem;
										padding: 1rem 4rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.page_thankYouWebinarSpring2019Platform {
	.main_section {
		align-items: center;
		background-image: url("../../../../img/bg/webinar_spring_2019_bg.png");
		background-position-x: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-flow: column;
		margin: 0;
		padding: 10rem 40px;

		.Panel {
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
			max-width: 900px;
			padding: 8rem;
			width: 900px;

			.title1,
			.title2 {
				p {
					background: -webkit-linear-gradient(left, $spring, $butterfly);
					background: -o-linear-gradient(right, $spring, $butterfly);
					background: -moz-linear-gradient(right, $spring, $butterfly);
					background: linear-gradient(to right, $spring, $butterfly, $butterfly);
					-webkit-background-clip: text;
					background-clip: text;
					font-size: 5.5rem;
					line-height: 100%;
					margin-bottom: 0;
					margin-top: 0;
					text-transform: uppercase;
					-webkit-text-fill-color: transparent;
				}

				img {
					padding: 0.3rem 0.3rem 0;
					width: 2rem;
				}
			}

			.title2 {
				font-weight: bolder;
			}
		}

		p {
			margin: 2rem 0;
		}

		.resources {
			max-width: 900px;
			padding: 0;

			h3 {
				@include fontReg;
				color: #FFF;
				font-size: 2.8rem;
				line-height: 120%;
				margin: 3rem 0;
				text-shadow: 2px 2px 2px $blue, 2px 2px 2px $blue;
				text-transform: none;
			}

			.Row {
				.QuickResource {
					background-color: rgba(255, 255, 255, 0.5);

					.caption {
						color: $blue;
						font-size: 1.6rem;
						margin: 0;
						transition: opacity 0.3s;

					}

					&:hover {
						.caption {
							opacity: 0.6;
						}
					}

					.Row {
						img {
							height: 16rem;
						}

					}
				}

			}

		}
	}

	.VideoPoster {
		padding: 0;

		.Video {
			max-height: 47.81rem;
			max-width: 85rem;
		}
	}
}

@media (max-width: $tablet_max_width) {
	.page_webinarSpring2019Platform {}

	.page_thankYouWebinarSpring2019Platform {
		.main_section {
			.Panel {
				width: 100%;
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	.page_webinarSpring2019Platform {
		.hull {
			.Tank {
				.Row {
					flex-flow: column-reverse;
					padding-bottom: 5rem;
					padding-top: 5rem;

					.text_zone {

						.title1,
						.title2 {
							p {
								font-size: 3.5rem;
							}
						}
					}

					.form_zone {
						max-width: 600px;
					}
				}
			}
		}

		.main_section {
			.Panel {

				.title1,
				.title2 {
					p {
						font-size: 4.5rem;
					}
				}
			}
		}

		.VideoPoster {
			padding: 0;

			.Video {
				max-height: 47.81rem;
				max-width: 85rem;
			}
		}
	}

	.page_thankYouWebinarSpring2019Platform {
		.main_section {
			.Panel {
				padding: 4rem;

				.title1,
				.title2 {
					p {
						font-size: 3rem;
					}
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) {
	#page_webinarSpring2019Platform {}

	#page_thankYouWebinarSpring2019Platform {}
}

html[lang="fr"] {
	#page_webinarSpring2019Platform {}

	#page_thankYouWebinarSpring2019Platform {}
}

html[lang="es"] {
	#page_webinarSpring2019Platform {}

	#page_thankYouWebinarSpring2019Platform {}
}

@media (max-width: $tablet_max_width) {
	html[lang="fr"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}

	html[lang="es"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}
}

@media (max-width: $mobile_max_width) {
	html[lang="fr"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}

	html[lang="es"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}
}

@media (max-width: $xs_max_width) {
	html[lang="fr"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}

	html[lang="es"] {
		#page_webinarSpring2019Platform {}

		#page_thankYouWebinarSpring2019Platform {}
	}
}