@import "../../../base/dependencies";

#webinar_best_practices_pdooh_campaign {
	.PlayBtn {
		transform: scale(0.5);

		img {
			padding-left: 12%;
			width: 48%;
		}
	}

	.Form {
		input {
			color: $ash;
		}

		.actions {
			text-align: right;

			input[type=submit].hs-button {
				background-color: $reflex;
				border: 0 none;
				border-radius: 100px;
				color: #FFF;
				font-size: 14px;
				letter-spacing: 0.1em;
				padding-bottom: 0.8em;
				padding-top: 0.9em;

				&:hover {
					background-color: $cerulean;
				}
			}
		}
	}
}