@keyframes fromTopRight {
	0% {
		opacity: 0.4;
		transform: translate(70rem, -70rem);
	}

	100% {
		opacity: 1;
		transform: translate(0rem, 0rem);
	}
}

@keyframes fromBottomRight {
	0% {
		opacity: 0.4;
		transform: translate(70rem, 70rem);
	}

	100% {
		opacity: 1;
		transform: translate(0rem, 0rem);

	}
}

@keyframes fromBottomLeft {
	0% {
		opacity: 0.4;
		transform: translate(-70rem, 70rem);
	}

	100% {
		opacity: 1;
		transform: translate(0rem, 0rem);
	}
}

@keyframes fromTopLeft {
	0% {
		opacity: 0.4;
		transform: translate(-70rem, -70rem);
	}

	100% {
		opacity: 1;
		transform: translate(0rem, 0rem);
	}
}

.page_programmatic {
	.blobs {
		object-fit: contain;
		pointer-events: none;
		position: absolute !important;
		width: 100%;
		z-index: 0;

		&.left {
			animation: fromBottomLeft 1s ease-out 0.4s 1 forwards;
			left: calc(50% - 800px);
			object-position: center left;
			transform: translate(-200%, 0);
		}

		&.right {
			animation: fromTopRight 1s ease-out 0.4s 1 forwards;
			object-position: center right;
			right: calc(50% - 800px);
			transform: translate(200%, 0);
		}
	}

	h2,
	h3 {
		font-variant: normal;
		text-transform: none;
		width: 100%;
	}

	h2 {
		@include fontBolder;
		font-size: 3.4rem;
		line-height: 120%;
		margin-top: 3rem;
	}

	.CTA {
		@include fontReg;
		border-radius: 0.6rem;
		display: inline-block;
		font-size: 1.6rem;
		padding: 1.8rem 4rem 1.6rem;
	}

	.column.form {
		h3 {
			font-size: 3rem;
			margin-bottom: 3rem;
			margin-top: 3.2rem;
		}
	}

	.fold {
		align-items: flex-end;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-top: 14rem;
		z-index: 1;

		.blobs {
			&.left {
				height: 72.7rem;
				top: 6rem;
			}

			&.right {
				height: 23.2rem;
				top: -6rem;
			}
		}

		&>.Tank {
			margin: 0 5rem 0 0;
			max-width: 68rem;
			z-index: 10;
		}

		h1 {
			@include fontBolder;
			font-size: 5.4rem;
			line-height: 120%;
			margin: 3rem 0;
			text-transform: none;
		}

		p {
			@include fontReg;
			color: $grey;
			font-size: 2rem;
		}

		hr {
			margin: 13rem 0 10rem;
			width: 100%;
		}
	}

	.why_dooh {
		z-index: 10;

		h2 {
			margin-bottom: 12rem;
		}

		h3 {
			font-size: 2.4rem;
			margin: 4rem 0 1rem;
		}

		p {
			color: $grey;
			font-size: 1.8rem;
		}

		.ImgHat {
			max-width: 30rem;

			.Row {
				justify-content: flex-start;
			}
		}
	}

	.get_started {
		.hull {
			background: linear-gradient(108.85deg, $teal -44.95%, $midnightBlue 43.28%, $red 118.53%);
			border-radius: 1rem;
			left: -3rem;
			max-width: 63%;
			padding: 5rem 8rem 4rem 9rem;
			width: 75rem;
		}

		.product {
			max-width: 80%;
			padding-left: 0.6rem;
			padding-top: 3rem;
			width: 32rem;
			z-index: 1;

			&:first-of-type {
				padding-top: 4rem;
			}
		}

		.line {
			border-color: #FFF;
			border-top: 1px solid rgba(#FFF, 0.4);
			line-height: 0;
			margin-top: 6rem;
			max-width: 52rem;
			z-index: 20;
		}

		h2 {
			color: #FFF;
			font-size: 3.4rem;
			margin: 0;
			max-width: 40rem;
		}


		h3 {
			@include fontReg;
			color: #FFF;
			display: flex;
			font-size: 3.5rem;
			line-height: 120%;
			margin: 0 0 1.8rem;

			&:before {
				@include fontLighter;
				bottom: 0.2rem;
				content: "\203A";
				font-size: 120%;
				margin-right: 0.6rem;
				position: relative;
			}
		}

		p {
			@include fontLighter;
			color: #FFF;
			font-size: 1.8rem;
			margin-bottom: 2rem;
		}

		.CTA {
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}

		.build_excitement {
			@include bg;
			border-radius: 0.6rem;
			box-shadow: 0px 14px 64px rgba(0, 0, 0, 0.25);
			height: 62.5rem;
			left: auto;
			max-width: 77.5rem;
			position: absolute !important;
			right: 0%;
			top: 50%;
			transform: translateY(-48%);
			width: 70%;
			z-index: 10;
		}
	}

	section.dsps {
		align-items: center;
		background: linear-gradient(113.54deg, $teal 21.14%, $midnightBlue 57.69%, $red 88.87%);
		display: flex;
		flex-flow: column nowrap;
		margin-top: 16rem;
		overflow: hidden;
		padding-bottom: 14rem;
		padding-top: 16rem;
		z-index: 1;

		.Tank {
			text-align: center;
		}

		h2 {
			@include fontBolder;
			color: #FFF;
			font-size: 5.4rem;
			margin: 0 auto 6rem;
			max-width: 82rem;
			text-align: center;
		}

		h4 {
			@include fontReg;
			color: #FFF;
			font-size: 3rem;
			margin-bottom: 2rem;
			max-width: 58rem;
			text-align: center;
		}

		p {
			color: #FFF;
			font-size: 3rem;
			margin: 0 auto 5rem;
			max-width: 82rem;
			text-align: center;
		}

		.CTA {
			padding-left: 7.4rem;
			padding-right: 7.4rem;
		}
	}

	.brands {
		padding-bottom: 9rem;
		padding-top: 8rem;

		h2 {
			@include fontBold;
			margin: 0 auto;
		}

		.LogosList {
			margin-top: 4rem;
		}
	}

	.video {
		margin-bottom: 12rem;
		z-index: 10;

		.Video {
			border-radius: 1rem;
			box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.25);
			margin: 0 auto 5rem;
			max-width: 92rem;
			overflow: hidden;

			.bg {
				filter: brightness(0.4);
				transition: filter 0.3s;
			}

			&:hover {
				.PlayBtn {
					opacity: 0;
				}

				.bg {
					filter: brightness(1);
				}
			}
		}

		.PlayBtn {
			opacity: 1;
			transition: opacity 0.3s;

			&,
			& div {
				height: 8rem;
				width: 8rem;
			}
		}

	}

	.blog {
		z-index: 1000;

		.line {
			align-self: flex-start;
			border-top: 2px solid $blue;
			max-width: 6.4rem;
			width: 100%;
		}

		h2 {
			margin-bottom: 12rem;
			margin-top: 2rem;
		}

		hr {
			margin: 7rem 0 0;
		}
	}

	.shin {
		padding-bottom: 18rem;
		padding-top: 12rem;
		z-index: 10;

		.form {
			padding-left: 0;

			.Form {
				max-width: 40rem;
				width: 100%;
			}

			form {
				fieldset {
					margin-bottom: 2rem;
				}

				.field {
					margin: 0;
					width: 100%;

					label {
						margin-bottom: 0.4rem;

						&>span {
							@include fontReg;
							color: #000;
							font-size: 1.6rem;
							font-weight: normal;

							&.hs-form-required {
								color: $red;
							}
						}
					}

					input {
						@include fontReg;
						border: 1px solid #D0D0D0;
						border-radius: 0.6rem;
						color: #808080;
						font-size: 1.6rem;
						height: 5rem;
						line-height: 100%;
						padding-left: 1.6rem;
						padding-right: 1.6rem;
					}

					&.hs_consent_to_privacy_policy {
						opacity: 0.65;
						padding: 0;

						label {
							&>span {
								font-size: 1.3rem;
							}

							input:before {
								border-width: 1px;
							}
						}
					}
				}

				.actions {
					input.hs-button {
						@include fontReg;
						border-radius: 0.6rem;
						font-size: 1.6rem;
						padding: 1.8rem 3rem 1.6rem;
						width: 100%;
					}
				}
			}
		}

		.column {
			justify-content: center;
		}

		.tagline {
			@include fontBolder;
			font-size: calc(min(4.2vw, 5.4rem));
			margin-bottom: 9rem;
		}

		.blobs {
			&.left {
				animation-delay: 0s;
				animation-name: fromTopLeft;
				height: 19.5rem;
				top: 12rem;
			}

			&.right {
				animation-delay: 0s;
				animation-name: fromBottomRight;
				bottom: 5rem;
				height: 77.4rem;
			}
		}
	}

	&.page_work_with_us {
		overflow: hidden;

		.column {
			align-items: flex-start;
			justify-content: flex-start;
		}

		.form_container {
			padding-left: 6rem;
		}

		.hull {
			padding-bottom: 24rem;
		}

		.fold {
			padding-top: 10rem;

			h2 {
				margin-bottom: 2rem;
				margin-top: 2rem;
			}
		}

		.overline {
			align-self: flex-start;
			border-top: 2px solid $blue;
			max-width: 6.4rem;
			width: 100%;
		}

		.blobs {
			&.left {
				bottom: 0;
				left: 0;
				max-width: 60rem;
				object-position: bottom left;
				top: auto;
				transform: translate(-200%, -200%);
				width: 50%;
			}

			&.right {
				animation-name: fromTopRight;
				max-width: 16rem;
				object-position: right top;
				top: 0;
			}
		}

		.tagline {
			@include fontReg;
			display: block;
			font-size: 3.2rem;
			margin-bottom: 2rem;
			max-width: 46rem;
		}

		p {
			font-size: 2.1rem;
			line-height: 130%;
			margin-bottom: 2rem;
			max-width: 50rem;
		}

		a {
			@include fontBolder;
			color: $grey;

			&:hover {
				color: $grey;
				opacity: 0.4;
			}
		}

		.form {
			margin-top: -6rem;
			max-width: 38rem;
			padding: 0;
			width: 100%;

			h3 {
				font-size: 3rem;
				margin-bottom: 3rem;
				margin-top: 3.2rem;
			}

			input[type="submit"].hs-button {
				border-radius: 4px;
				font-size: 1.6rem;
				width: 100%;
			}
		}
	}

	.submitted-message {
		display: inline-block;
		overflow: visible;

		p {
			display: inline-block;
			line-height: 160%;
			margin-bottom: 3rem;
		}

		a {
			background-color: $red;
			border: 1px solid $red;
			border-radius: 0.8rem;
			box-sizing: border-box;
			color: #FFF;
			display: inline-block;
			font-size: 1.8rem;
			padding: 1.6rem 3rem 1.4rem;

			&:hover {
				background-color: #FFF;
				color: $red;
			}
		}
	}
}