@media (max-width: $tablet_max_width) {
	#dsp-include-digital-out-of-home {
		.Hero {
			.bgFluid {

				&,
				img,
				picture {
					object-position: 70% center !important;
				}
			}

			.Tank {
				.text {
					width: 70%;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#dsp-include-digital-out-of-home {
		.EngageAudience {
			.audience {
				.Row {
					.column {
						.Video {
							max-height: 42vw;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#dsp-include-digital-out-of-home {}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#dsp-include-digital-out-of-home {
		.Hero {
			background: linear-gradient(to right, #0F9357 0%, #139654 25%, #239D48 50%, #1E9B4D 75%, #0F9357 100%);

			.bgFluid {
				bottom: 0;
				height: 50% !important;
				top: auto;

				img,
				picture {
					object-position: 90% bottom !important;
				}
			}

			.Tank {
				.text {
					text-shadow: 1px 1px 2px $dspGreenShadow, 2px 2px 2px $dspGreenShadow;
					width: 100%;
				}
			}
		}
	}
}