@media (max-width: $tablet_max_width) {
	#page_vertical_banking {
		section.Hero {
			.text {
				.title {}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#page_vertical_banking {
		section.Hero {
			background-position-x: 33%;
		}

		#features {
			.Lattice {
				margin-bottom: 0;
			}
		}

		.QuoteBlock blockquote {
			margin-top: 0;
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#page_vertical_banking {
		.Hero .title {
			font-size: 10vw;

			span:last-of-type {
				font-size: 186%;
				white-space: normal;
			}
		}
	}
}