@include animFadeInNoBlur;

#free_trial {
	.Hero {
		background-color: #740560;
		height: auto;
		max-height: none;

		.bubbles {
			@include bg;
			overflow: hidden;
		}

		.bubble {
			border-radius: 50%;
			filter: blur(40px);
			height: 110rem;
			position: absolute;
			width: 120rem;

			&.bottom_right {
				background: linear-gradient(89.9deg, #FF3D2D -0.81%, #765BE3 71.59%, #0029FF 99.92%);
				height: 96rem;
				right: -5%;
				width: 96rem;
				z-index: 5;
			}

			&.top_left {
				background: linear-gradient(0deg, #FF0000 3.3%, #0505A9 60.14%, #0539C0 69.11%, #0585E2 82.08%, #05B6F7 92.05%, #05C8FF 97.03%);
				left: -30%;
				top: 50%;
				transform: translate(0%, -50%);
				z-index: 10;
			}

			&.bottom_center {
				background: linear-gradient(247.95deg, #E2439F 9.79%, #ED6573 38.3%, #853AE0 74.28%, #1D00FA 99.52%);
				left: 50%;
				top: 10%;
				transform: translate(-50%, 0%);
				z-index: 1;
			}
		}

		.Tank {
			justify-content: flex-end;
		}

		.Row {
			align-items: flex-end;
			height: 100%;
			z-index: 100;
		}

		.form {
			align-items: flex-start;
			margin-bottom: -3rem;
			max-width: 52rem;
			top: 12rem;
		}

		.form_wrapper {
			background-color: #FFF;
			border-radius: 5px;
			max-width: 50rem;
			min-height: 50rem;
			width: 100%;
		}

		.Form {
			padding: 2rem 3rem;

			.input {

				input,
				select {
					border: 1px solid rgba(160, 160, 160, 0.5);
					border-radius: 4px;
					color: #ADADAD;
					height: 5.2rem;
					padding: 0.6rem 1.2rem;
				}

				input,
				select option {
					color: #ADADAD;
					font-style: normal;
					font-weight: normal;
				}
			}

			form {
				fieldset {
					margin: -0.6rem 0 0;
				}

				.field {
					label {
						background-color: #FFF;
						left: 1rem;
						padding: 0 0.6rem;
						top: 1.2rem;

						span {
							color: $blue;
							font-size: 1.2rem;
						}
					}

					&.hs-fieldtype-booleancheckbox {
						padding: 0 0 2rem;

						label {
							left: 0;
							margin: 2rem 0;
							padding: 0;
							top: 0;

							span {
								font-size: 1.2rem;
								left: 0;
							}
						}
					}
				}

				.actions {
					margin: 0;
					padding: 0;

					input[type="submit"].hs-button {
						background-color: #EC5151;
						border-color: #EC5151;
						border-radius: 4px;
						font-size: 1.6rem;
						font-weight: normal;
						padding: 1.8rem 3rem 1.7rem;
						width: 100%;

						&:hover {
							background-color: #FFF;
							color: #EC5151;
						}
					}
				}
			}
		}

		h1 {
			animation: 0.6s ease-out 1s 1 normal forwards running fadeInNoBlur;
			color: #FFF;
			font-size: 5rem;
			line-height: 120%;
			opacity: 0;
		}

		.person {
			flex-basis: calc(52% - 1.5rem);
			height: 100%;
			left: 3rem;
			max-width: 60%;
			width: calc(52% - 1.5rem);
		}
	}

	.convenience {
		padding-bottom: 4rem;
		padding-top: 24rem;
		text-align: center;

		h2 {
			@include fontLight;
			font-size: 3.8rem;
			text-transform: none;
		}

		p {
			font-size: 1.9rem;
			margin: 1.6rem auto 0;
			max-width: 64rem;
		}
	}

	.screenshots {
		@mixin gradients {
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			width: 10%;
			z-index: 100;
		}

		height: 26rem;

		&:before {
			@include gradients;
			background: linear-gradient(to right, rgba(#FFF, 1) 0%, rgba(#FFF, 0.8) 50%, rgba(#FFF, 0) 100%);
			left: 0;
		}

		&:after {
			@include gradients;
			background: linear-gradient(to left, rgba(#FFF, 1) 0%, rgba(#FFF, 0.8) 50%, rgba(#FFF, 0) 100%);
			right: 0;
		}

		.inner {
			@include bg;
			display: flex;
			flex-flow: row nowrap;
			max-height: 100%;
		}

		.screenshot {
			flex: 0 0 calc(33% - 4rem);
			height: 100%;
			margin: 0 2rem;
			max-height: 100%;
			object-fit: contain;
			object-position: center center;
			position: absolute;
			width: calc(33% - 4rem);
		}
	}

	.products {
		column-gap: 18rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 1080px;
		padding-bottom: 14rem;
		padding-top: 7rem;
		row-gap: 8rem;

		.product {
			column-gap: 1.4rem;
			cursor: pointer;
			display: grid;
			grid-template-columns: 5.2rem 1fr;
			perspective: 400px;

			&:hover {
				.product_icon {
					filter: drop-shadow(-4px 4px 2px rgba(#000, 0.2));
					transform: rotateX(-10deg) rotateY(40deg);
				}

				.product_link {
					color: $teal;
				}
			}
		}

		.product_icon {
			transition: transform 0.3s ease-out, filter 0.3s ease-out;
			width: 100%;
		}

		.product_name {
			@include fontReg;
			font-size: 2.8rem;
			font-weight: bold;
			margin-bottom: 1.4rem;
			margin-top: -0.4rem;
			text-transform: none;
		}

		.product_description {
			font-size: 1.9rem;
			margin-bottom: 1.4rem;
		}

		.product_link {
			color: #566A81;
			font-size: 1.2rem;
			text-decoration: underline;
			transition: color 0.3s;
		}
	}

	.quotes {
		background-color: #080C1F;
		border-radius: 1.2rem;
		height: 44rem;
		max-width: 1300px;
		position: relative;
		width:calc(100% - #{$tankPadding * 2});

		.quote_sign {
			height: 3rem;
			left: 10rem;
			object-fit: contain;
			object-position: left top;
			top: 3rem;
			width: 3rem;
		}

		blockquote {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			max-width: 100%;
			opacity: 0;
			padding: 0 6rem 0 10rem;
			position: absolute;
			top: 8rem;
			transition: opacity 0.3s;

			&.active {
				opacity: 1;

				p {
					animation: quoteFadeIn 1s ease-out 0.3s 1 forwards;
					opacity: 1;
				}

				cite {
					filter: none;
					opacity: 1;
				}
			}

			p {
				color: #FFF;
			}
		}

		p {
			flex: 0 1 70%;
			line-height: 150%;
			max-width: 76rem;
			opacity: 0;
			transition: opacity 1s ease-out 0.3s;
			width: 70%;
		}

		cite {
			align-items: flex-start;
			background-repeat: no-repeat;
			background-size: contain;
			display: flex;
			filter: blur(3rem);
			flex: 0 1 calc(30% - 6rem);
			flex-flow: row nowrap;
			height: 6rem;
			justify-content: flex-end;
			max-width: 24rem;
			opacity: 0;
			position: relative;
			transition: opacity 1s ease-out 0.3s, filter 0.8s ease-out 0.3s;
			width: calc(30% - 6rem);

			&.grandi_stazioni {
				background-image: url("../../../static/img/logos/gs_white.svg");
			}

			&.intersection {
				background-image: url("../../../static/img/logos/intersection_white.svg");
			}

			&.clear_digital_media {
				background-image: url("../../../static/img/logos/cleardm_white.png");
			}

			&.lightbox {
				background-image: url("../../../static/img/logos/lightbox_type_white.svg");
			}
		}

		.CTA {
			bottom: 0;
			max-height: none;
			padding: 3rem 4.6rem;
			position: absolute;
			right: 0;
			transform: translateY(50%);
			transition-duration: 0.6s;
			transition-property: background-color, color, padding, right;

			img {
				filter: brightness(100);
				margin-left: 6rem;
				transition: filter 0.6s, margin 0.6s;
			}

			&:hover:active,
			&:hover:focus,
			&:hover {
				background-color: #FFF;
				color: $pink;

				img {
					animation: thisWayRight 1.4s linear 0s infinite;
					filter: brightness(1);
					margin-left: 6rem;
				}
			}
		}

		.quote_num {
			bottom: 3rem;
			color: #969696;
			max-width: 1140px;
			padding-left: $tankPadding;
			position: absolute;
			right: 0;
			width: 100%;
		}

		&.single {
			height: 40rem;

			.quote_sign {
				top: 9rem;
			}

			blockquote {
				top: 14rem;
			}

			.quote_num,
			.CTA {
				display: none;
			}
		}
	}

	.LogosList {
		margin-top: 7rem;

		h2 {
			@include fontLight;
			font-size: 3.8rem;
			margin: 0 auto 6rem;
			text-align: center;
			text-transform: none;
		}
	}

	.shin {
		background-color: $darkBlue;
		padding-bottom: 6rem;
		padding-top: 6rem;

		.Tank {
			display: flex;
			justify-content: center;
		}

		.CTA {
			background-color: $pink;
			border-radius: 0.6rem;
			color: #FFF;
			font-size: 1.6rem;
			margin-left: 2.2rem;
			margin-right: 2.2rem;
			padding: 2.2rem 3.4rem 2rem;

			&:hover {
				background-color: #FFF;
				color: $pink;
			}
		}
	}
}


@media (min-width: $tank_max_width) and (hover: hover),
(min-width: $tank_max_width) and (pointer: fine) {
	#free_trial {
		.quotes .CTA {

			&:hover:active,
			&:hover:focus,
			&:hover {
				right: -100px;

				img {
					margin-left: calc(6rem + 100px);
				}
			}
		}
	}
}

@media (hover: none) and (pointer: none),
(hover: none) and (pointer: coarse) {
	#free_trial {
		.products {
			.product {
				&:hover {
					.product_icon {
						filter: none;
						transform: none;
					}
				}
			}

			.product_icon {
				transition: none;
			}
		}

		.quotes blockquote {
			cite {
				filter: none;
			}
		}
	}
}