@media (max-width: $tank_max_width) {
	#free_trial {
		.products {
			column-gap: 12rem;
			max-width: 100%;
		}

		.quotes {
			border-radius: 0;
			height: 36rem;
			max-width: 100%;
			width: 100%;

			.quote_sign {
				left: 0;
			}

			blockquote {
				justify-content: space-between;
				left: 0;
				padding-left: $tankPadding;
				padding-right: $tankPadding;

				p {
					flex-basis: 65%;
					max-width: 65%;
					width: 65%;
				}
			}

			cite {
				padding-left: 0;
				right: 3rem;
			}

			.quote_num {
				left: 0;
				max-width: 100%;
				padding-left: $tankPadding;
				padding-right: $tankPadding;
			}

			.CTA {
				right: $tankPadding;
			}

			&.single {
				height: 42rem;

				.quote_sign {
					top: 9rem;
				}

				blockquote {
					top: 18rem;
				}
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	#free_trial {}
}

@media (max-width: $tablet_max_width) and (orientation:portrait) {
	#free_trial {
		.quotes {}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait),
(max-width: $mobile_max_width) {
	#free_trial {
		.quotes {
			margin-left: 0rem;
		}
	}
}

@media (max-width: $mobile_max_width) {
	#free_trial {}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#free_trial {}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	#free_trial {
		.Hero {
			.form_wrapper {
				margin: 0 auto;
			}

			.form {
				flex-basis: 100%;
				max-width: 100%;
				z-index: 10;

				h1 {
					margin-bottom: calc(min(80vw, 40rem));
				}
			}

			.Form {
				max-width: 100%;

				form {
					.field label {
						top: 1.8rem;

						span {
							font-size: 1.6rem;
						}
					}

					.actions {
						text-align: center;

						input[type="submit"].hs-button {
							margin: 0 auto;
							width: auto;
						}
					}
				}
			}

			.person {
				height: auto;
				left: 50%;
				max-width: 50rem;
				position: absolute !important;
				top: calc(min(35vw, 20rem));
				transform: translateX(-50%);
				width: 80vw;
				z-index: 1;
			}
		}

		.products {
			grid-template-columns: 1fr;
			padding-top: 9rem;
			row-gap: 6rem;

			.product_name {
				font-size: 3rem;
			}

			.product_description {
				font-size: 2.4rem;
			}

			.product_link {
				font-size: 2rem;
			}
		}

		.quotes {
			.quote_sign {
				top: 6rem;
			}

			blockquote {
				flex-flow: column nowrap;
				padding: 0;
				padding-left: $tankPadding;
				padding-right: $tankPadding;
				top: 12rem;

				p,
				cite {
					flex-basis: auto;
					margin: 0 0 3rem;
					max-width: 100%;
					right: auto;
					width: 100%;
				}
			}

			&.single {
				.quote_sign {
					top: 6rem;
				}

				blockquote {
					top: 12rem;
				}
			}
		}

		.shin {
			padding: 3rem 0;

			.Tank {
				flex-direction: column;
			}

			.CTA {
				margin: 2rem auto;
				width: auto;
			}
		}
	}
}

@media (max-width: $xs_max_width) {
	#free_trial {}
}

@media (max-width: $xs_max_width) and (orientation:landscape) {
	#free_trial {}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#free_trial {
		.Hero {
			h1 {
				font-size: 7.6vw;
				margin-bottom: 44vw;
			}

			.form {
				top: 9rem;
			}

			.person {
				top: 18rem;
			}
		}

		.quotes {
			height: 54rem;
			padding-left: $tankPaddingXS;
			padding-right: $tankPaddingXS;

			blockquote {
				padding-left: $tankPaddingXS;
				padding-right: $tankPaddingXS;
			}

			&.single {
				height: 50rem;
			}
		}
	}
}