html[lang="fr"] {
	#global #page_ayuda_splash {
		.Hero .intro {
			.column:nth-of-type(1) {
				justify-content: flex-start;
			}

			.ayuda_splash_logo {
				position: relative;
				top: 1rem;
			}

			h3 {
				font-size: 7rem;
				line-height: 70%;
				margin-top: 3rem;

				em {
					display: block;
					white-space: nowrap;
					width: 100%;

					&:nth-child(1) {
						font-size: 82%;
						margin-bottom: 0.4rem;
					}

					&:nth-child(2) {
						font-size: 100%;
					}

					&:nth-child(3) {
						font-size: 82%;
					}
				}
			}
		}

		.manage_campaigns {
			$height: 54rem;

			.carousel {
				height: $height;

				.carousel_inner {
					height: $height;
				}
			}

			.carousel_item,
			.carousel_item>div {
				height: $height;
			}
		}

		.cross_promo {
			margin-bottom: 0;
		}
	}
}

@media (max-width: $tablet_max_width) {
	html[lang="fr"] {
		#global #page_ayuda_splash {
			.Hero .intro h3 {
				font-size: 6rem;
			}
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#global #page_ayuda_splash {
			.manage_campaigns {
				$height: 70rem;

				.carousel {
					height: $height;

					.carousel_inner {
						height: $height;
					}
				}

				.carousel_item,
				.carousel_item>div {
					height: $height;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#global #page_ayuda_splash {
			.Hero .intro {
				h3 {
					font-size: 7rem;
					line-height: 90%;
					max-width: 62rem;
					width: 100%;

					em {

						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3) {
							display: inline;
							font-size: 100%;
							margin: 0;
							white-space: normal;
						}
					}
				}
			}

			.manage_campaigns {

				.carousel,
				.carousel .carousel_inner,
				.carousel_item,
				.carousel_item>div {
					height: auto;
				}
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	html[lang="fr"] #global #page_ayuda_splash {
		.Hero {
			.intro h3 {
				font-size: 6rem;
			}
		}
	}
}

html[lang="es"] {}