@media (max-width: $tablet_max_width) {}

@media (max-width: $mobile_max_width) {}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $xs_max_width) {
	.blog.customer_spotlight.single {
		.Hero{
			height: 46rem;
		}
		.title {
			font-size: 5.2rem;
		}

		.hull {
			flex-flow: column nowrap;

			&>.column {
				&.col_meta {
					flex:0 0 auto;
					max-width: 100%;
					width: 100%;
				}

				&.col_content {
					margin-top: 6rem;
					max-width: 100%;
					width: 100%;
				}
			}
		}

		#customer_profile {
			height: auto;
			margin: 3rem 0;

			.item {
				.icon {
					max-width: 8rem;
					padding-right: 1rem;

					img {
						height: 5rem;
						width: 100%;
					}
				}

				.text {
					font-size: 1.4rem;
					line-height: 120%;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:landscape){
	.blog.customer_spotlight.single {
		.hull>.column{
			&.col_meta{
				flex: 0 0 calc(30% - 3rem);
				max-width: calc(30% - 3rem);
				width: calc(30% - 3rem);
			}
			&.col_content{
				flex: 0 0 70%;
				max-width: 70%;
				width: 70%;
			}
		}
		.promoboxes {
			flex:0 0 auto;
		 }
	}
}

@media (max-width: $xs_max_width) {
	.blog.customer_spotlight.single {
		#customer_profile {

			.item {
				padding-left: 1rem;
				padding-right: 1rem;

				.icon {
					padding-right: 0.4rem;

					img {
						height: 3rem;
					}
				}

				.text {
					font-size: 1.2rem;
					line-height: 100%;
				}
			}
		}
		 .promoboxes {
			left:0;
			max-width: calc(100% + 40px);
			width: calc(100% + 40px);
			flex:0 0 auto;
		 }
		 .back_link{
			 padding-left:0;
			 padding-right:0;
		 }
	}
}