@media (max-width: $tank_max_width) {}

@media (max-width: $tablet_max_width) {
	#new_york_customer_summit_2019 {}

	#iab_research_launch_event .footer_img {
		display: inline-block;
		height: 22rem;
		width: 100%;

		img,
		picture {
			height: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#iab_research_launch_event {
		.hull {
			padding-top: 10rem;

			.Row {
				flex-flow: column nowrap;

				.column {
					flex-basis: 100%;
					max-width: 100%;

					&.info {

						.footer_img {
							display: block;
							flex-basis:calc(100% + #{$tankPaddingPhone * 2});
							left: -$tankPaddingPhone;
							max-width:calc(100% + #{$tankPaddingPhone * 2});
							width:calc(100% + #{$tankPaddingPhone * 2});
						}
					}

					&.form {
						border-radius: 0;
						box-shadow: 4px 4px 10px rgba($blue, 0.6);
						flex-basis:calc(100% + #{$tankPaddingPhone * 2});
						left: -$tankPaddingPhone;
						max-width:calc(100% + #{$tankPaddingPhone * 2});
						width:calc(100% + #{$tankPaddingPhone * 2});
					}
				}
			}
		}

		.footer_img {
			display: none;
			margin-top: 6rem;
		}

		&.thank_you {
			.footer_img {
				display: inline-block;
				height: auto;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:landscape) {
	#iab_research_launch_event {
		&.thank_you {
			.hull {
				padding-top: 20vh;
			}

			.footer_img {
				height: auto;
				margin-top: 10vh;
			}
		}
	}
}

@media (max-width: $xs_max_width) {}

@media (max-width: $super_xs_max_width) {}

@media (min-height: 1500px) {
	#iab_research_launch_event {
		min-height: calc(100vh - 50rem);

		&:not(.thank_you) {
			.footer_img {
				position: absolute !important;
				width: 100%;
			}
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait),
(max-width: $super_xs_max_width) {}

@media (max-width: $xs_max_width) and (orientation:portrait),
(max-width: $super_xs_max_width) {}