@media (max-width: $tank_max_width) {
	#broadsign_reach {
		.Hero {}

		.intro {
			padding-left: $tankPadding;
			padding-right: 0;

			.ImgFlank {
				flex-flow: row;
			}
		}
	}
}

@media (max-width: $tablet_max_width) {
	#broadsign_reach {
		.Hero {}

		.tabs .tabs_bar button {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.intro {
			padding-right: 0;

			.ImgFlank {
				.lead>p {
					padding-right: 0;
				}
			}

			.CTAArrow {
				width: 150%;

				.shaft {
					padding-right: 0;
				}
			}
		}
	}
}

@media (max-width: $tablet_max_width) and (orientation:portrait) {
	#broadsign_reach {
		.intro {
			padding-right: $tankPaddingPhone;

			.ImgFlank {
				border-bottom: 1rem dotted $ultra;
				padding-bottom: 6rem;

				aside {
					align-items: flex-start;
					justify-content: center;

					img {
						max-width: calc(100% + #{$tankPaddingPhone});
						width: calc(100% + #{$tankPaddingPhone});
					}
				}

				.lead {
					justify-content: center;

					&>p {
						font-size: 5.2rem;
					}
				}
			}

			.CTAArrow {
				margin-top: 3rem;
				max-width: 100%;
				width: 100%;

				.shaft {
					background-color: transparent;
					flex-basis: 100%;
					margin: 0;
					max-width: 100%;
					padding: 0;
					width: 100%;

					p {
						display: none;
					}
				}

				.head {
					display: none;
				}
			}
		}
	}
}

@media (max-width: $mobile_max_width) {
	#broadsign_reach {
		.Hero {}

		.CTAArrow {
			.shaft {
				padding: 1.5rem 3rem;
			}
		}

		.intro {
			.CTA {
				white-space: normal;
			}

			aside img {
				transform: translateX(20%);
			}
		}

		.tabs .tabs_bar button {
			padding: 1rem 1.5rem;
		}

		.control_network {
			padding-bottom: 6rem;
			padding-top: 6rem;

			.ImgFlank {
				justify-content: space-between;

				aside {
					display: none;
				}

				.lead {
					max-width: 100%;
				}

				.ImgHat {
					flex-flow: row;
					max-width: calc(50% - 1.5rem);
					width: calc(50% - 1.5rem);

					img {
						left: 0;
					}

					.Row {
						width: 50%;
					}

					.column {
						padding-left: 2rem;
					}
				}
			}
		}

		.DQuote {
			margin-bottom: 6rem;
			margin-top: 0;
			padding-right: 0;

			img {
				display: none;
			}

			blockquote {
				border-radius: 0;
				font-size: 2.2rem;
				margin: 0;
				padding-left: $tankPaddingPhone;
				padding-right: $tankPaddingPhone;
			}
		}

		.insights {
			img {
				max-width: 50%;
			}
		}

		.network_worth {
			height: auto;

			.ImgFlank {
				flex-flow: column;

				.lead {
					margin-bottom: 6rem;
					max-width: 100%;
					order: 1;
					width: 100%;

					.CTABlock {
						margin: 0 0 6rem;
					}
				}

				aside {
					max-width: 100%;
					opacity: 0.5;
					order: 2;
					position: absolute;
					top: 14rem;
					width: 100%;

					img {
						left: 20%;
						max-width: 40%;
					}
				}
			}
		}

		.audience {
			.ImgFlank .lead ul li span {
				font-size: 2.2rem;
			}
		}

		.stats {
			.ImgHat {
				flex-basis: calc(33.33333% - 1.5rem);
				max-width: calc(33.33333% - 1.5rem);

				&>.Row>img {
					height: 12rem;
					margin-bottom: 2rem;
				}
			}
		}

		.SpielPoster {
			.LogosList .logos {
				img {}
			}
		}

		.verticals {
			margin: 6rem 0;
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	#broadsign_reach {
		.Hero {}

		.audience {
			padding: 3rem $tankPaddingPhone 0;

			img {
				max-width: 30%;
			}

			.ImgFlank {
				flex-flow: column;

				h3 {
					font-size: 2.2rem;
					text-align: center;
				}

				aside {
					max-width: 100%;
					width: 100%;
				}

				.lead {
					max-width: 100%;
					padding-top: 2rem;
					width: 100%;

					p {
						font-size: 2.2rem;
					}
				}
			}
		}

		#DOOH_book {
			display: none;
		}

		.verticals {
			h3 {
				text-align: center;
			}

			.Row {
				flex-flow: row wrap;
				height: auto;
				justify-content: center;

				img {
					flex: 1 1 30%;
					margin: 2rem 2rem 0;
					max-width: 25%;
				}
			}
		}

		.stats {
			.ImgHat {
				flex-basis: 100%;
				margin-bottom: 4rem;
				max-width: 100%;
			}
		}
	}
}

@media (max-width: $xs_max_width) {
	#broadsign_reach {
		.Hero {}

		.network_worth {
			.ImgFlank aside {
				display: none;
			}
		}
	}
}

@media (max-width: $xs_max_width) and (orientation:portrait) {
	#broadsign_reach {
		.Hero {}

		.tabs .tabs_bar button {
			font-size: 2.2rem;
		}

		.intro {
			padding-left: $tankPaddingXS;
			padding-right: $tankPaddingXS;

			.ImgFlank {
				.lead {
					p {
						font-size: 3.6rem;
					}
				}
			}

			.CTA {
				max-height: none;
			}
		}

		.benefits {
			aside {
				flex: 20%;
				max-width: 9rem;
			}

			.lead {
				flex: 80%;
				max-width: calc(100% - 9rem);
				padding-left: 2rem;
			}
		}

		.control_network {
			.lead {
				flex: 1 1 auto;

				&>.Row {
					flex-flow: column nowrap;
					max-width: 100%;
					width: 100%;

					.ImgHat {
						flex: 0 0 100%;
						flex-flow: row nowrap;
						margin-bottom: 3rem;
						max-width: 100%;
						width: 100%;

						&:last-of-type {
							margin-bottom: 0;
						}

						.Row {
							flex: 20%;
							justify-content: flex-start;
							max-width: 8rem;
						}

						.column {
							flex: auto;
							max-width: calc(100% - 8rem);
							padding: 0 0 0 3rem;
							position: relative;
							top: -0.4rem;
							width: calc(100% - 8rem);

							h3 {
								font-size: 2.6rem;
								line-height: 100%;
							}

							p {
								font-size: 2.2rem;
								width: 100%;
							}
						}
					}
				}
			}

			.ImgFlank .ImgHat img {
				height: auto;
			}
		}

		.insights {
			.ImgHat {
				flex-basis: 100%;
				margin: 3rem auto;
				max-width: 100%;

				&>.Row {
					max-height: 30vw;
				}
			}

			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 420px) and (orientation:portrait) {
	#broadsign_reach .Hero {}
}

@media (max-width: $super_xs_max_width) {
	#broadsign_reach .intro {
		padding-right: $tankPaddingXS;

		.ImgFlank {
			aside {
				img {
					max-width: calc(100% + #{$tankPaddingXS});
					width: calc(100% + #{$tankPaddingXS});
				}
			}
		}

		.DQuote {
			blockquote {
				padding-left: $tankPaddingXS;
				padding-right: $tankPaddingXS;
			}
		}

		.audience {
			padding-left: $tankPaddingXS;
			padding-right: $tankPaddingXS;
		}
	}
}