html[lang="fr"] {}

html[lang="es"] {}

html[lang="de"] {
	.Modal.modal_pricing {
		h2 {
			align-self: flex-start;
			max-width: 40ch;
		}
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {
	html[lang="fr"] {
		#pricing .plan .CTA {
			max-height: none;
			max-width: 80%;
			white-space: normal;
		}
	}
}