//NETLIFY CMS at the /admin
.frame-content {
    .css-1gj2677 {
		width: 100%;
		height: 100%;
        div {
            position: relative;
            height: 300px;
            width: 100%;
            .css-1wfkwts {
                position: relative;
                height: 100%;
				width: 100%;
				p{
					img{

					}
				}

                img {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }
	}
}
