@mixin embed_font($name, $file, $weight) {
	$filepath: "/fonts/"+$file;

	@font-face {
		font-family: $name;
		font-weight: $weight;
		font-display: swap;
		src: url($filepath+".woff2") format("woff2"),
			url($filepath+".woff") format("woff");
	}
}

@include embed_font("Roboto Thin", "Roboto-Thin", "100");
@include embed_font("Roboto Light", "Roboto-Light", "300");
@include embed_font("Roboto Regular", "Roboto-Regular", "400");
@include embed_font("Roboto Medium", "Roboto-Medium", "500");
@include embed_font("Roboto Bold", "Roboto-Bold", "700");
@include embed_font("Roboto Black", "Roboto-Black", "900");
@include embed_font("Roboto", "Roboto-Regular", "400");
@include embed_font("Merriweather", "Merriweather-Regular", "400");
@include embed_font("Merriweather Regular", "Merriweather-Regular", "400");
@include embed_font("Merriweather Bold", "Merriweather-Bold", "700");
@include embed_font("Merriweather Black", "Merriweather-Black", "900");

h1,
h2,
h3,
h4,
h5,
h6 {
	@include fontBolder;
	box-sizing: border-box;
	color: $blue;
	line-height: 140%;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

blockquote,
li,
p,
span,
ul,
.text {
	@include fontReg;
	box-sizing: border-box;
	color: $blue;
	line-height: 140%;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

p {
	font-size: 2.2rem;
}

a {
	color: $teal;
	line-height: inherit;
}

@mixin list_style_custom_bullets {
	align-items: center;
	background-size: 22px 22px;
	color: $ash;
	display: flex;
	font-size: 16px;
	padding: 0.8em 0 0.8em 2em;
}

ul {
	&.checks_gradient {
		li {
			@include list_style_custom_bullets;
			background: url("../img/ui/check_circle_gradient.svg") left 0.8em no-repeat;
		}
	}

	&.checks_positive {
		li {
			@include list_style_custom_bullets;
			background: url("../img/ui/check_circle_positive.svg") left 0.8em no-repeat;
		}
	}

	&.checks_negative {
		li {
			@include list_style_custom_bullets;
			background: url("../img/ui/check_circle_negative.svg") left 0.8em no-repeat;
		}
	}
}

blockquote,
span {
	color: inherit;
	font-family: inherit;
}

em {
	font-style: inherit;
	font-weight: inherit;
}

hr {
	border-color: $lightGrey;
	border-style: solid;
	margin: 6rem 0;
}

.font_size_4 {
	font-size: 4rem;
}

.font_size_3_4 {
	font-size: 3.4rem;
}

.font_size_3 {
	font-size: 3rem;
}

.font_size_2 {
	font-size: 2rem;
}

.font_size_2_4 {
	font-size: 2.4rem;
}

.font_size_2_2 {
	font-size: 2.2rem;
}

.font_size_1_8 {
	font-size: 1.8rem;
}

.font_size_1_6 {
	font-size: 1.6rem;
}

.font_size_1_4 {
	font-size: 1.4rem;
}

.font_size_1_2 {
	font-size: 1.2rem;
}

.font-thin {
	font-family: "Roboto Thin", "Roboto" !important;
	font-weight: 100 !important;
}

.font-light {
	font-family: "Roboto Light", "Roboto" !important;
	font-weight: 300 !important;

	&.font-serif {
		font-family: "Merriweather Light", "Merriweather" !important;
	}
}

.font-serif {
	font-family: "Merriweather" !important;
}

.font-regular {
	font-family: "Roboto" !important;
	font-weight: 400 !important;

	&.font-serif {
		font-family: "Merriweather" !important;
	}
}

.font-medium {
	font-family: "Roboto Medium", "Roboto" !important;
	font-weight: 500 !important;
}

.font-semibold {
	font-family: "Roboto Semibold", "Roboto" !important;
	font-weight: 600 !important;
}

.font-bold {
	font-family: "Roboto Bold", "Roboto" !important;
	font-weight: 700 !important;

	&.font-serif {
		font-family: "Merriweather Bold", "Merriweather" !important;
	}
}

.font-black {
	font-family: "Roboto Black", "Roboto" !important;
	font-weight: 900 !important;

	&.font-serif {
		font-family: "Merriweather Black", "Merriweather" !important;
	}
}


.font-superbold {
	font-family: "Roboto Black", "Roboto" !important;
	font-variant: small-caps !important;
	font-weight: 900 !important;
	text-transform: lowercase !important;

	&.font-serif {
		font-family: "Merriweather Black", "Merriweather" !important;
	}
}

.text-transform-none {
	text-transform: none !important;
}

@media (max-width: $tablet_max_width) {
	.font_size_3 {
		font-size: 3rem;
	}

	.font_size_2_4 {
		font-size: 2.4rem;
	}

	.font_size_2_2 {
		font-size: 2.2rem;
	}

	.font_size_1_8 {
		font-size: 1.8rem;
	}

	.font_size_1_6 {
		font-size: 1.6rem;
	}
}

@media (max-width: $mobile_max_width) and (orientation:portrait) {

	/* Calculation : 16px ~= 2.6rem ///  px * .1625 = rem */
	.font_size_3_4 {
		font-size: 3.6rem;
	}

	.font_size_3 {
		font-size: 3.2rem;
	}

	.font_size_2_4 {
		font-size: 2.6rem;
	}

	.font_size_2_2 {
		font-size: 2.4rem;
	}

	.font_size_1_8 {
		font-size: 2rem;
	}

	.font_size_1_6 {
		font-size: 1.8rem;
	}

	.sm_font_size_1_8 {
		font-size: 1.8rem;
	}

	hr {
		margin: $tankPadding auto;
		width: calc(100% - #{$tankPadding});
	}
}