#page_vertical_shopping_mall {
	.Hero {
		.text {
			max-width: 80rem;
		}

		.title {
			font-size: 11rem;

			span {
				font-size: 67.4%;
			}
		}
	}

	section.SpielPoster {
		height: 55rem;
		max-height: 70vh;
	}
}